<div class="page-header">
    <h1>
        Tableau de bord
        <small>
            <i class="icon-double-angle-right"></i>
            Les infos importantes de votre
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="space-6"></div>

            <div class="col-xs-12 infobox-container">
                <a href="/contracts">
                    <div class="infobox infobox-green ">
                        <div class="infobox-icon">
                            <i class="icon-file-text"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number"><?php echo count($contracts) . ' Contrat' . (count($contracts) > 1 ? 's' : '') ?></span>
                            <div class="infobox-content">en cours</div>
                        </div>
                    </div>
                </a>
                <a href="/calendar">
                    <div class="infobox infobox-orange">
                        <div class="infobox-icon">
                            <i class="icon-user"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number"><?php echo $nbChildren . ' Enfant' . ($nbChildren > 1 ? 's' : '') ?></span>
                            <div class="infobox-content">en garde aujourd'hui</div>
                        </div>
                    </div>
                </a>

                <div class="infobox infobox-pink" data-rel="tooltip" data-original-title="Heures effectuées calculées à partir de votre planning du <?php echo date('01-m-Y'); ?> au <?php echo date('d-m-Y'); ?>">
                    <div class="infobox-icon">
                        <i class="icon-time"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number"><?php echo $curentTimeGard; ?></span>
                        <div class="infobox-content">Heures effectuées</div>
                    </div>
                </div>

                <div class="infobox infobox-red" data-rel="tooltip" data-original-title="<?php echo ($identity->getProfile()->getName() == 'Nourrice' ? 'Salaire' : 'Coût') ?> actuel donné à titre indicatif, calculé à partir de votre planning, du 1er au <?php echo date('d-m-Y'); ?>. Ne prend pas en compte les éventuels frais de repas.">
                    <div class="infobox-icon">
                        <i class="icon-money"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number"><?= number_format($currentIndemnityCost + $salary, 2); ?>€</span>
                        <div class="infobox-content"><?php echo ($identity->getProfile()->getName() == 'Nourrice' ? 'Salaire' : 'Coût') ?> actuel</div>
                    </div>
                </div>

                <div class="infobox infobox-orange" data-rel="tooltip" data-original-title="Heures calculées à partir de votre planning global de <?php echo Nannyster\Controllers\ControllerBase::returnMonthName(date('m')) . ' ' . date('Y') ?>">
                    <div class="infobox-icon">
                        <i class="icon-time"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number"><?php echo $timeGard; ?></span>
                        <div class="infobox-content">Heures (<?php echo Nannyster\Controllers\ControllerBase::returnMonthName(date('m'), true) . ' ' . date('Y') ?>)</div>
                    </div>
                </div>

                <div class="infobox infobox-blue2" data-rel="tooltip" data-original-title="<?php echo ($identity->getProfile()->getName() == 'Nourrice' ? 'Salaire' : 'Coût') ?> théorique donné à titre indicatif, calculé à partir de votre planning de ce mois complet. Ne prend pas en compte les éventuels frais de repas.">
                    <div class="infobox-icon">
                        <i class="icon-money"></i>
                    </div>
                    <div class="infobox-data">
                        <span class="infobox-data-number"><?php echo number_format($monthSalary + $indemnityCost, 2); ?>€</span>
                        <div class="infobox-content"><?php echo ($identity->getProfile()->getName() == 'Nourrice' ? 'Salaire' : 'Coût') ?> théorique</div>
                    </div>
                </div>
            </div>
        </div><!-- /row -->

        <div class="space-10"></div>

        <div class="row center well">
            <div class="col-xs-12">
                <h1>Maintenant que je suis inscrit, comment procéder ?</h1>
                <div class="row">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 margin-20">
                            <div class="bigger-300">
                                1
                            </div>
                            <div class="bigger-150">
                                <strong>L'assistante maternelle</strong> créer le contrat de garde et l'imprime directement depuis Nannyster
                                <div><a href="/contracts" class="btn btn-primary"><i class="icon-file-text"></i> Accéder aux contrats</a></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="bigger-300">
                                2
                            </div>
                            <div class="bigger-150">
                                <strong>Parents employeurs</strong> et <strong>assistante maternelle</strong> peuvent consulter et modifier le planning de garde directement sur Nannyster
                                <div><a href="/calendar" class="btn btn-primary"><i class="icon-calendar"></i> Accéder aux plannings</a></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="bigger-300">
                                3
                            </div>
                            <div class="bigger-150">
                                Générez les fiches de paie, fin de contrats, etc, automatiquement sur Nannyster en un clic
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-10"></div>
        <div class="row">

            <div class="col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            <i class="icon-signal"></i>
                            Infos <?= $this->config->application->siteTitle ?>
                        </h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-4">
                            <h5>A venir sur <?= $this->config->application->siteTitle ?> :</h5>
                            <ul>
                                <li>Bientôt, générez vos fiches de paie sur <?= $this->config->application->siteTitle ?>. Vos fiches de paie reprendront les informations que vous aurez saisies dans vos plannings pour calculer tous les montants.</li>
                                <li>Bientôt, créez des avenants à vos contrats de garde, et imprimez-les directement depuis <?= $this->config->application->siteTitle ?>.</li>
                                <li>Bien d'autres choses sont en cours...mais cela reste une surprise!!!</li>
                            </ul>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div>

            <div class="col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            <i class="icon-user"></i>
                            En garde aujourd'hui
                        </h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <table class="table table-bordered">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <th>
                                            L'enfant
                                        </th>

                                        <th>
                                            Horaires
                                        </th>

                                        <th>
                                            <?= ($identity->getProfile()->getName() == 'Nourrice') ? 'Parents' : 'Nourrice' ?>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <?php if ($todayCalendars): ?>
                                        <?php foreach ($todayCalendars as $calendar): ?>
                                            <tr>
                                                <td><?= ucfirst($calendar->getContract()->getChildFirstname()) . ' ' . strtoupper($calendar->getContract()->getChildSurname()) ?></td>

                                                <td>
                                                    de <?= date('H:i', $calendar->getStart()) ?> à <?= date('H:i', $calendar->getEnd()) ?>
                                                </td>
                                                <td>
                                                    <?= ($identity->getProfile()->getName() == 'Nourrice') ? $calendar->getContract()->getMother()->getFormatedName() . ' / ' . $calendar->getContract()->getFather()->getFormatedName() : $calendar->getContract()->getNanny()->getFormatedName() ?>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                    <?php else: ?>
                                        <tr>
                                            <td class="no-contract-cal" colspan="3">
                                                Aucun enfant en garde aujourd'hui
                                            </td>
                                        </tr>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div>  
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
