<div class="page-header">
    <h1>
        Factures
        <small>
            <i class="icon-double-angle-right"></i>
            Toutes vos factures
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <?php if ($invoices): ?>
                        <table id="invoices-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Montant</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <?php foreach ($invoices as $invoice): ?>
                                    <tr>
                                        <td>
                                            <?=
                                            $invoice->getId()
                                            ?>
                                        </td>
                                        <td>
                                            <?=
                                            \Nannyster\Controllers\ControllerBase::returnDateTime($invoice->getDate(), 'date')
                                            ?>
                                        </td>
                                        <td>
                                            <?=
                                            $invoice->getTransaction()->getTotal() . '€'
                                            ?>
                                        </td>
                                        <td>
                                            <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                <?php
                                                echo $this->tag->linkTo(array(
                                                    'invoices/print/' . (string) $invoice->getId(),
                                                    '<i class="icon-print bigger-130"></i>',
                                                    'class' => 'green',
                                                    'target' => '_blank',
                                                    'data-rel' => 'tooltip',
                                                    'title' => 'Voir / Imprimer'
                                                ));
                                                echo $this->tag->linkTo(array(
                                                    'invoices/download/' . (string) $invoice->getId(),
                                                    '<i class="icon-cloud-download bigger-130"></i>',
                                                    'class' => 'blue',
                                                    'data-rel' => 'tooltip',
                                                    'title' => 'Télécharger'
                                                ));
                                                ?>
                                            </div>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="inline position-relative">
                                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-caret-down icon-only bigger-120"></i>
                                                    </button>

                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                        <li>
                                                            <?php
                                                            echo $this->tag->linkTo(array(
                                                                'invoices/print/' . (string) $invoice->getId(),
                                                                '<i class="icon-print bigger-120"></i>',
                                                                'class' => 'green',
                                                                'target' => '_blank',
                                                                'data-rel' => 'tooltip',
                                                                'title' => 'Voir / Imprimer'
                                                            ));
                                                            ?>
                                                        </li>
                                                        <li>
                                                            <?php
                                                            echo $this->tag->linkTo(array(
                                                                'invoices/download/' . (string) $invoice->getId(),
                                                                '<i class="icon-cloud-download bigger-120"></i>',
                                                                'class' => 'blue',
                                                                'data-rel' => 'tooltip',
                                                                'title' => 'Télécharger'
                                                            ));
                                                            ?>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    <?php else: ?>
                        <div class="no-contracts">
                            Aucune facture
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>