<div class="space-6"></div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="widget-box transparent invoice-box">
            <div class="widget-header widget-header-large">
                <h3 class="grey lighter pull-left position-relative">
                    <i class="icon-leaf green"></i>
                    Facture
                </h3>

                <div class="widget-toolbar no-border invoice-info">
                    <span class="invoice-info-label">Facture:</span>
                    <span class="red">#<?= $invoice->getId() ?></span>

                    <br />
                    <span class="invoice-info-label">Date:</span>
                    <span class="blue"><?= \Nannyster\Controllers\ControllerBase::returnDateTime($invoice->getDate(), 'date') ?></span>
                </div>

                <div class="widget-toolbar hidden-480">
                    <a href="#">
                        <i class="icon-print"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-24">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                    <b><?= $this->config->company->name ?></b>
                                </div>
                            </div>

                            <div class="row">
                                <ul class="list-unstyled spaced">
                                    <li>
                                        <i class="icon-caret-right blue"></i>
                                        <?= $this->config->company->address ?>
                                    </li>

                                    <li>
                                        <i class="icon-caret-right blue"></i>
                                        <?= $this->config->company->zip_code . ', ' . $this->config->company->city ?>
                                    </li>

                                    <li>
                                        <i class="icon-caret-right blue"></i>
                                        <?= $this->config->company->email ?>
                                    </li>

                                    <li>
                                        <i class="icon-caret-right blue"></i>
                                        SIRET : <?= $this->config->company->siret ?>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /span -->

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                    <b><?= $invoice->getUser()->getFormatedName() ?></b>
                                </div>
                            </div>

                            <div>
                                <ul class="list-unstyled  spaced">
                                    <li>
                                        <i class="icon-caret-right green"></i>
                                        <?= $invoice->getUser()->getAddress()->getAddresses() ?>
                                    </li>

                                    <li>
                                        <i class="icon-caret-right green"></i>
                                        <?= $invoice->getUser()->getAddress()->getCity()->getZipCode() . ', ' . $invoice->getUser()->getAddress()->getCity()->getRealName() ?>
                                    </li>

                                    <li>
                                        <i class="icon-caret-right green"></i>
                                        <?= $invoice->getUser()->getEmail() ?>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /span -->
                    </div><!-- row -->

                    <div class="space"></div>

                    <div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="center">#</th>
                                    <th>Produit</th>
                                    <th class="hidden-xs">Description</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="center">1</td>

                                    <td>
                                        <?= $invoice->getSubscription()->getSubscriptionBase()->getName() ?>
                                    </td>
                                    <td class="hidden-xs">
                                        <?= $invoice->getSubscription()->getSubscriptionBase()->getDescription() ?>
                                    </td>
                                    <td>
                                        <?= $invoice->getSubscription()->getSubscriptionBase()->getPrice() ?>€
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="hr hr8 hr-double hr-dotted"></div>

                    <div class="row">
                        <div class="col-sm-5 pull-right">
                            <h4 class="pull-right">
                                Total :
                                <span class="red"><?= $invoice->getTransaction()->getTotal() ?>€</span>
                            </h4>
                        </div>
                        <div class="col-sm-7 pull-left">
                            Facture payée par 
                            <?php
                            switch ($invoice->getTransaction()->getPaymentMethod()) {
                                case 'credit_card':
                                    echo 'carte de crédit';
                                    break;
                                case 'paypal':
                                    echo 'PayPal';
                                    break;
                            }
                            ?>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>