<div class="page-header">
	<h1>
		Planning
		<small>
			<i class="icon-double-angle-right"></i>
			Le planinng de tous vos contrats
		</small>
	</h1>
</div><!-- /.page-header -->
<?php $contract = new \Nannyster\Models\Contracts(); ?>
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="alert alert-info">
            <strong><i class="icon-info-sign"></i> Aide</strong>
            <ul>
                <li>
                    Déplacez vos contrats sur le calendrier pour créer un nouvel événement.
                </li>
                <li>
                    La durée par défaut de l'événement est déterminée grâce aux données du contrat. Vous pouvez la modifier en étirant l'événement par le bas.
                </li>
                <li>
                    Déplacez les événements sur le calendrier pour en modifier l'heure et la date de début.
                </li>
                <li>
                    Cliquez sur l'événement pour plus d'options.
                </li>
            </ul>
            
            
        </div>
		<div class="row">
			<div class="col-sm-10">
				<div class="space"></div>
				<div id="calendar"></div>
			</div>

			<div class="col-sm-2">
				<div class="widget-box transparent">
					<div class="widget-header">
						<h4>Mes contrats</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main no-padding">
							<div id="external-events">
								<?php if($contracts): ?>
									<?php foreach ($contracts as $contract): ?>
                                <div class="external-event label-<?php echo $contract->getColor() ?>" data-class="label-<?php echo $contract->getColor() ?>" data-contract-id="<?php echo $contract->getId() ?>" data-duration="<?php echo ceil($contract->getNbHourWeekly() / 5) ?>" data-creator="<?php echo $identity->getId() ?>"<?php echo ($contract->getContractStartDate()->sec > time() ? 'data-rel="tooltip" data-original-title="Ce contrat ne débute que le <br/>'.(\Nannyster\Controllers\ControllerBase::returnDateTime($contract->getContractStartDate(), 'date')).'"' : '') ?>>
										<i class="icon-move"></i>
										<?php echo ($contract->getContractStartDate()->sec > time() ? '<i class="icon-warning-sign red"></i> ' : '') ?>
										<?php echo ucwords($contract->getChildFirstname()).' '.strtoupper($contract->getChildSurname()); ?>
									</div>
									<?php endforeach; ?>
								<?php else: ?>
									<div class="no-contract-cal">
										Aucun contrat
									</div>
								<?php endif; ?>
							</div>
							<p id="saving-planning" class="hidden">
								<span class="orange"><strong>Enregistrement du planning</strong></span>
								<i class="icon-spin icon-spinner orange2 bigger-160"></i>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->