<div class="page-header">
    <h1>
        Créer un contrat
        <small>
            <i class="icon-double-angle-right"></i>
            Votre nouveau contrat en 5 étapes
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
                                <ul class="wizard-steps">
                                    <li data-target="#step1" class="active">
                                        <span class="step">1</span>
                                        <span class="title">Parties du contrat</span>
                                    </li>

                                    <li data-target="#step2">
                                        <span class="step">2</span>
                                        <span class="title">Période d'essai</span>
                                    </li>

                                    <li data-target="#step3">
                                        <span class="step">3</span>
                                        <span class="title">Durée d'accueil et horaires</span>
                                    </li>

                                    <li data-target="#step4">
                                        <span class="step">4</span>
                                        <span class="title">Rémunération</span>
                                    </li>

                                    <li data-target="#step5">
                                        <span class="step">5</span>
                                        <span class="title">Congés</span>
                                    </li>
                                </ul>
                            </div>

                            <hr />
                                <div class="step-content row-fluid position-relative" id="step-container">
                                <form action="" method="post" id="contract-ajax-form-part-1" class="form-horizontal">
                                    <div class="step-pane active" id="step1">
                                        <input type="hidden" name="_id" id="contract_id">
                                        <h3 class="lighter block green">1 - L'Enfant</h3>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="child_surname">Nom:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="child_surname" id="child_surname" class="col-xs-12 col-sm-6 uppercase" required/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="child_firstname">Prénom:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="child_firstname" id="child_firstname" class="col-xs-12 col-sm-6 capitalize" required/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="child_birth_date">Date de naissance:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" name="child_birth_date" id="child_birth_date" class="col-xs-12 col-sm-2" required/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="hr hr-dotted"></div>

                                        <h3 class="lighter block green">2 - Les Parents Employeurs</h3>
                                        <div class="form-group">
                                            <div id="alert-parents" class="alert alert-danger hidden">
                                                Au moins un de ces deux champs est requis
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <h5 class="lighter block orange" style="margin-left: 20px;">
                                                    2.1 - La Mère
                                                    <a href="#" id="delete-mother" class="btn btn-danger btn-minier pull-right hidden">
                                                        <i class="icon-remove"></i> Effacer cette fiche
                                                    </a>
                                                </h5>
                                                <div id="mother_actions" class="center">
                                                    <a href="#" id="import-mother" class="btn btn-primary">
                                                        <i class="icon-female"></i> Importer une fiche <?= $this->config->application->siteTitle ?>
                                                    </a>
                                                    <div class="space-2"></div>
                                                    <a href="#mother-modal-form" role="button" data-toggle="modal" id="create-mother" class="btn btn-success">
                                                        <i class="icon-signin"></i> Créer un compte <?= $this->config->application->siteTitle ?>
                                                    </a>
                                                </div>
                                                <div id="mother_infos" class="hidden"></div>
                                                <input type="hidden" id="mother_id" name="mother">
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <h5 class="lighter block orange" style="margin-left: 20px;">
                                                    2.2 - Le Père
                                                    <a href="#" id="delete-father" class="btn btn-danger btn-minier pull-right hidden">
                                                        <i class="icon-remove"></i> Effacer cette fiche
                                                    </a>
                                                </h5>
                                                <div id="father_actions" class="center alert">
                                                    <a href="#" id="import-father" class="btn btn-primary">
                                                        <i class="icon-male"></i> Importer une fiche <?= $this->config->application->siteTitle ?>
                                                    </a>
                                                    <div class="space-2"></div>
                                                    <a href="#father-modal-form" role="button" data-toggle="modal" id="create-father" class="btn btn-success">
                                                        <i class="icon-signin"></i> Créer un compte <?= $this->config->application->siteTitle ?>
                                                    </a>
                                                </div>
                                                <div id="father_infos" class="hidden"></div>
                                                <input type="hidden" id="father_id" name="father">
                                            </div>
                                        </div>
                                        <!--                                        <div class="hr hr-dotted"></div>
                                        
                                                                                <h5 class="lighter block orange" style="margin-left: 20px;">
                                                                                    2.3 - N° URSSAF ou PAJEMPLOI
                                                                                </h5>
                                        
                                        
                                        
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="urssaf_pajemploi_no">Votre numéro:</label>
                                        
                                                                                    <div class="col-xs-12 col-sm-9">
                                                                                        <div class="clearfix">
                                                                                            <input type="text" id="urssaf_pajemploi_no" name="urssaf_pajemploi_no" class="col-xs-12 col-sm-6" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>-->


                                        <div class="hr hr-dotted"></div>

                                        <h3 class="lighter block green">3 - L'assistante maternelle</h3>
                                        <input type="hidden" name="nanny" value="<?= (string) $identity->getId(); ?>" />
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="col-xs-12 col-sm-3 center">
                                                    <span class="profile-picture">
                                                        <img class="img-responsive" alt="<?= $identity->getFormatedName(); ?>" src="/img/avatars/<?= $identity->getAvatarFile(); ?>">
                                                    </span>
                                                </div>
                                                <div class="col-xs-12 col-sm-9">
                                                    <div class="profile-user-info">
                                                        <div class="profile-info-row">
                                                            <div class="contract-profile-info-name">
                                                                Prénom NOM
                                                            </div>
                                                            <div class="contract-profile-info-value">
                                                                <span>
                                                                    <?= $identity->getFormatedName(); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-info-row">
                                                            <div class="contract-profile-info-name">
                                                                Adresse
                                                            </div>
                                                            <div class="contract-profile-info-value">
                                                                <i class="icon-map-marker light-orange bigger-110"></i> 
                                                                <span>
                                                                    <?= $identity->getAddress()->getAddresses(); ?>
                                                                    <br>
                                                                    <?= (!$identity->getAddress()->getCity() ? '' : $identity->getAddress()->getCity()->getZipCode()) . ', ' . (!$identity->getAddress()->getCity() ? '' : $identity->getAddress()->getCity()->getRealName()); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-info-row">
                                                            <div class="contract-profile-info-name">
                                                                Téléphone
                                                            </div>
                                                            <div class="contract-profile-info-value">
                                                                <span>
                                                                    <?= $identity->getPhone(); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-info-row">
                                                            <div class="contract-profile-info-name">
                                                                Mobile
                                                            </div>
                                                            <div class="contract-profile-info-value">
                                                                <span>
                                                                    <?= $identity->getMobile(); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-info-row">
                                                            <div class="contract-profile-info-name">
                                                                Email
                                                            </div>
                                                            <div class="contract-profile-info-value">
                                                                <span>
                                                                    <?= $identity->getEmail(); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="col-xs-12 col-md-6">
                                                    <?php if($identity->getAutoInsurance() === null): ?>
                                                        <div class="alert alert-danger" data-rel="tooltip" data-original-title="Votre assurance automobile n'est pas renseignée dans votre profil">
                                                            Assurance automobile
                                                            <i class="icon-remove pull-right bigger-150"></i>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="alert alert-success">
                                                            Assurance automobile
                                                            <i class="icon-ok pull-right bigger-150"></i>
                                                        </div>
                                                    <?php endif; ?>
                                                    <?php if($identity->getCivilResponsability() === null): ?>
                                                        <div class="alert alert-danger" data-rel="tooltip" data-original-title="Votre responsabilité civile n'est pas renseignée dans votre profil">
                                                            Responsabilité civile
                                                            <i class="icon-remove pull-right bigger-150"></i>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="alert alert-success">
                                                            Responsabilité civile
                                                            <i class="icon-ok pull-right bigger-150"></i>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <?php if($identity->getAgreement() === null): ?>
                                                        <div class="alert alert-danger" data-rel="tooltip" data-original-title="Votre agrément n'est pas renseigné dans votre profil">
                                                            Agrément
                                                            <i class="icon-remove pull-right bigger-150"></i>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="alert alert-success">
                                                            Agrément
                                                            <i class="icon-ok pull-right bigger-150"></i>
                                                        </div>
                                                    <?php endif; ?>
                                                    <?php if($identity->getMoneyRate() === null): ?>
                                                        <div class="alert alert-danger" data-rel="tooltip" data-original-title="Votre salaire n'est pas renseigné dans votre profil">
                                                            Salaire
                                                            <i class="icon-remove pull-right bigger-150"></i>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="alert alert-success">
                                                            Salaire
                                                            <i class="icon-ok pull-right bigger-150"></i>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="lighter block green" style="margin-left: 20px;">4 - Début du contrat</h3>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="contract_start_date">Date début de l'accueil et du contrat:</label>

                                            <div class="col-xs-12 col-sm-2">
                                                <div class="clearfix">
                                                    <input type="text" id="date_debut_contrat" name="contract_start_date" class="col-xs-12 col-sm-6" />
                                                    <i class="icon-question-sign orange bigger-140 tooltip-extends-input" data-rel="tooltip" data-original-title="Cette date est fixée à compter du 1er jour de la période d'essai incluant la période d'adaptation."></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <form action="" method="post" id="contract-ajax-form-part-2" class="form-horizontal">
                                    <div class="step-pane" id="step2">

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="try_period_time">Durée de la période d'essai:
                                            </label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <select name="try_period_time" id="try_period_time">
                                                        <option value="1">1 mois</option>
                                                        <option value="2">2 mois</option>
                                                        <option value="3">3 mois</option>
                                                    </select>
                                                    <i class="icon-question-sign orange bigger-140 tooltip-extends-input" data-rel="tooltip" data-original-title="Si l'accueil prévu au contrat, s'effectue sur un, deux ou trois jours calendaires par semaine, la période d'essai aura une durée maximum de trois mois.<br/>Sinon la période d'essai maximale sera de 2 mois."></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="adaptation_period_modality">Modalités prévues pour la période d'adaptation:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div id="adaptation_period_modality" class="wysiwyg-editor"></div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <form action="" method="post" id="contract-ajax-form-part-3" class="form-horizontal">
                                    <div class="step-pane" id="step3">
                                        <h3 class="lighter block green">1 - Type d'accueil</h3>

                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                                <div class="radio">
                                                    <label>
                                                        <input value="accueil_mens_complete" name="guard_type" id="accueil_type" type="radio" class="ace">
                                                        <span class="lbl"> Mensualisation sur une année complète</span>
                                                        <i class="icon-question-sign orange bigger-140 tooltip-extends-input" data-rel="tooltip" data-original-title="L'enfant est confié toute l'année, les parents et l'Assistant(e) Maternel(le) prennent en même temps leurs cinq semaines de congés."></i>
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input value="accueil_mens_incomplete" name="guard_type" id="accueil_type" type="radio" class="ace">
                                                        <span class="lbl"> Mensualisation sur une année incomplète</span>
                                                        <i class="icon-question-sign orange bigger-140 tooltip-extends-input" data-rel="tooltip" data-original-title="Moins de 47 semaines."></i>
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input value="accueil_occasion" name="guard_type" id="accueil_type" type="radio" class="ace">
                                                        <span class="lbl"> Accueil occasionnel</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="hr hr-dotted"></div>

                                        <h3 class="lighter block green">2 - Planing hebdomadaire</h3>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="nb_hour_weekly">Nombre d'heures par semaine:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" class="input-mini col-xs-12 col-sm-6" id="nb_hour_weekly" name="nb_hour_weekly" value ="45">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="detail_hour_per_day">Détail par jour:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div id="detail_hour_per_day" class="wysiwyg-editor">
                                                    lundi : <br/>
                                                    mardi : <br/>
                                                    mercredi : <br/>
                                                    jeudi : <br/>
                                                    vendredi : <br/>
                                                    samedi : <br/>
                                                    dimanche : <br/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="special_guard_modality">Modalités spéciales d'accueil:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div id="special_guard_modality" class="wysiwyg-editor"></div>
                                            </div>
                                        </div>


                                        <div class="hr hr-dotted"></div>

                                        <h3 class="lighter block green">3 - Planing annuel</h3>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="guard_week_nb">Dates ou numéros des semaines d'accueil:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div id="guard_week_nb" class="wysiwyg-editor"></div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="vacancy_week_nb">Dates ou numéros des semaines d'absence:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div id="vacancy_week_nb" class="wysiwyg-editor"></div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="time_change_week_nb">Délai de prévenance en cas de modification des semaines d'accueil programmées:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="time_change_week_nb" name="time_change_week_nb" class="col-xs-12 col-sm-6" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="weekly_rest">Repos hebdomadaire le:</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <select name="weekly_rest" id="weekly_rest">
                                                        <option selected="selected" value="dimanche">Dimanche</option>
                                                        <option value="lundi">Lundi</option>
                                                        <option value="mardi">Mardi</option>
                                                        <option value="mercredi">Mercredi</option>
                                                        <option value="jeudi">Jeudi</option>
                                                        <option value="vendredi">Vendredi</option>
                                                        <option value="samedi">Samedi</option>
                                                    </select>
                                                    <i class="icon-question-sign orange bigger-140 tooltip-extends-input" data-rel="tooltip" data-original-title="Le jour habituel de repos hebdomadaire est pris le même jour en cas de multi-employeurs. Si exceptionnellement le jour de repos est travaillé, il est rémunéré ou récupéré, majoré dans les deux cas de 25%."></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <form action="" method="post" id="contract-ajax-form-part-4" class="form-horizontal">
                                    <div class="step-pane" id="step4">
                                        <h3 class="lighter block green">1 - Salaire horaire</h3>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="hourly_rate">Salaire horaire <strong>brut</strong> (€):</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="salaire_horaire_brut" name="hourly_rate" class="col-xs-12 col-sm-2" value="<?php echo ($identity->getMoneyRate() != null) ? $identity->getMoneyRate()->getHourlyRate() : ''; ?>" />
                                                    <i class="icon-question-sign orange bigger-140 tooltip-extends-input" data-rel="tooltip" data-original-title="Le salaire horaire brut de base ne peut êter inférieur à 0.281 X SMIC."></i>
                                                </div>
                                            </div>
                                        </div>

                                        <?php
                                        if ($identity->getMoneyRate() !== null) {
                                            $baseUserTxHoNet = $userTxHoNet = $identity->getMoneyRate()->getHourlyRate();
                                        }
                                        else {
                                            $baseUserTxHoNet = $userTxHoNet = 0;
                                        }
                                        foreach ($cotisations as $cotisation) {
                                            
                                            $userTxHoNet -= number_format(($baseUserTxHoNet * $cotisation->getBase() / 100) * ($cotisation->getEmployeeRate() / 100), 2);
                                        }
                                        ?>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="hourly_rate_net">Salaire horaire <strong>net</strong> (€):</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="salaire_horaire_net" name="hourly_rate_net" class="col-xs-12 col-sm-2" value="<?php echo round($userTxHoNet, 2); ?>" readonly/>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="hr hr-dotted"></div>

                                        <h3 class="lighter block green">2 - Salaire mensuel brut</h3>

                                        <div class="form-group">
                                            <div id="calcul-mensualisation" class="col-xs-12 col-sm-9 col-sm-offset-2">
                                                <span class="error">Veuillez choisir le type d'accueil dans la page précédente.</span>
                                            </div>
                                        </div>


                                        <div class="hr hr-dotted"></div>

                                        <h3 class="lighter block green">3 - Majorations</h3>
                                        <h5 class="lighter block orange" style="margin: 20px;">3.1 - Heures majorées</h5>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="hours_maj_rate">Taux de majoration (%):</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="hours_maj_rate" name="hours_maj_rate" class="col-xs-12 col-sm-2" value="50" />
                                                    <i class="icon-question-sign orange bigger-140 tooltip-extends-input" data-rel="tooltip" data-original-title="Le taux de majoration est appliqué à partir de la 46ème heure hebdomadaire d'accueil. Il est laissé à la négociation des deux parties."></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="hours_maj_value">Montant de la majoration <strong>brute</strong> (€ / h):</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" readonly="readonly" id="hours_maj_value" name="hours_maj_value" class="col-xs-12 col-sm-2" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="hr hr-dotted"></div>

                                        <h5 class="lighter block orange" style="margin: 20px;">3.2 - Majoration pour difficultés particulières</h5>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="difficulty_maj_rate">Taux de majoration (%):</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" id="difficulty_maj_rate" name="difficulty_maj_rate" class="col-xs-12 col-sm-2" value="0" />
                                                    <i class="icon-question-sign orange bigger-140 tooltip-extends-input" data-rel="tooltip" data-original-title="L'accueil d'un enfant présentant des difficultés particulières, temporaires ou permanentes, donne droit à majoration du salaire à prévoir au contrat en fonction de l'importance et des difficultés susitées par l'accueil de l'enfant."></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="difficulty_maj_value">Montant de la majoration <strong>brute</strong> (€ / h):</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input type="text" readonly="readonly" id="difficulty_maj_value" name="difficulty_maj_value" class="col-xs-12 col-sm-2" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="hr hr-dotted"></div>

                                        <h3 class="lighter block green">4 - Indemnités</h3>
                                        <h5 class="lighter block orange" style="margin: 20px;">4.1 - Frais d'entretien</h5>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="maintenance_allowance">Montant frais d'entretien (€ / jour):</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <input type="text" id="frais_entretien" name="maintenance_allowance" class="col-xs-12 col-sm-2" value="<?php echo ($identity->getMoneyRate() !== null) ? $identity->getMoneyRate()->getMaintenanceAllowance() : ''; ?>" />
                                            </div>
                                        </div>


                                        <div class="hr hr-dotted"></div>

                                        <h5 class="lighter block orange" style="margin: 20px;">4.2 - Frais de repas</h5>

                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-6 col-sm-offset-2">
                                                <div class="radio">
                                                    <label>
                                                        <input name="meal_given" value="parents" id="repas-fournis-parents" type="radio" class="ace" selected>
                                                        <span class="lbl"> Les repas sont fournis par les parents</span>
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input name="meal_given" value="nanny" id="repas-fournis-ass-mat" type="radio" class="ace">
                                                        <span class="lbl"> Les repas sont fournis par l'assistante maternelle</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="breakfast_costs_value">
                                                Petit déjeuner (€ / repas):
                                                <input name="breakfast_costs_value" id="switch-field-repas" data-value-target="<?php echo ($identity->getMoneyRate() !== null) ? $identity->getMoneyRate()->getBreakfastCosts() : ''; ?>" data-target="cout-petit-dejeuner" class="ace ace-switch ace-switch-6" disabled type="checkbox">
                                                <span class="lbl"></span>
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input type="text" id="cout-petit-dejeuner" name="breakfast_costs" disabled class="col-xs-12 col-sm-2" />	
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="lunch_costs_value">
                                                Déjeuner (€ / repas):
                                                <input name="lunch_costs_value" id="switch-field-repas" data-value-target="<?php echo ($identity->getMoneyRate() !== null) ? $identity->getMoneyRate()->getLunchCosts() : ''; ?>" data-target="cout-dejeuner" class="ace ace-switch ace-switch-6" disabled type="checkbox">
                                                <span class="lbl"></span>
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input type="text" id="cout-dejeuner" disabled name="lunch_costs" class="col-xs-12 col-sm-2" />	
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="snack_costs_value">
                                                Goûter (€ / repas):
                                                <input name="snack_costs_value" id="switch-field-repas" data-value-target="<?php echo ($identity->getMoneyRate() !== null) ? $identity->getMoneyRate()->getSnackCosts() : ''; ?>" data-target="cout-gouter" class="ace ace-switch ace-switch-6" disabled type="checkbox">
                                                <span class="lbl"></span>
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input type="text" id="cout-gouter" name="snack_costs" disabled class="col-xs-12 col-sm-2" />	
                                            </div>
                                        </div>

                                        <div class="space-2"></div>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="diner_costs_value">
                                                Dîner (€ / repas):
                                                <input name="diner_costs_value" id="switch-field-repas" data-value-target="<?php echo ($identity->getMoneyRate() !== null) ? $identity->getMoneyRate()->getDinerCosts() : ''; ?>" data-target="cout-diner" class="ace ace-switch ace-switch-6" disabled type="checkbox">
                                                <span class="lbl"></span>
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input type="text" id="cout-diner" name="diner_costs" disabled class="col-xs-12 col-sm-2" />	
                                            </div>
                                        </div>


                                        <div class="hr hr-dotted"></div>

                                        <h3 class="lighter block green">5 - Périodicité du paiement</h3>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="paiement_date">Salaire versé le: </label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <select name="paiement_date" id="paiement_date">
                                                        <?php for ($i = 1; $i <= 31; $i++): ?>
                                                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                                        <?php endfor; ?>
                                                    </select>
                                                    de chaque mois
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                                <form action="" method="post" id="contract-ajax-form-part-5" class="form-horizontal">
                                    <div class="step-pane" id="step5">
                                        <h3 class="lighter block green">1 - Fractionnement des congés payés</h3>

                                        <div class="form-group fraction-conges">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="fractionnement_conges_du_1">Du:</label>
                                            <div class="col-xs-12 col-sm-3">
                                                <input type="text" id="fractionnement_conges_du_1" name="fractionnement_conges_du_1">
                                            </div>
                                            <label class="control-label col-xs-12 col-sm-1 no-padding-right" for="fractionnement_conges_au_1">Au:</label>
                                            <div class="col-xs-12 col-sm-3">
                                                <input type="text" id="fractionnement_conges_au_1" name="fractionnement_conges_au_1">
                                            </div>
                                            <a href="#" class="btn btn-minier btn-primary" id="addVacancyPeriod">Ajouter une période</a>
                                        </div>


                                        <h3 class="lighter block green">2 - Rémunération des congés payés</h3>


                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="vacancy_payment_modality">Modalités de paiement des congés payés (en cas d'accueil sur une année incomplète):</label>

                                            <div class="col-xs-12 col-sm-9">
                                                <div class="radio">
                                                    <label>
                                                        <input value="conges_paye_juin" name="vacancy_payment_modality" id="conges_paye_juin" type="radio" class="ace">
                                                        <span class="lbl"> Payés une seule fois au mois de Juin.</span>
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input value="conges_paye_prise_principale" name="vacancy_payment_modality" id="conges_paye_prise_principale" type="radio" class="ace">
                                                        <span class="lbl"> Payés lors de la prise principale des congés.</span>
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input value="conges_payes_fur" name="vacancy_payment_modality" id="conges_payes_fur" type="radio" class="ace">
                                                        <span class="lbl"> Payés au fur et à mesure de la prise des congés.</span>
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input value="conges_payes_12" name="vacancy_payment_modality" id="conges_payes_12" type="radio" class="ace">
                                                        <span class="lbl"> Payés par 12ème chaque mois.</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <h3 class="lighter block green">3 - Jours feriés travaillés</h3>

                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="1er_janv">
                                                Le 1er Janvier:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="premier_janvier" id="1er_janv" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="paques">
                                                Le lundi de Pâques:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="paques" id="paques" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="8_mai">
                                                Le 8 Mai:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="huit_mai" id="8_mai" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="ascension">
                                                L'Ascension:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="ascension" id="ascension" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="pentecote">
                                                Le lundi de Pentecôte:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="pentecote" id="pentecote" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="14_juillet">
                                                Le 14 Juillet:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="quatorze_juillet" id="14_juillet" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="15_aout">
                                                Le 15 Août:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="quinze_aout" id="15_aout" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="toussaint">
                                                La Toussaint:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="toussaint" id="toussaint" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="11_nov">
                                                Le 11 Novembre:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="onze_nov" id="11_nov" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="noel">
                                                Le jour de Noël:
                                            </label>
                                            <div class="col-xs-12 col-sm-9">
                                                <input name="noel" id="noel" class="ace ace-switch ace-switch-6" type="checkbox">
                                                <span class="lbl"></span>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                </div>
                            

                            <hr />
                            <div class="row-fluid wizard-actions">
                                <button class="btn btn-prev">
                                    <i class="icon-arrow-left"></i>
                                    Précédent
                                </button>

                                <button class="btn btn-success btn-next" data-last="Terminer ">
                                    Suivant
                                    <i class="icon-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
<script type="text/javascript">
<?php
echo 'var cotisJson = ' . $cotisationsJson . ';';
?>
</script>
<div id="mother-modal-form" class="modal in" tabindex="-1" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal center" id="mother-form-account-cretor" role="form" name="motherCreateForm" novalidate>
                <input type="hidden" id="mother_civility" name="civility" value="Mme">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="blue bigger">Créer un compte <?= $this->config->application->siteTitle ?> pour la mère de l'enfant</h4>
                </div>

                <div class="modal-body overflow-visible">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <span class="profile-picture">
                                <?php
                                echo $this->tag->image(array(
                                    'img/avatars/default.jpg',
                                    'alt' => 'avatar',
                                    'class' => 'img-responsive'
                                ));
                                ?>
                            </span>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="mother_surname"> Nom </label>

                                <div class="col-sm-9">
                                    <input type="text" id="mother_surname" name="surname" class="form-control" data-required autofocus>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="mother_firstname"> Prénom </label>

                                <div class="col-sm-9">
                                    <input type="text" id="mother_firstname" name="firstname" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="mother_address"> Adresse </label>

                                <div class="col-sm-9">
                                    <input type="text" id="mother_address" name="address" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="mother_city"> Ville </label>

                                <div class="col-sm-9">
                                    <select id="mother_city_id_select" name="city" data-placeholder="Saisissez la ville..." class="chosen-select"></select>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="mother_email"> Email </label>

                                <div class="col-sm-9">
                                    <input type="email" id="mother_email" name="email" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="mother_phone"> Téléphone </label>

                                <div class="col-sm-9">
                                    <input type="text" id="mother_phone" name="phone" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="mother_mobile"> Mobile </label>

                                <div class="col-sm-9">
                                    <input type="text" id="mother_mobile" name="mobile" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Annuler
                    </button>

                    <button type="submit" class="btn btn-sm btn-primary" id="submit-new-mother-account">
                        <i class="icon-ok"></i>
                        Créer le compte
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="father-modal-form" class="modal in" tabindex="-1" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal center" id="father-form-account-cretor" role="form" name="fatherCreateForm" novalidate>
                <input type="hidden" id="father_civility" name="civility" value="Mr">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="blue bigger">Créer un compte <?= $this->config->application->siteTitle ?> pour la père de l'enfant</h4>
                </div>

                <div class="modal-body overflow-visible">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <span class="profile-picture">
                                <?php
                                echo $this->tag->image(array(
                                    'img/avatars/default.jpg',
                                    'alt' => 'avatar',
                                    'class' => 'img-responsive'
                                ));
                                ?>
                            </span>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="father_surname"> Nom </label>

                                <div class="col-sm-9">
                                    <input type="text" id="father_surname" name="surname" class="form-control" data-required autofocus>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="father_firstname"> Prénom </label>

                                <div class="col-sm-9">
                                    <input type="text" id="father_firstname" name="firstname" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="father_address"> Adresse </label>

                                <div class="col-sm-9">
                                    <input type="text" id="father_address" name="address" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="father_city"> Ville </label>

                                <div class="col-sm-9">
                                    <select id="father_city_id_select" name="city" data-placeholder="Saisissez la ville..." class="chosen-select"></select>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="father_email"> Email </label>

                                <div class="col-sm-9">
                                    <input type="email" id="father_email" name="email" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="father_phone"> Téléphone </label>

                                <div class="col-sm-9">
                                    <input type="text" id="father_phone" name="phone" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="father_mobile"> Mobile </label>

                                <div class="col-sm-9">
                                    <input type="text" id="father_mobile" name="mobile" class="form-control" data-required>
                                </div>
                            </div>
                            <div class="space-4"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Annuler
                    </button>

                    <button type="submit" class="btn btn-sm btn-primary" id="submit-new-father-account">
                        <i class="icon-ok"></i>
                        Créer le compte
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>