<div class="page-header">
    <h1>
        Contrats
        <small>
            <i class="icon-double-angle-right"></i>
            Tous vos contrats d'un clin d'oeil
        </small>
        <?php
        if ($this->acl->isAllowed($this->auth->getIdentity()->getProfile()->getName(), 'contracts', 'create')) {
            echo $this->tag->linkTo(array(
                'contracts/create',
                '<i class="icon-plus-sign"></i> Créer un nouveau contrat',
                'class' => 'btn btn-danger btn-sm pull-right'));
        }
        ?>
    </h1>
</div><!-- /.page-header -->
<?php if ($contracts): ?>
    <?php $i = 0; ?>
    <?php foreach ($contracts as $contract): ?>
        <?php
        if ($i % 2 == 0) {
            echo '<div class="row">';
        }
//        $contract = new \Nannyster\Models\Contracts();
        ?>
        <div class="col-sm-6 col-xs-12 widget-container-span">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h5 class="smaller"><?php
                        if ($contract->getChildBirthDate()) {
                            $age = (time() - $contract->getChildBirthDate()->sec) / 60 / 60 / 24 / 365.25;

                            echo ucwords($contract->getChildFirstname()) . ' ' . strtoupper($contract->getChildSurname()) . ' (' . (floor($age) > 1 ? floor($age) . ' ans' : (floor($age) == 1 ? floor($age) . ' an' : (floor($age) < 1 ? floor($age * 12) . ' mois' : 'erreur'))) . ') ';
                        }
                        echo '<span class="label label-' . ($contract->getClosed() !== false ? 'danger"' : ($contract->getContractStartDate() != null ? (time() < $contract->getContractStartDate()->sec ? 'warning" data-rel="tooltip" data-original-title="Début du contrat le<br/>' . date('d-m-Y', $contract->getContractStartDate()->sec) . '"' : 'success"') : 'danger"')) . '>' . ($contract->getClosed() != null ? 'Terminé' : ($contract->getContractStartDate() != null ? (time() < $contract->getContractStartDate()->sec ? 'En attente' : 'En cours') : '')) . '</span>';
                        ?></h5>

                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">
                                Actions
                                <span class="icon-caret-down icon-on-right"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-info dropdown-menu-right">

                                <?php
                                if ($this->acl->isAllowed($identity->getProfile()->getName(), 'amendments', 'create')) {
                                    echo '<li>' . $this->tag->linkTo(array(
                                        'amendments/create/' . $contract->getId(),
                                        '<i class="icon-plus-sign-alt purple bigger-120"></i> Créer un avenant'
                                    )) . '</li>';
                                }
                                if ($this->acl->isAllowed($identity->getProfile()->getName(), 'contracts', 'print')) {
                                    echo '<li>' . $this->tag->linkTo(array(
                                        'contracts/print/' . $contract->getId(),
                                        '<i class="icon-print green bigger-120"></i> Imprimer',
                                        'target' => '_blank'
                                    )) . '</li>';
                                }
                                if ($this->acl->isAllowed($identity->getProfile()->getName(), 'contracts', 'download')) {
                                    echo '<li>' . $this->tag->linkTo(array(
                                        'contracts/download/' . $contract->getId(),
                                        '<i class="icon-cloud-download blue bigger-120"></i> Télécharger'
                                    )) . '</li>';
                                }
                                if ($this->acl->isAllowed($identity->getProfile()->getName(), 'contracts', 'delete')) {
                                    echo '<li class="divider"></li><li>' . $this->tag->linkTo(array(
                                        'contracts/delete/' . $contract->getId(),
                                        '<i class="icon-remove red bigger-120"></i> Supprimer',
                                        'id' => 'delete-contract'
                                    )) . '</li>';
                                }
                                ?>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-toolbar no-border">
                        <ul class="nav nav-tabs" id="myTab">
                            <?php
                            switch ($identity->getProfile()->getName()) {
                                case 'Nourrice':
                                    echo '
                                        <li class="active">
                                            <a data-toggle="tab" href="#parents-' . $contract->getId() . '">Parents</a>
                                        </li>';
                                    break;
                                default:
                                    echo '
                                        <li class="active">
                                            <a data-toggle="tab" href="#nanny-' . $contract->getId() . '">Nourrice</a>
                                        </li>';
                                    break;
                            }
                            ?>

                            <li>
                                <a data-toggle="tab" href="#salaire-<?php echo $contract->getId() ?>">Salaire</a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#info-<?php echo $contract->getId() ?>">Info</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="tab-content">
                            <?php
                            switch ($identity->getProfile()->getName()) {
                                case 'Nourrice':
                                    echo '<div id="parents-' . $contract->getId() . '" class="tab-pane in active">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">';
                                    if ($contract->getMother()) {
                                        echo '<h5>' . $contract->getMother()->getFormatedName() . '</h5>
                                        <div class="col-xs-12 col-md-4">
                                            <span class="profile-picture">
                                                <img src="/img/avatars/' . $contract->getMother()->getAvatarFile() . '" class="img-responsive">
                                            </span>';
                                        echo '</div>
                                        <div class="col-xs-12 col-md-8">
                                            <div><i class="icon-mobile-phone light-orange"></i> ' . $contract->getMother()->getMobile() . '</div>
                                            <div><i class="icon-phone light-orange"></i> ' . $contract->getMother()->getPhone() . '</div>
                                            <div><i class="icon-map-marker light-orange"></i> ' . $contract->getMother()->getAddress()->getAddresses() . ', <br>' . (!$contract->getMother()->getAddress()->getCity() ? '' : $contract->getMother()->getAddress()->getCity()->getZipCode()) . ', ' . (!$contract->getMother()->getAddress()->getCity() ? '' : $contract->getMother()->getAddress()->getCity()->getRealName()) . '</div>
                                            <div><i class="icon-envelope-alt light-orange"></i> ' . $contract->getMother()->getEmail() . '</div>
                                        </div>';
                                    }
                                    echo '</div>
                                    <div class="col-md-6 col-sm-12">';
                                    if ($contract->getFather()) {
                                        echo '<h5>' . $contract->getFather()->getFormatedName() . '</h5>
                                        <div class="col-xs-12 col-md-4">
                                            <span class="profile-picture">
                                                <img src="/img/avatars/' . $contract->getFather()->getAvatarFile() . '" class="img-responsive">
                                            </span>';
                                        echo '</div>
                                        <div class="col-xs-12 col-md-8">
                                            <div><i class="icon-mobile-phone light-orange"></i> ' . $contract->getFather()->getMobile() . '</div>
                                            <div><i class="icon-phone light-orange"></i> ' . $contract->getFather()->getPhone() . '</div>
                                            <div><i class="icon-map-marker light-orange"></i> ' . $contract->getFather()->getAddress()->getAddresses() . ', <br>' . (!$contract->getFather()->getAddress()->getCity() ? '' : $contract->getFather()->getAddress()->getCity()->getZipCode()) . ', ' . (!$contract->getFather()->getAddress()->getCity() ? '' : $contract->getFather()->getAddress()->getCity()->getRealName()) . '</div>
                                            <div><i class="icon-envelope-alt light-orange"></i> ' . $contract->getFather()->getEmail() . '</div>
                                        </div>';
                                    }
                                    echo '</div>
                                </div>
                            </div>';
                                    break;

                                default:
                                    echo '<div id="nanny-' . $contract->getId() . '" class="tab-pane in active">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h5>' . $contract->getNanny()->getFormatedName() . '</h5>
                                        <div class="col-xs-12 col-md-4">
                                            <span class="profile-picture">
                                                <img src="/img/avatars/' . $contract->getNanny()->getAvatarFile() . '" class="img-responsive">
                                            </span>';
                                    echo '</div>
                                        <div class="col-xs-12 col-md-8">
                                            <div><i class="icon-mobile-phone light-orange"></i> ' . $contract->getNanny()->getMobile() . '</div>
                                            <div><i class="icon-phone light-orange"></i> ' . $contract->getNanny()->getPhone() . '</div>
                                            <div><i class="icon-map-marker light-orange"></i> ' . $contract->getNanny()->getAddress()->getAddresses() . ', <br>' . (!$contract->getNanny()->getAddress()->getCity() ? '' : $contract->getNanny()->getAddress()->getCity()->getZipCode()) . ', ' . (!$contract->getNanny()->getAddress()->getCity() ? '' : $contract->getNanny()->getAddress()->getCity()->getRealName()) . '</div>
                                            <div><i class="icon-envelope-alt light-orange"></i> ' . $contract->getNanny()->getEmail() . '</div>
                                        </div>
                                    </div>
                                </div>
                            </div>';
                                    break;
                            }
                            ?>
                            <div id="salaire-<?php echo $contract->getId() ?>" class="tab-pane">
                                <dl class="dl-horizontal">
                                    <dt>Taux horaire brut</dt>
                                    <dd><?php echo $contract->getHourlyRate() . ' €' ?></dd>
                                    <dt>Indemnités d'entretien</dt>
                                    <dd><?php echo $contract->getMaintenanceAllowance() . ' €' ?></dd>
                                    <?php if ($contract->getBreakfastCosts()): ?>
                                        <dt>Frais petit déjeuner</dt>
                                        <dd><?php echo $contract->getBreakfastCosts() . ' €' ?></dd>
                                    <?php endif; ?>
                                    <?php if ($contract->getLunchCosts()): ?>
                                        <dt>Frais déjeuner</dt>
                                        <dd><?php echo $contract->getLunchCosts() . ' €' ?></dd>
                                    <?php endif; ?>
                                    <?php if ($contract->getSnackCosts()): ?>
                                        <dt>Frais goûter</dt>
                                        <dd><?php echo $contract->getSnackCosts() . ' €' ?></dd>
                                    <?php endif; ?>
                                    <?php if ($contract->getDinerCosts()): ?>
                                        <dt>Frais dîner</dt>
                                        <dd><?php echo $contract->getDinerCosts() . ' €' ?></dd>
                                    <?php endif; ?>
                                    <dt>Salaire mensuel brut</dt>
                                    <dd><?php echo $contract->getSalaireMensuelBrut() . ' €' ?></dd>
                                </dl>
                            </div>

                            <div id="info-<?php echo $contract->getId() ?>" class="tab-pane">
                                <dl class="dl-horizontal">
                                    <?php if ($contract->getGuardType() != null): ?>
                                        <dt>Heures hébdomadaires</dt>
                                        <dd><?php echo $contract->getNbHourWeekly() . ' h' ?></dd>
                                        <dt>Repos hébdomadaire</dt>
                                        <dd><?php echo $contract->getWeeklyRest() ?></dd>
                                        <dt>Type d'accueil</dt>
                                        <dd><?php
                                            switch ($contract->getGuardType()) {
                                                case 'accueil_mens_complete':
                                                    echo 'Année complète';
                                                    break;

                                                case 'accueil_mens_incomplete':
                                                    echo 'Année incomplète';
                                                    break;

                                                case 'accueil_occasion':
                                                    echo 'Accueil occasionnel';
                                                    break;
                                            }
                                            ?></dd>
                                    <?php endif; ?>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php
        $i++;
        if ($i % 2 == 0) {
            echo '</div>';
        }
        ?>
    <?php endforeach; ?>
<?php else: ?>
    <div class="row">
        <div class="no-contracts">
            Aucun contrat
        </div>
    </div>
<?php endif; ?>