<html>
    <head>
        <style>
            body{
                line-height: 25px;
                font-size: 15px;
                color: black;
            }
            .title{
                font-size: 25px;
                font-weight: bold;
                text-align: center;
            }
            .block-title{
                display: inline;
                background-color: #438eb9;
                color: white;
                font-weight: bold;
                font-size: 18px;
                padding: 5px 5px 5px 10px;
                margin: 20px 0px;
            }
            .block-subtitle{
                margin-left: 20px;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 15px;
                border-bottom: 1px solid grey;
            }
            .block-content{
                margin-left: 40px;
                margin-bottom: 15px;
            }
            .bloc-signature{
                margin-top: 100px;
            }
            .bloc-signature-parents{
                margin-bottom: 200px;
            }
        </style>
    </head>
    <body>

    <htmlpageheader name="myheader">
        <table width="100%">
            <tr>
                <td>
                    <span style="font-weight: bold; font-size: 50pt;">
                        Contrat de travail
                    </span>
                </td>
            </tr>
        </table>
    </htmlpageheader>

    <htmlpagefooter name="myfooter">
        <div style="border-top: 1px solid #000000; font-size: 9pt; text-align: center; padding-top: 3mm; ">
            Page {PAGENO} sur {nb} - Contrat n° <?= (string) $contract->getId() ?> - Généré le {DATE d/m/Y} à {DATE H:i:s} sur <a href="<?= $this->config->application->protocol . $this->config->application->publicUrl ?>"> <?= $this->config->application->publicUrl ?></a>
            <br>
            <div style="font-size: 8pt; text-align: right; margin: -10px 0px;">
                <i>Paraphes des deux parties</i>
            </div>
        </div>
    </htmlpagefooter>

    <sethtmlpageheader name="myheader" value="on" show-this-page="1" />
    <sethtmlpagefooter name="myfooter" value="on"/>

    <div class="block">
        <div class="block-title">
            1 - Obligations Générales
        </div>
        <div class="block-subtitle">
            Obligations de l'employeur
        </div>
        <div class="block-content">
            <ul>
                <li>
                    S'assurer que le salarié est titulaire de l'agrément délivré par le Conseil Général.
                </li>
                <li>
                    Déclarer l'emploi à l'URSSAF, à la MSA ou à la CAF.
                </li>
                <li>
                    Vérifier l'assurance responsabilité civile professionnelle du salarié.
                </li>
                <li>
                    Vérifier l'assurance automobile, le cas échéant et notamment la clause particulière de la couverture de transport des enfants accueillis à titre professionnel.
                </li>
                <li>
                    Etablir un contrat de travail écrit.
                </li>
                <li>
                    Etablir mensuellement un bulletin de salaire.
                </li>
                <li>
                    Procéder à la déclaration nominative mensuelle ou trimestrielle des salaires.
                </li>
            </ul>
        </div>
        <div class="block-subtitle">
            Obligations du salarié
        </div>
        <div class="block-content">
            <ul>
                <li>
                    Présenter une copie de l'agrément et informer l'employeur de toutes modifications d'agrément et de conditions d'acceuil.
                </li>
                <li>
                    Communiquer l'attestation personnelle d'assuré social, si elle existe.
                </li>
                <li>
                    Communiquer les attestations d'assurance responsabilité civile professionnelle et d'assurance automobile.
                </li>
                <li>
                    Faire visiter à l'employeur les pièces auxquelles l'enfant aura accès.
                </li>
                <li>
                    Conclure un contrat de travail écrit.
                </li>
                <li>
                    Adresser au président du Conseil Général (Unité agrément), dans les 8 jours la déclaration d'acceuil signée conjointement par les parents-employeurs et l'asstistant(e) maternel(le).
                </li>
            </ul>
        </div>
    </div>
    <pagebreak />
    <sethtmlpagefooter name="myfooter" value="on"/>
    <div class="block">
        <div class="block-title">
            2 - Les parties du contrat
        </div>
        <div class="block-subtitle">
            L'enfant
        </div>
        <div class="block-content">
            <div>
                Nom : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(strtoupper($contract->getChildSurname()), 'text') ?>
            </div>
            <div>
                Prénom : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(ucfirst($contract->getChildFirstname()), 'text') ?>
            </div>
            <div>
                Date de naissance : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(\Nannyster\Controllers\ControllerBase::returnDateTime($contract->getChildBirthDate(), 'date'), 'date') ?>
            </div>
        </div>
        <div class="block-subtitle">Les parents employeurs</div>
        <div class="block-content">
            <strong>La mère :</strong>
            <div>
                Nom : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getMother() ? strtoupper($contract->getMother()->getSurname()) : '', 'text') ?>
            </div>
            <div>
                Prénom : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getMother() ? ucfirst($contract->getMother()->getFirstname()) : '', 'text') ?>
            </div>
            <div>
                Adresse : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getMother() && $contract->getMother()->getAddress()) ? ucwords($contract->getMother()->getAddress()->getAddresses()) : '', 'address') ?>
                <br/>
                <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getMother() && $contract->getMother()->getAddress() && $contract->getMother()->getAddress()->getCity()) ? $contract->getMother()->getAddress()->getCity()->getZipCode() . ', ' . $contract->getMother()->getAddress()->getCity()->getRealname() : '', 'address') ?>
            </div>
            <div>
                Téléphone : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getMother() ? $contract->getMother()->getPhone() : '', 'phone') ?>
            </div>
            <div>
                Mobile : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getMother() ? $contract->getMother()->getMobile() : '', 'phone') ?>
            </div>
            <br>
            <strong>Le père :</strong>
            <div>
                Nom : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getFather() ? strtoupper($contract->getFather()->getSurname()) : '', 'text') ?>
            </div>
            <div>
                Prénom : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getFather() ? ucfirst($contract->getFather()->getFirstname()) : '', 'text') ?>
            </div>
            <div>
                Adresse : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getFather() && $contract->getFather()->getAddress()) ? ucwords($contract->getFather()->getAddress()->getAddresses()) : '', 'address') ?>
                <br/>
                <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getFather() && $contract->getFather()->getAddress() && $contract->getFather()->getAddress()->getCity()) ? $contract->getFather()->getAddress()->getCity()->getZipCode() . ', ' . $contract->getFather()->getAddress()->getCity()->getRealname() : '', 'address') ?>
            </div>
            <div>
                Téléphone : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getFather() ? $contract->getFather()->getPhone() : '', 'phone') ?>
            </div>
            <div>
                Mobile : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getFather() ? $contract->getFather()->getMobile() : '', 'phone') ?>
            </div>
        </div>
        <div class="block-subtitle">L'assistant(e) maternel(le)</div>
        <div class="block-content">
            <div>
                Nom : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny() ? strtoupper($contract->getNanny()->getSurname()) : '', 'text') ?>
            </div>
            <div>
                Prénom : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny() ? ucfirst($contract->getNanny()->getFirstname()) : '', 'text') ?>
            </div>
            <div>
                Adresse : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getNanny() && $contract->getNanny()->getAddress()) ? ucwords($contract->getNanny()->getAddress()->getAddresses()) : '', 'address') ?>
                <br/>
                <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getNanny() && $contract->getNanny()->getAddress() && $contract->getNanny()->getAddress()->getCity()) ? $contract->getNanny()->getAddress()->getCity()->getZipCode() . ', ' . $contract->getNanny()->getAddress()->getCity()->getRealname() : '', 'address') ?>
            </div>
            <div>
                Téléphone : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny() ? $contract->getNanny()->getPhone() : '', 'phone') ?>
            </div>
            <div>
                Mobile : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny() ? $contract->getNanny()->getMobile() : '', 'phone') ?>
            </div>
            <div>
                Né(e) le <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny() ? \Nannyster\Controllers\ControllerBase::returnDateTime($contract->getNanny()->getBirthDate(), 'date') : '', 'date') ?> à <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getNanny() && $contract->getNanny()->getBirthCity()) ? $contract->getNanny()->getBirthCity()->getRealName() . ' (' . $contract->getNanny()->getBirthCity()->getZipCode() . ')' : '', 'text') ?>
            </div>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-content">
            <strong>Agrément</strong>
            <div>
                Date d'agrément : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getAgreement() ? \Nannyster\Controllers\ControllerBase::returnDateTime($contract->getNanny()->getAgreement()->getStartDate(), 'date') : '', 'date') ?>
            </div>
            <div>
                Date renouvellement : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getAgreement() ? \Nannyster\Controllers\ControllerBase::returnDateTime($contract->getNanny()->getAgreement()->getRenewDate(), 'date') : '', 'date') ?>
            </div>
            <div>
                Agréé(e) pour l'accueil simultané de (nombre d'enfants et tranches d'âge) :  <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getAgreement() ? $contract->getNanny()->getAgreement()->getChildrenPermissions() : '', 'text') ?>
            </div>
            <div>
                Numéro de sécurité sociale :  <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny() ? $contract->getNanny()->getSocialSecurityNb() : '', 'socialsecu') ?>
            </div>
            <br>
            <div>
                L'assistant(e) maternel(le) est seul responsable de l'enfant acceuilli et ne peut déléguer cette responsabilité à une autre personne, même à un membre de sa famille et même avec l'accord des parents.
            </div>
            <br>
            <strong>Assurance responsabilité civile professionnelle</strong>
            <br>
            <div>
                Article L 421-13 du Code de l'Action Sociale et des Familles. L'assistant(e) maternel(le) est dans l'obligation de souscrire une assurance responsabilité civile professionnelle. Cette assurance couvre les dommages que les enfants pourraient provoquer et ceux dont ils pourraient être victimes.
            </div>
            <br>
            <div>
                Compagnie : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getCivilResponsability() ? $contract->getNanny()->getCivilResponsability()->getCompagnyName() : '', 'text') ?>
            </div>
            <div>
                Adresse : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getCivilResponsability() ? ucwords($contract->getNanny()->getCivilResponsability()->getAddress()) : '', 'address') ?>
                <br/>
                <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getNanny()->getCivilResponsability() && $contract->getNanny()->getCivilResponsability()->getCity()) ? $contract->getNanny()->getCivilResponsability()->getCity()->getZipCode() . ', ' . $contract->getNanny()->getCivilResponsability()->getCity()->getRealname() : '', 'address') ?>
            </div>
            <div>
                Numéro de police : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getCivilResponsability() ? $contract->getNanny()->getCivilResponsability()->getPolicyNb() : '', 'text') ?>
            </div>
            <div>
                Date de validité : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getCivilResponsability() ? \Nannyster\Controllers\ControllerBase::returnDateTime($contract->getNanny()->getCivilResponsability()->getValidityDate(), 'date') : '', 'date') ?>
            </div>
            <br>
            <strong>Assurance automobile contractée par l'assistant(e) maternel(le) pour le transport d'enfants en voiture</strong>
            <br>
            <div>
                Compagnie : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getAutoInsurance() ? $contract->getNanny()->getAutoInsurance()->getCompagnyName() : '', 'text') ?>
            </div>
            <div>
                Adresse : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getAutoInsurance() ? ucwords($contract->getNanny()->getAutoInsurance()->getAddress()) : '', 'address') ?>
                <br/>
                <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getNanny()->getAutoInsurance() && $contract->getNanny()->getAutoInsurance()->getCity()) ? $contract->getNanny()->getAutoInsurance()->getCity()->getZipCode() . ', ' . $contract->getNanny()->getAutoInsurance()->getCity()->getRealname() : '', 'address') ?>
            </div>
            <div>
                Numéro de police : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getAutoInsurance() ? $contract->getNanny()->getAutoInsurance()->getPolicyNb() : '', 'text') ?>
            </div>
            <div>
                Date de validité : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNanny()->getAutoInsurance() ? \Nannyster\Controllers\ControllerBase::returnDateTime($contract->getNanny()->getAutoInsurance()->getValidityDate(), 'date') : '', 'date') ?>
            </div>
        </div>
        <div class="block-subtitle">Date de début de l'accueil et du contrat</div>
        <div class="block-content">
            <div>
                La date de début de l'accueil et du contrat est fixée au <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(\Nannyster\Controllers\ControllerBase::returnDateTime($contract->getContractStartDate(), 'date'), 'date') ?> (à compter du 1er jour de la période d'essai incluant la période d'adaptation)
            </div>
        </div>
    </div>
    <pagebreak />
    <sethtmlpagefooter name="myfooter" value="on"/>
    <div class="block">
        <div class="block-title">
            3 - Période d'essai
        </div>
        <div class="block-content">
            Au cours de cette période, chaque partie du contrat peut rompre librement le contrat sans procédure particulière, sans préavis ni indemnité.
            <ul>
                <li>
                    Si l'accueil, prévu au contrat, s'effectue sur un, deux ou trois jours calendaires par semaines, la période d'essai aura une durée maximum de trois mois.
                </li>
                <li>
                    Si l'accueil s'effectue sur quatre jours et plus par semaine, la période d'essai aura une durée maximum de deux mois.
                </li>
            </ul>
            Durant les premiers jours de l'essai et au maximum pendant un mois, un temps d'adaptation peut être prévu par l'employeur au cours duquel les conditions et les horaires d'accueil seront fixés en fonction des besoins d'adaptation de l'enfant. Ce temps d'adaptation fait partie de la période d'essai.
            <br>
            Si le contrat est rompu avant la fin de la période d'essai, l'employeur doit respecter un délai de prévenance légal :
            <ul>
                <li>
                    24 heures en deça de 8 jours de présence.
                </li>
                <li>
                    48 heures entre 8 jours et 1 mois de présence.
                </li>
                <li>
                    2 semaines entre 1 mois et 3 mois de présence.
                </li>
            </ul>
            De son côté, l'assistant(e) maternel(le) doit avertir son employeur 48 heures à l'avance (24 heures si la période d'essai est inférieure à 8 jours).
            <br>
            L'employeur doit délivrer au salarié :
            <ul>
                <li>
                    Un bulletin de paie.
                </li>
                <li>
                    Un certificat mentionnant la date de début et de fin du contrat ainsi que la nature de l'emploi.
                </li>
                <li>
                    Une lettre de rupture si celle-ci est de son fait.
                </li>
                <li>
                    L'attestation ASSEDIC.
                </li>
            </ul>
            <strong>
                Les parties au contrat fixent la durée de la période d'essai à : 
            </strong>
            <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getTryPeriodTime(), 'textlittle') . ($contract->getTryPeriodTime()) ? ' mois' : '' ?>
            <br>
            <strong>
                Les modalités prévues pour la période d'adaptation de l'enfant sont les suivantes :
            </strong>
            <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getAdaptationPeriodModality(), 'textarea') ?>
        </div>
    </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
    <div class="block">
        <div class="block-title">
            4 - Durée d'accueil et horaires
        </div>
        <div class="block-subtitle">
            Durée
        </div>
        <div class="block-content">
            <ul>
                <li>
                    La durée habituelle d'accueil est de 9 heures par jour.
                </li>
                <li>
                    La durée conventionnelle est de 45 heures par semaine. Au-delà, les heures de travail donnent lieu à une majoration (art. D 423-10 du Code de l'Action Sociale et des Familles).
                </li>
                <li>
                    L'employeur ne peut demander à l'assistant(e) maternel(le) de travailler plus de 48 heures par semaine sans l'accord écrit de celui-ci (art. L 423-22 et D 423-12 du Code de l'Action Sociale et des Familles).
                </li>
            </ul>
            Date : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator('', 'date') ?>
            <br>
            Signature de l'assistant(e) maternel(le) : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator('', 'textlittle') ?>
        </div>
        <div class="block-subtitle">
            Repos
        </div>
        <div class="block-content">
            <ul>
                <li>
                    Le salarié bénéficie d'un repos quotidien de 11 heures consécutives minimum. Toutefois, si l'employeur et le salarié sont d'accord, il peut être dérogé à ce principe en raison :
                    <ul>
                        <li>
                            d'impératifs liés à des obligations prévisibles et non constantes de l'employeur.
                        </li>
                        <li>
                            pour assurer l'accueil de l'enfant dans des situations exceptionnelles et imprévisibles. Dans ce cas, l'accueil pourra être réalisé la nuit.
                        </li>
                    </ul>
                </li>
                <li>
                    La durée minimale du repos hebdomadaire est de 24 heures + 11 heures de repos quotidien, soit 35 heures.
                </li>
            </ul>
        </div>
        <div class="block-subtitle">
            Type d'accueil
        </div>
        <div class="block-content">
            Les parents employeurs doivent définir sur 12 mois à venir, de date à date, le nombre d'heures d'accueil dont ils ont besoin par jour, par semaine et en nombre de semaine sur l'année sans excéder 2250 heures sur cette période.
            <br>
            <strong>
                Type d'accueil choisi : 
            </strong>
            <?php
            switch ($contract->getGuardType()) {
                case 'accueil_mens_complete':
                    echo 'Mensualisation sur "une année complète" (l\'enfant est confié toute l\'année, les parents et l\'assistant(e) maternel(le) prennent en même temps leurs cinq semaines de congés).';
                    break;
                case 'accueil_mens_incomplete':
                    echo 'Mensualisation "sur une année incomplète" (moins de 47 semaines).';
                case 'accueil_occasion':
                    echo 'Accueil occasionnel.';
                    break;
            }
            ?>
        </div>
        
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-subtitle">
            Planning hebdomadaire
        </div>
        <div class="block-content">
            L'accueil journalier débute à l'heure prévue au contrat et se termine à l'heure de départ du parent avec son enfant. Les parties au contrat prévoient que l'enfant sera confié à l'assistant(e) maternel(le) les jours et heures suivants <strong>à détailler selon les besoins(soit <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNbHourWeekly(), 'textlittle') ?> heures par semaine) : </strong>
            <br>
            <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getDetailHourPerDay(), 'textarea') ?>
            <br><br>
            Si l'accueil journalier de l'enfant a lieu selon d'autres modalités, les préciser ci-après et joindre si nécessaire des plannings d'accueil détaillés signés par les deux parties :
            <br>
            <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getSpecialGuardModality(), 'textarea') ?>
        </div>
        <div class="block-subtitle">
            Planning annuel
        </div>
        <div class="block-content">
            Les périodes d'accueil doivent être programmées dans l'année. Le nombre de semaines et les dates doivent être prévus. A défaut, un délai de prévenance doit être fixé.
            <br>
            <br>
            Les parties prévoient au contrat :
            <br>
            <br>
            <strong>
                Nombre de semaines d'accueil :
                <br>
            </strong>
            Dates ou numéros des semaines <strong>d'accueil :</strong>
            <br>
            <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getGuardWeekNb(), 'textarea') ?>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-content">
            Dates ou numéros des semaines <strong>d'absences :</strong>
            <br>
            <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getVacancyWeekNb(), 'textarea') ?>
            <br>
            <br>
            <strong>
                En cas de modification des semaines d'accueil programmées,<br> le délai de prévenance est fixé à : </strong>
            <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getTimeChangeWeekNb(), 'text') ?>
            <br>
            <br>
            <strong>
                Repos hebdomadaire :
                <br>
            </strong>
            Le jour habituel de repos hebdomadaire est prévus au contrat. Il est pris le même jour en cas de multi-employeurs. Si exceptionnellement le jour de repos est travaillé, il est rémunéré ou récupéré majoré dans les deux de 25%. Le jour de repos hebdomadaire est fixé au 
            <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getWeeklyRest(), 'textlittle') ?>.
        </div>
    </div>
    <div class="block">
        <div class="block-title">5 - Rémunération</div>
        <div class="block-content">
            Toutes les heures d'accueil sont rémunérées. Le salaire est versé tous les mois, à date fixe. Sur le bulletin de paie délivré chaque mois figurent les jours travaillées et les heures d'accueil réellement effectuées ainsi que le montant des cotisations salariales. Le salaire horaire brut ne peut être inférieure à 0.281 x SMIC horaire.
            <br>
            <br>
            Les parties au contrat conviennent :
            <br>
            <ul>
                <li>
                    Le salaire horaire <strong>brut</strong> de base : 
                    <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getHourlyRate(), 'textlittle') ?>
                    €/heure d'accueil.
                </li>
                <li>
                    Le salaire horaire <strong>net</strong> de base : 
                    <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getHourlyRateNet(), 'textlittle') ?>
                    €/heure d'accueil.
                </li>
            </ul>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-subtitle">
            Salaire mensuel de base
        </div>
        <div class="block-content">
            <?php
            if ($contract->getGuardType() === 'accueil_mens_complete' || $contract->getGuardType() === 'accueil_mens_incomplete'):
                ?>
                <strong>
                    Accueil régulier
                </strong>
                <div>
                    Pour assurer au salarié un salaire régulier, quel que soit le nombre d'heures d'accueil par semaine et le nombre de semaines d'accueil dans l'année, le salaire de base est mensualisé. Il est calculé sur douze mois à compter de la date d'embauche.
                </div>
                <?php
                if ($contract->getGuardType() === 'accueil_mens_complete'):
                    ?>
                    <strong>
                        L'accueil s'effectue sur une année complète 
                    </strong>
                    (52 semaines y compris les congés payés du salarié).
                    <br>
                    Le salaire mensuel brut de base est égal au salaire horaire brut de base x nombre d'heures d'accueil par semaine x 52 semaines / 12 mois.
                    <br>
                    <br>
                    Le salaire est versé tous les mois, y compris pendant les périodes de congés payés, sous réserve des droits acquis au cours de la période de référence (Voir rubrique congés annuels).
                    <br>
                    <br>
                    Les parties au contrat conviennent que le salaire mensuel brut de base sera calculé de la façon suivante
                    <br>
                    <strong><?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getHourlyRate(), 'textlittle') ?>€ x <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNbHourWeekly(), 'textlittle') ?> heures d'accueil par semaine x 52 / 12 = <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getSalaireMensuelBrut(), 'textlittle') ?>€</strong>
                <?php endif; ?>

                <?php
                if ($contract->getGuardType() === 'accueil_mens_incomplete'):
                    ?>
                    <strong>
                        L'accueil s'effectue sur une année incomplète 
                    </strong>
                    (semaines programmées hors congés annuels du salarié soit 47 semaines maximum).
                    <br>
                    Le salaire mensuel brut de base est égal au salaire horaire brut de base x nombre d'heures d'accueil par semaine x nombre de semaines programmées / 12 mois.
                    <br>
                    <br>
                    Les parties au contrat conviennent que le salaire mensuel brut de base sera calculé de la façon suivante :
                    <br>
                    <strong><?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getHourlyRate(), 'textlittle') ?>€ x <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getNbHourWeekly(), 'textlittle') ?> heures d'accueil par semaine x <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getPartialYearWeekNb(), 'textlittle') ?> semaines programmées / 12 = <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getSalaireMensuelBrut(), 'textlittle') ?>€</strong>
                    <br>
                    <br>
                    La rémunération des congés acquis pendant la période de référence s'ajoute à ce salaire mensuel brut de base (voir rubrique congés annuels).
                <?php endif; ?>
                <br>
                Selon les circonstances intervenues au cours du mois considéré, ce salaire peut être majoré ou minoré.
            <?php endif; ?>

            <?php
            if ($contract->getGuardType() === 'accueil_occasion'):
                ?>
                <strong>
                    Accueil occasionnel
                </strong>
                <div>
                    Le salaire brut mensuel est égal au salaire horaire brut de base x nombre d'heures d'accueil dans le mois.
                </div>
                <strong><?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getHourlyRate(), 'textlittle') ?>€ x <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getOccasionalChildcareMonthlyHours(), 'textlittle') ?> heures d'accueil = <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getSalaireMensuelBrut(), 'textlittle') ?>€</strong>
                <div>
                    Pour la rémunéraiton des congés, voir la rubrique congés annuels.
                </div>
            <?php endif; ?>
        </div>
        <div class="block-subtitle">
            Heures complémentaires (au-delà des heures prévues au contrat et jusqu'à 45 heures par semaine)
        </div>
        <div class="block-content">
            Elles sont rémunérés au salaire horaire brut de base convenu par les partie au présent contrat, soit <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getHourlyRate(), 'textlittle') ?>€
        </div>
        <div class="block-subtitle">
            Majorations
        </div>
        <div class="block-content">
            <strong>
                Heures majorées
            </strong>
            <div>
                A partir de la 46ème heure hebdomadaire d'accueil, il est appliqué un taux de majoration laissé à la négociation des parties.
            </div>
            <ul>
                <li>
                    Taux de majoration : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getHoursMajRate(), 'textlittle') ?>%
                </li>
                <li>
                    Montant de la majoration : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getHoursMajValue() !== '0.00') ? $contract->getHoursMajValue() : '', 'textlittle') ?>€/heure
                </li>
            </ul>
            <br>
            <strong>
                Majorations pour difficultés particulières
            </strong>
            <div>
                L'accueil d'un enfant présentant des difficultés particulières, temporaires ou permanentes, donne droit à majoration du salaire à prévoir au contrat en fonction de l'importance des difficultés suscitées par l'accueil de l'enfant.
            </div>
            <ul>
                <li>
                    Taux de majoration : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getDifficultyMajRate(), 'textlittle') ?>%
                </li>
                <li>
                    Montant de la majoration : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator(($contract->getDifficultyMajValue() !== '0.00') ? $contract->getDifficultyMajValue() : '', 'textlittle') ?>€/heure
                </li>
            </ul>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-subtitle">
            Indemnités (frais occasionnés au salarié par l'accueil de l'enfant)
        </div>
        <div class="block-content">
            <strong>
                Elles ne sont dues que les jours de présence de l'enfant.
            </strong>
            <div>
                Ces indemnités ne sont pas des éléments du salaire. Elles n'entrent pas en compte dans le calcul des congés payés. Elles ne sont pas soumises à cotisations. Elles sont mentionnées sur le bulletin de salaire.
            </div>
            <br>
            <strong>
                Indemnités pour frais d'entretien
            </strong>
            <div>
                Ce sont les indemnités correspondant aux investissements, jeux et matériel d'éveil, ainsi que l'entretien du matériel utilisé, la part de consommation d'eau, d'électricité, de chauffage, etc.
                <br>
                L'employeur et le salarié déterminent d'un commun accord le montant de l'indemnité journalière destinée à couvrir les frais d'entretien de l'enfant supportés par le salarié. L'indemnité afférente à ces frais est due pour chaque journée d'accueil. Elle ne peut être inférieure au montant défini par la Convention Collective Nationale.
            </div>
            <ul>
                <li>Le montant de l'indemnité pour frais d'entretien sera de : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getMaintenanceAllowance(), 'textlittle') ?>€/jour d'accueil.</li>
            </ul>
            <br>
            <strong>
                Indemnités pour frais de repas
            </strong>
            <div>
                La partie fournissant les repas doit être précisée dans le contrat. Si l'employeur fournit les repas, l'indemnité n'est pas due. Si le salarié fournit les repas, employeur et salarié se mettent d'accord sur la nature des repas. L'indemnité est fixée en fonction des repas fournis.
            </div>
            <div>
                <?php if ($contract->getMealGiven() === 'nanny'): ?>
                    Les parties au contrat conviennent que les repas suivants seront fournis par l'assistante maternelle :
                    <ul>
                        <?php if ($contract->getBreakfastCosts()): ?>
                            <li>
                                Petit-déjeuner : <?= $contract->getBreakfastCosts() ?>€.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getLunchCosts()): ?>
                            <li>
                                Déjeuner : <?= $contract->getLunchCosts() ?>€.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getSnackCosts()): ?>
                            <li>
                                Goûter : <?= $contract->getSnackCosts() ?>€.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getDinerCosts()): ?>
                            <li>
                                Diner : <?= $contract->getDinerCosts() ?>€.
                            </li>
                        <?php endif; ?>
                    </ul>
                <?php endif; ?>
                <?php if ($contract->getMealGiven() === 'parents'): ?>
                    Les parties au contrat conviennent que les repas seront fournis par les parents.
                <?php endif; ?>
            </div>
            <br>
            <strong>
                Indemnités pour frais de déplacement
            </strong>
            <div>
                Si l'assistant(e) maternel(le) est amené(e) à utiliser son véhicule personnel pour transporter l'enfant, à la demande de l'employeur, celui-ci l'indemnisera selon le nombre de kilomètres effectués. L'indemnisation ne peut être inférieure au barème de l'administration et supérieure au barème fiscal. Le cas échéant, l'indemnistaion peut être répartie entre les différents employeurs demandeurs des déplacements.
            </div>
            <div>
                Les parties au contrat conviennent de l'indemnisation kilométrique suivante : <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator('', 'textlittle') ?>€/km.
            </div>
        </div>
        <div class="block-subtitle">
            Périodicité du paiement
        </div>
        <div class="block-content">
            Le paiement du salaire est effectué à date fixe, chaque mois.
            <ul>
                <li>
                    Les parties conviennent que le salaire est versé tous les mois, le <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getPaiementDate(), 'textlittle') ?>.
                </li>
            </ul>
        </div>
        <div class="block-subtitle">
            Bulletin de salaire
        </div>
        <div class="block-content">
            Un bulletin de salaire est délivré tous les mois.
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-title">
            6 - Congés
        </div>
        <div class="block-subtitle">
            Ouverture du droit
        </div>
        <div class="block-content">
            Le droit aux congés payés annuels est ouvert au salarié qui, au cours de l'année de référence, du 1er juin de l'année précédente au 31 mai de l'année en cours, a effectué au moins 10 jours d'accueil pour le même employeur.
        </div>
        <div class="block-subtitle">
            Durée des congés payés
        </div>
        <div class="block-content">
            La durée du congé payé se calcule en jours ouvrables. Sont considérés comme jours ouvrables tous les jours de la semaine, excepté les dimanches et les jours fériés chômés. Pour une année de référence complète, le salarié acquiert <strong>30 jours ouvrables de congés payés, soit cinq semaines.</strong>
        </div>
        <div class="block-subtitle">
            Calcul du nombre de jours de congés payés
        </div>
        <div class="block-content">
            Le salarié a droit à 2,5 jours ouvrables de congés payés par mois d'accueil travaillé, équivalent à cinq semaine, effectué au cours de la période de référence. Pour la détermination du nombre de jours de congés payés, sont assimilés à de l'accueil effectué :
            <ul>
                <li>
                    Les périodes de congés payés de l'année précédente.
                </li>
                <li>
                    Les congés pour événements personnels.
                </li>
                <li>
                    Les jours fériés chômés.
                </li>
                <li>
                    Les congés de formation professionnelle.
                </li>
                <li>
                    Les congés de maternité et d'adoption.
                </li>
                <li>
                    Les périodes, limitées à une durée ininterrompue d'un an, pendant lesquelles l'exécution est suspendue pour cause d'accident du travail ou de maladie professionnelle.
                </li>
            </ul>
            <div>
                Lorsque le nombre de jours ouvrables calculés conformément aux alinéas précédents n'est pas un nombre entier, la durée du congé est portée au nombre entier immédiatement supérieur.
            </div>
            <div>
                En tout état de cause, la durée totale du congé annuel ne peut dépasser trente jours ouvrables (cinq semaines).
            </div>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-subtitle">
            Prise de congés annuels
        </div>
        <div class="block-content">
            <div>
                Un congé payé de deux semaines continues (ou douze jours ouvrables consécutifs) doit être attribué au cours de la période du 1er mai au 31 octobre, sauf accord entre les parties. Lorsque les droits acquis sont inférieurs à douze jours ouvrables, les congés payés doivent êter pris en totalité et en continu. La date des congés est fixée par l'employeur. Le congé doit être pris.
            </div>
            <div>
                Dans le cadre du multi-employeurs, compte tenu des contraintes professionnelles du salarié, pour lui permettre de prendre effectivement des jours de repos, les différents employeurs et le salarié s'efforcent de fixer d'un commun accord, à compter du 1er janvier et au plus tard le 1er mars de chaque année, la date des congés.
            </div>
            <div>
                Si un accord n'est pas trouvé, le salarié pourra fixer lui-même la date de ses congés payés, soit quatre semaines pendant la période du 1er mai au 31 octobre et une semaine en hiver. Il en avertira les employeurs avant le 1er mars de l'année considérée.
            </div>
            <br>
            <strong>
                Fractionnement des congés payés
            </strong>
            <div>
                Lorsque le droit à congés payés dépasse deux semaines ou douze jours ouvrables, le solde des congés, dans la limite de douze jours ouvrables, peut être pris, de façon continue ou non. Le congé peut être fractionné par l'employeur avec l'accord du salarié.
            </div>
            <div>
                La prise de ces congés, en dehors de la période du 1er mai au 31 octobre, peut donner droit à un ou deux jours de congés payés supplémentaires pour fractionnement :
                <ul>
                    <li>
                        2 jours ouvrables, si le nombre total de jours ouvrables pris en dehors de la période est de 6 jours ou plus.
                    </li>
                    <li>
                        1 jour ouvrable, si le nombre total de jours ouvrables pris en dehors de cette période est de 3, 4 ou 5 jours.
                    </li>
                </ul>
            </div>
            <div>
                La cinquième semaine ne peut en aucun cas donner droit à des jours supplémentaires de congé pour fractionnement.
            </div>
            <div>
                Ldates de congés de l'assistant(e) maternel(le) seront fixées par écrit chaque année avant le 1er mars.
            </div>
            <ul>
                <li>
                    du <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getFractionnementCongesDu1(), 'date') ?> au <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getFractionnementCongesAu1(), 'date') ?>
                </li>
                <li>
                    du <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getFractionnementCongesDu2(), 'date') ?> au <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator($contract->getFractionnementCongesAu2(), 'date') ?>
                </li>
            </ul>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-subtitle">
            Rémunération des congés payés
        </div>
        <div class="block-content">
            <div>
                L'année de référence court du 1er juin de l'année précédente au 31 mai de l'année en cours. A cette date, le point sera fait sur le nombre de congés acquis, et la rémunération brute versée au salarié pendant l'année de référence hors indemnités (entretien, nourriture ...).
            </div>
            <div>
                La rémunération brute des congés est égale :
                <ul>
                    <li>
                        Soit à la rémunéraiton brute que le salarié aurait perçue pour une durée d'accueil égale à celle du congé payé, hors indemnités (entretien, nourriture ...).
                    </li>
                    <li>
                        Soit au 1/10 de la rémunération totale brute (y compris celle versée au titre des congés payés, perçue par le salarié au cours de l'année de référence, hors indemnités (entretien, nourriture ...).
                    </li>
                </ul>
                La solution la plus avantageuse pour le salarié sera retenue.
                <div>
                    La rémunération des congés payés a le caractère de salaire. Elle est soumise à cotisations.
                </div>
                <?php if ($contract->getGuardType() === 'accueil_mens_complete'): ?>
                    <strong>
                        Accueil sur une année complète
                    </strong>
                    <div>
                        Les congés sont rémunérés lorsqu'ils sont pris, la rémunération due au titre des congés se substitue au salaire de base.
                    </div>
                <?php elseif ($contract->getGuardType() === 'accueil_mens_incomplete'): ?>
                    <strong>
                        Accueil sur une année incomplète
                    </strong>
                    <div>
                        La rémunération due au titre des congés payés pour l'année de référence s'ajoute au salaire de base. Cette rémunération est versée, en accord des parties, 
                        <?php
                        switch ($contract->getVacancyPaymentModality()) {
                            case 'conges_paye_juin':
                                echo 'en une seule fois en juin.';
                                break;
                            case 'conges_paye_prise_principale':
                                echo 'lors de la prise principale de congés.';
                                break;
                            case 'conges_payes_fur':
                                echo 'au fur et à mesure de la prise des congés.';
                                break;
                            case 'conges_payes_12':
                                echo 'par 12ème chaque mois.';
                                break;
                            default:
                                echo \Nannyster\Controllers\ContractsController::contractFieldsGenerator('', 'text');
                        }
                        ?>
                    </div>
                    <?php
                elseif ($contract->getGuardType() === 'accueil_occasion'):
                    ?>
                    <strong>
                        Accueil occasionnel
                    </strong>
                    <div>
                        La rémunération des congés dus s'effectue selon la règle du 1/10ème versée à la fin de chaque mois.
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <div class="block-subtitle">
            Jours fériés
        </div>
        <div class="block-content">
            <strong>
                1er mai
            </strong>
            <div>
                Seul le 1er mai est un jour ferié chômé et payé sans conditions s'il tombe un jour habituellement travaillé. Le chômage du 1er mai ne peut être la cause d'une réduction de la rémunération.
            </div>
            <div>
                Le travail effectué le 1er mai ouvre droit à une rémunération majorée de 100%.
            </div>
            <strong>
                Jours fériés ordinaires
            </strong>
            <div>
                Ils ne sont pas obligatoirement chômés et payés. Lorsque l'accueil de l'enfant est effectué un jour férié prévu au contrat, il est rémunéré sans majoration. Si l'accueil n'est pas prévu au contrat, il peut être refusé par le salarié.
            </div>
            <div>
                Décidé par l'employeur, le chômage des jours fériés ordinaires tombant un jour habituellement travaillé ne pourra être la cause d'une diminution de la rémunération dès lors que le salarié remplit les conditions suivantes chez le même employeur :
                <ul>
                    <li>
                        Avoir 3 mois d'ancienneté.
                    </li>
                    <li>
                        Avoir habituellement travaillé le jour d'accueil qui précède et le jour d'accueil suivant le jour férié.
                    </li>
                    <li>
                        S'il travaille 40h ou plus par semaine, avoir accompli 200h de travaille au mois, au cours des 2 mois précédant le jour férié.
                    </li>
                    <li>
                        S'il travaille moins de 40h, avoir accompli un nombre d'heures réduit proportionnellement par rapport à un horaire hebdomadaire de 40h.
                    </li>
                </ul>
            </div>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-content">
            <div>
                <?php
                if ($contract->getPremierJanvier() || $contract->getPaques() || $contract->getHuitMai() || $contract->getAscension() || $contract->getPentecote() || $contract->getQuatorzeJuillet() || $contract->getQuinzeAout() || $contract->getToussaint() || $contract->getOnzeNov() || $contract->getNoel()):
                    ?>
                    <strong>
                        Les jours fériés suivants sont prévus d'être travaillés :
                    </strong>
                    <ul>
                        <?php if ($contract->getPremierJanvier()): ?>
                            <li>
                                Le 1er janvier.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getPaques()): ?>
                            <li>
                                Le lundi de Pâques.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getHuitMai()): ?>
                            <li>
                                Le 8 mai.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getAscension()): ?>
                            <li>
                                L'Ascension.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getPentecote()): ?>
                            <li>
                                Le lundi de  Pentecôte.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getQuatorzeJuillet()): ?>
                            <li>
                                Le 14 juillet.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getQuinzeAout()): ?>
                            <li>
                                L'Assomption (15 août).
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getToussaint()): ?>
                            <li>
                                La Toussaint.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getOnzeNov()): ?>
                            <li>
                                Le 11 novembre.
                            </li>
                        <?php endif; ?>
                        <?php if ($contract->getNoel()): ?>
                            <li>
                                Le jour de Noël.
                            </li>
                        <?php endif; ?>
                    </ul>
                <?php else: ?>
                    <strong>
                        Aucun jour férié n'est prévu d'être travaillé au contrat.
                    </strong>
                <?php endif; ?>
            </div>
            <div>
                La loi du 30 juin 2004, relative à la journée de solidarité des personnes agées et personnes handicapées a institué une journée de solidarité, c'est à dire une journée de travail supplémentaire non rérémunérée (dans la limite de 7h) dont doivent s'acquitter les salariés. Côté employeur, une contribution supplémentaire a été mise en place depuis le 1er juillet 2004.
            </div>
            <div>
                Tous les salariés mensualisés y compris les salariés à temps partiels doivent se soumettre à cette obligation. L'assistant(e) maternel(le) ne peut en aucun cas refuser d'effectuer cette journée, même si le contrat ne prévoyait pas son accomplissement.
            </div>
            <div>
                La date de la journée de solidarité doit être fixée par l'ensemble des employeurs afin que l'assistant(e) maternel(le) n'exécute qu'une seule journée.
            </div>
            <div>
                Elle ne peut être prévue le 1er mai.
            </div>
            <div>
                La durée de la journée de solidarité correspond à une journée de 7h de travail pour les salariés à temps plein (35h et plus) par semaine, pour les salariés à temps partiel, la journée de solidarité doit être effectuée au prorata, par exemple pour un contrat de 20h par semaine : 9 / 45 x 20 = 4h doivent être effectuée au titre de la journée de solidarité.
            </div>
            <div>
                Les heures effectuées au titre de la journée de solidarité ne sont pas qualifiées d'heures complémentaires ou supplémentaires. Cependant les heures effectuées au-delà de la durée due au titre de la journée de solidarité (7h maximum) doivent être rémunérées. Dans l'exemple ci-dessus, si 6h sont effectuées en réalité, l'employeur devra donc verser 2h complémentaires en plus du salaire mensuel de base.
            </div>
        </div>
        <div class="block-subtitle">
            Autre congés
        </div>
        <div class="block-content">
            <strong>
                Congés pour événements familiaux
            </strong>
            <div>
                Le salarié bénéficiera, sur justification, à l'occasion de certains événements, d'une autorisation d'absence exceptionnelle accordée dans les conditions suivantes:
            </div>
            <ul>
                <li>
                    Mariage du salarié : 4 jours ouvrables.
                </li>
                <li>
                    Mariage d'un enfant : 1 jour ouvrable.
                </li>
                <li>
                    Décès d'un enfant, du conjoint ou du partenaire d'un PACS : 2 jours ouvrables.
                </li>
                <li>
                    Décès du père, de la mère, d'un grand-père ou d'une grand-mère : 1 jour ouvrable.
                </li>
                <li>
                    Naissance ou adoption : 3 jours ouvrables.
                </li>
                <li>
                    Décès du beau-père ou de la belle-mère (c'est-à-dire père ou mère de l'époux(se)) : 1 jour ouvrable.
                </li>
                <li>
                    Décès d'un frère ou d'une soeur : 1 jour ouvrable.
                </li>
            </ul>
            <div>
                Ces jours de congé doivent être pris au moment de l'événement, ou, en accord avec l'employeur, dans les jours qui entourent l'événement. Ils n'entraînent pas de réduction de la rémunération mensuelle. En cas de congé pris à l'occasion de la naissance ou de l'adoption, les trois jours ouvrables peuvent être pris dans la période de quize jours qui entourent l'événement.
            </div>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-content">
            <div>
                Ils sont assimilés à des jours d'accueil de l'enfant pour la détermination de la durée du congé annuel.
            </div>
            <div>
                Dans le cas où lévénement personnel obligerait le salarié à un déplacement de plus dde 600km (aller-retour), il pourrait demander à l'employeur un jour ouvrable supplémentaire pour convenance personnelle, non rémunéré.
            </div>
            <br>
            <strong>
                Congés pour convenance personnelle
            </strong>
            <div>
                Des congés pour convenance personnelle, non rémunérés, peuvent être accordés par l'employeur à la demande du salarié. Ces congés n'entrent pas en compte pour le calcul de la durée des congés payés annuels.
            </div>
            <br>
            <strong>
                Congés pour enfants malades    
            </strong>
            <div>
                Tout salarié a droit à bénéficier d'un congé non rémunéré en cas de maladie ou d'accident, constaté par certificat medical, d'un enfant de moins de seize ans dont il a la charge. La durée de ce congé est au maximum de trois jours par an. Elle est portée à cinq jours si l'enfant est âgé de moins d'un an ou si le salarié assume la charge de trois enfants ou plus de moins de seize ans.
            </div>
        </div>
        <div class="block-title">
            7 - Absences
        </div>
        <div class="block-subtitle">
            Absences de l'enfant
        </div>
        <div class="block-content">
            Les absences de l'enfant non prévues au contrat doivent êter rémunérées en totalité (maintien du salaire mensuel de base), à l'exception des absences dues à une maladie ou à un accident, justifiées dans les 48h par un certificat médical daté du 1er jour de l'absence. Celles-ci ne sont pas rémunérées dans la limite de 10 jours par an consécutifs ou non, à la date d'effet du contrat.
        </div>
        <div class="block-subtitle">
            Absences de l'assistant(e) maternel(le)
        </div>
        <div class="block-content">
            Le salarié en arrêt de travail pour maladie doit :
            <ul>
                <li>
                    Informer son (ou ses) employeur(s) dans les plus brefs délais de la durée probable de son absence.
                </li>
                <li>
                    La justifier en adressant dans les 48h à son (ou ses) employeur(s) un certificat médical (ou une copie) daté du 1er jour de l'absence et les certificats de prolongation éventuels.
                </li>
            </ul>
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-title">
            8 - Formation
        </div>
        <div class="block-content">
            (articles L 421-14 du Code de l'Action Sociale et des Familles et L 2111-2 du Code de la Santé Publique)

            <ul>
                <li>
                    Une formation de 60 heures en cours d'emploi est obligatoire pour les assistant(e)s maternel(le)s. Les parents doivent permettre la formation de l'assistant(e) maternel(le) et rémunérer ses journées de formation au même titre que les jours d'accueil (seul sera dû le salaire de base, sans les indemnités d'entretien et de nourriture). L'accueil de l'enfant sera financé et organisé par le Conseil Général.
                </li>
                <li>
                    Droit Individuel à la Formation (DIF) - convention collective nationale - Accord du 21 septembre 2006. Il s'agit d'un quota d'heures de formation que l'assistant(e) maternel(le) acquiert tous les ans si il ou elle justifie d'une activité effective pendant 1 an minimum.
                    <br>
                    (Renseignement auprès de l'IRCEM)
                </li>
            </ul>
        </div>
        <div class="block-title">
            9 - Rupture du contrat
        </div>
        <div class="block-content">
            Toute rupture après la fin de la période d'essai est soumise aux règles suivantes :
        </div>
        <div class="block-subtitle">
            Retrait de l'enfant à l'initiative de l'employeur ou démission à l'initiative du salarié
        </div>
        <div class="block-content">
            Quel q'en soit le motif, l'arrêt de l'accueil de l'enfant à l'initiative des parents ou la démission de l'assistant(e) maternel(le) doit être notifiée par lettre recommandée avec avis de réception. La date de première présentation de la lettre fixe le point de départ du préavis.
            <div>
                L'employeur doit remettre en fin de contrat au salarié :
                <ul>
                    <li>
                        Un bulletin de salaire.
                    </li>
                    <li>
                        Un certificat de travail.
                    </li>
                    <li>
                        L'attestation Assedic.
                    </li>
                </ul>
            </div>
        </div>
        <div class="block-subtitle">
            Préavis
        </div>
        <div class="block-content">
            Hors période d'essai, et sauf faute grave ou faute lourde, la durée minimum du préavis est de :
            <ul>
                <li>
                    15 jours calendaires lorsque le salarié a moins d'un an d'ancienneté.
                </li>
                <li>
                    1 mois calendaire à partir d'un an d'ancienneté.
                </li>
            </ul>
            La période de préavis ne se cumule pas avec une période de congés payés. En cas d'inexécution, la partie responsable de l'inexécution du préavis doit verser à l'autre une indemnité égale au montant de la rémunération qu'aurait perçue le salarié s'il avait travaillé.
        </div>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-subtitle">
            Indemnité compensatrice de congés payés
        </div>
        <div class="block-content">
            Lors de la rupture du contrat de travail, qu'elle soit à l'initiative du salarié ou de l'employeur, le salarié a droit, sauf en cas de faute lourde, à une indemnité compensatrice correspondante à la rémunération des congés dus.
        </div>
        <div class="block-subtitle">
            Indémnités de rupture
        </div>
        <div class="block-content">
            Sauf en cas de faute grave ou de retrait d'agrément, tout retrait de l'enfant qui lui a été confié pendant au moins un an, ouvre droit pour l'assistant(e) maternel(le) à une indemnité conventionnelle égale à 1/120 des salaires nets perçus pendant la durée du contrat.
            <div>
                Toutefois, cette indemnité conventionnelle ne peut être inférieur à l'indemnité légale également applicable aux assistant(e)s maternel(le)s dans les conditions suivantes : sauf en cas de faute grave et si l'assistant(e) maternel(le) a une ancienneté supérieure à un an, il ou elle bénéficie d'une indemenité égale à 1/5 de mois de salaire brut par année de présence, auquel s'ajoute 2/15 de mois par année d'ancienneté au-delà de 10 ans d'ancienneté.
            </div>
            <div>
                Le salaire à prendre en considération pour le calcul de l'indemnité de licenciement est, selon la formule la plus avantageuse pour le salarié.
            </div>
            <ul>
                <li>
                    Soit le douzième de la rémunération des douze derniers mois précédant le licenciement.
                </li>
                <li>
                    Soit le tiers des trois derniers mois. Dans ce cas, toute prime ou gratification de caractère annuel ou exeptionnel, versée au salarié pendant cette période, n'est prise en compte que dans la limite d'un montant calculé à due proportion.
                </li>
            </ul>
            L'indemnité de rupture est exonérée de cotisation et d'impôts sur le revenu.
        </div>
        <?php if ($contract->getGuardType() === 'accueil_mens_incomplete'): ?>
            <div class="block-subtitle">
                Régularisation
            </div>
            <div class="block-content">
                Si l'accueil s'effectue sur une année incmoplète, compte tenu de la mensualisation du salaire, il sera nécessaire de comparer les heures d'accueil réellement effectuées, sans remettre en cause les conditions définies à la signature du contrat, avec celles rémunérées tel que prévu dans le cadre de la mensualisation.
                <div>
                    S'il y a lieu, l'employeur procède à la régularisation. Le montant versé à ce titre est un élément du salaire, il est soumis à cotisations et rentre en compte dans le calcul des congés payés du salarié et, s'il y a lieu, de l'indemnité de rupture.
                </div>
            </div>
        <?php endif; ?>
        <pagebreak />
        <sethtmlpagefooter name="myfooter" value="on"/>
        <div class="block-subtitle">
            Suspension ou retrait de l'agrément
        </div>
        <div class="block-content">
            L'employeur n'est pas responsable de la rupture.
            <div>
                La suspension ou le retrait de l'agrément s'impose au salarié et à l'employeur qui ne peut plus confier son enfant au salarié et lui signifie, par lettre recommandée avec avis de réception, le retrait forcé de l'enfant entraînant la rupture du contrat de travail à la date de notification de la suspension ou du retrait de l'agrément par le Conseil Général.
            </div>
        </div>
        <div class="block-content">
            <div class="bloc-signature">
                A <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator('', 'text') ?> le <?= \Nannyster\Controllers\ContractsController::contractFieldsGenerator('', 'date') ?>
                <div class="bloc-signature-parents">
                    Signature du / des parent(s)<br>
                    <i>(précédée de la mention "lu et approuvée")</i>
                </div>
                <div class="bloc-signature-nanny">
                    Signature de l'assistant(e) maternel(le)<br>
                    <i>(précédée de la mention "lu et approuvée")</i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>