body{
  background: url('../img/creche.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#UserUsersSurname{
  text-transform: uppercase;
}
#UserUsersFirstname{
  text-transform: capitalize;
}
#UserUsersEmail{
  text-transform: lowercase;
}

.login-custom{
  position: absolute;
  z-index: 1090;
  top: 10%;
  left: 0px;
  width: 100%;
  overflow: hidden;
}

.login-custom:after{
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.close-custom{
    margin: 10px;
}

.flash{
    position: absolute;
    z-index: 1200;
    display: block;
    left: 20%;
    width: 60%;
    text-align: center;
    top: 10%;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 0 7px rgba(0,0,0, 0.5);
    background-color: lightgrey !important;
}