<?php 
	echo $this->tag->linkTo(array(
		'permissions',
		'<i class="icon-lock"></i> Permissions Manager',
		'class' => 'btn btn-primary'
	));
?>
&nbsp;
<?php 
	echo $this->tag->linkTo(array(
		'subscriptions/manage',
		'<i class="icon-credit-card"></i> Subscriptions Manager',
		'class' => 'btn btn-primary'
	));
?>
&nbsp;
<?php 
	echo $this->tag->linkTo(array(
		'seo',
		'<i class="icon-signal"></i> SEO Manager',
		'class' => 'btn btn-primary'
	));
?>
&nbsp;
<?php 
	echo $this->tag->linkTo(array(
		'seo',
		'<i class="icon-group"></i> Profiles Manager',
		'class' => 'btn btn-primary'
	));
?>
&nbsp;
<?php 
	echo $this->tag->linkTo(array(
		'users/manage',
		'<i class="icon-user"></i> Users Manager',
		'class' => 'btn btn-primary'
	));
?>
&nbsp;
<?php 
	echo $this->tag->linkTo(array(
		'database',
		'<i class="icon-hdd"></i> Database Manager',
		'class' => 'btn btn-primary'
	));
?>
&nbsp;
<?php 
	echo $this->tag->linkTo(array(
		'social_cotis',
		'<i class="icon-dribbble"></i> Social Cotisation Manager',
		'class' => 'btn btn-primary'
	));
?>
<p>
	Todo:
	<ul>
		<li>Traiter le salaire du dashboard en fonction du type de contrat puis du nombre d'heures par semaine en incluant les heures supplémentaires.</li>
		<li>Export du planning vers google calendar/apple cal/ etc etc</li>
	</ul>
</p>