<div class="page-header">
    <h1>
        Connexion, inscription & réinitialisation
        <small>
            <i class="icon-double-angle-right"></i>
            Tout pour votre compte
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12 center">
        <a href="/session/signup" class="label label-xlg label-purple arrowed-in-right arrowed-in">Inscrivez-vous maintenant et profitez de 3 mois gratuits !!!</a>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-2">
        <div class="visible widget-box">
            <div class="widget-header">
                <h4 class="blue lighter bigger">
                    <i class="icon-signin blue"></i>
                    Connexion
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="space-6"></div>

                    <?php echo Phalcon\Tag::form(array('session/login', 'method' => 'post')); ?>
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <?php echo $loginForm->render('email') ?>
                                <i class="icon-user"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <?php echo $loginForm->render('password') ?>
                                <i class="icon-lock"></i>
                            </span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">

                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                <i class="icon-unlock"></i>
                                Connexion
                            </button>
                        </div>
                    </fieldset>
                    <?php echo Phalcon\Tag::endForm(); ?>
                </div><!-- /widget-main -->
            </div><!-- /widget-body -->
        </div>
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="red lighter bigger">
                    <i class="icon-refresh red"></i>
                    Réinitialiser mon mot de passe
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="space-6"></div>

                    <?php echo Phalcon\Tag::form(array("session/password", "method" => "post")); ?>
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <?php echo $passwordForm->render('email'); ?>
                                <i class="icon-envelope"></i>
                            </span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">

                            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                <i class="icon-lightbulb"></i>
                                Envoyer
                            </button>
                        </div>
                    </fieldset>
                    <?php echo Phalcon\Tag::endForm(); ?>
                </div><!-- /widget-main -->
            </div><!-- /widget-body -->
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class=" widget-box">
            <div class="widget-header">
                <h4 class="green lighter bigger">
                    <i class="icon-user green"></i> Inscription
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="space-6"></div>

                    <?php echo Phalcon\Tag::form(array('session/signup', 'method' => 'post')); ?>
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block">
                                <?php echo $signupForm->render('profile'); ?>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block">
                                <?php echo $signupForm->render('civility'); ?>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <?php echo $signupForm->render('surname'); ?>
                                <i class="icon-user"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <?php echo $signupForm->render('firstname'); ?>
                                <i class="icon-user"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <?php echo $signupForm->render('email'); ?>
                                <i class="icon-envelope"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <?php echo $signupForm->render('password'); ?>
                                <i class="icon-lock"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <?php echo $signupForm->render('confirm_password'); ?>
                                <i class="icon-lock"></i>
                            </span>
                        </label>

                        <label class="block">
                            <?php echo $signupForm->render('terms'); ?>
                            <span class="lbl">
                                J'accepte les 
                                <a href="/legal/notices">Conditions d'utilisation</a>
                            </span>
                        </label>

                        <div class="space-24"></div>

                        <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-success">
                                S'inscrire
                                <i class="icon-arrow-right icon-on-right"></i>
                            </button>
                        </div>
                    </fieldset>
                    <?php echo Phalcon\Tag::endForm(); ?>
                </div>
            </div><!-- /widget-body -->
        </div>
    </div>
</div>