<div class="row center">
    <div class="col-xs-12">
        <h1>Vous êtes assistante maternelle agréée ou parent employeur ?<br>Simplifiez-vous la gestion de la garde d'enfants</h1>
        <h2>
            <a href="/session/login" class="btn btn-danger btn-lg">
                <i class="icon-star"></i> Créez votre compte maintenant et profitez de 3 mois gratuits <i class="icon-star"></i>
            </a>
        </h2>
    </div>
</div>
<div class="space-30"></div>
<div class="row">
    <div class="profile-picture pull-left col-md-4 col-xs-12">
        <img src="/img/contrat.png" class="editable img-responsive">
    </div>
    <div class="col-md-8 col-xs-12 center">
        <div class="margin-top-60">
            <div class="bigger-300">
                <i class="icon-file"></i>
            </div>
            <div class="bigger-150">
                Créez vos contrats de garde en quelques secondes
            </div>
            <div class="bigger-150">
                Imprimez les directement depuis <?= $this->config->application->siteTitle ?>
            </div>
        </div>
    </div>
</div>
<div class="hr hr-dotted"></div>
<div class="row">
    <div class="col-xs-12 col-md-8 center">
        <div class="margin-top-80">
            <div class="bigger-300">
                <i class="icon-calendar"></i>
            </div>
            <div class="bigger-150">
                Vos différents plannings de garde visibles sur le même calendrier
            </div>
        </div>
    </div>
    <div class="profile-picture pull-left col-xs-12 col-md-4">
        <img src="/img/planning.png" class="editable img-responsive">
    </div>
</div>
<div class="hr hr-dotted"></div>
<div class="row">
    <div class="profile-picture pull-left col-md-4 col-xs-12">
        <img src="/img/mail.png" class="editable img-responsive">
    </div>
    <div class="col-md-8 col-xs-12 center">
        <div class="margin-top-60">
            <div class="bigger-300">
                <i class="icon-envelope"></i>
            </div>
            <div class="bigger-150">
                Restez en contact grâce à notre messagerie interne
            </div>
        </div>
    </div>
</div>
<div class="hr hr-dotted"></div>
<div class="row center">
    <div class="row">
        <div class="col-xs-12 col-md-4 margin-20">
            <div class="blue bigger-300">
                <i class="icon-laptop"></i> <i class="icon-tablet"></i> <i class="icon-mobile-phone"></i>
            </div>
            <div class="bigger-150">
                Accessible depuis votre PC, votre tablette ou votre smartphone
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="green bigger-300">
                <i class="icon-lock"></i> https://
            </div>
            <div class="bigger-150">
                Le site est 100% sécurisé. Toutes vos données sont en sécurité
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="red bigger-300">
                <i class="icon-time"></i>
            </div>
            <div class="bigger-150">
                Disponible 24h/7j depuis n'importe où dans le monde
            </div>
        </div>
    </div>
</div>
</div>
<div class="space-30"></div>
<div class="row center well">
    <div class="col-xs-12">
        <h1>Comment ça marche ?</h1>
        <div class="row">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 margin-20">
                            <div class="bigger-300">
                                1
                            </div>
                            <div class="bigger-150">
                                <strong>L'assistante maternelle</strong> créer le contrat de garde et l'imprime directement depuis <?= $this->config->application->siteTitle ?>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="bigger-300">
                                2
                            </div>
                            <div class="bigger-150">
                                <strong>Parents employeurs</strong> et <strong>assistante maternelle</strong> peuvent consulter et modifier le planning de garde directement sur <?= $this->config->application->siteTitle ?>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="bigger-300">
                                3
                            </div>
                            <div class="bigger-150">
                                Générez les fiches de paie, fin de contrats, etc, automatiquement sur <?= $this->config->application->siteTitle ?> en un clic
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
<div class="row center">
    <div class="col-xs-12">
        <h1>
            Tarifs
        </h1>
        <div class="col-xs-12">
            <a href="/session/signup" class="label label-xlg label-purple arrowed-in-right arrowed-in">Inscrivez-vous maintenant et profitez de 3 mois gratuits !!!</a>
        </div>
        <div class="col-xs-6 col-sm-6 pricing-box">
            <div class="widget-box">
                <div class="widget-header header-color-red3">
                    <h5 class="bigger lighter">Abonnement Annuel</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <ul class="list-unstyled spaced2">
                            <li>
                                <i class="icon-ok green"></i>
                                Contrats illimités
                            </li>

                            <li>
                                <i class="icon-ok green"></i>
                                Planning de garde illimité
                            </li>

                            <li>
                                <i class="icon-ok green"></i>
                                Messagerie interne illimitée
                            </li>
                        </ul>

                        <hr />
                        <div class="price">
                            20 €
                            <small>/an</small>
                        </div>
                        <div class="orange advantages center">
                            <i class="icon-star bigger-110"></i>
                            <span>2 MOIS OFFERTS</span>
                            <i class="icon-star bigger-110"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 pricing-box">
            <div class="widget-box">
                <div class="widget-header header-color-orange">
                    <h5 class="bigger lighter">Abonnement Mensuel</h5>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <ul class="list-unstyled spaced2">
                            <li>
                                <i class="icon-ok green"></i>
                                Contrats illimités
                            </li>

                            <li>
                                <i class="icon-ok green"></i>
                                Planning de garde illimité
                            </li>

                            <li>
                                <i class="icon-ok green"></i>
                                Messagerie interne illimitée
                            </li>
                        </ul>

                        <hr />
                        <div class="price">
                            2 €
                            <small>/mois</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>