<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <?php echo $this->tag->getTitle(); ?>
        <meta name="description" content="Simplifiez la gestion de vos contrats, vos plannings entre parents et assistantes maternelles agréés. Et bien d'autres choses encore...">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="nannyster, nounou, nounous, nourrices, nourrice, assistantes maternelles, assistante maternelle, assistante maternelle agréée, assistantes maternelles agréées, parent, parents, planning, contrat, plannings, contrats, gestion de nourrice, gestions de nourrices, gestion d'assistante maternelle, gestion d'assistantes maternelles, gestion d'assistante maternelle agréée, gestion d'assistantes maternelles agréées, gestion de planning nourrice, gestion de planning assitante maternelle agréée, planning nounou, trouver assistante maternelle agréée, trouver nourrice, trouver nounou">
        <meta name="author" content="Kevin BALINI">
        <meta name="copyright" content="&copy; Nannyster">
        <meta property="og:locale" content="fr_FR" >
        <meta property="og:type" content="website" >
        <meta property="og:title" content="Nannyster - Simplifiez-vous la vie" >
        <meta property="og:description" content="Nannyster vous simplifie la gestion de vos relations entre assistante maternelle agréée et parents employeurs. Le but étant de mutualiser les documents communs aux deux parties. Tels que les contrats et les plannings. Et bientôt les fiches de paie, des photos, des récits de journée de garde, etc etc" >
        <meta property="og:url" content="https://www.nannyster.fr/" >
        <meta property="og:site_name" content="Nannyster" >
        <meta property="og:image" content="https://www.nannyster.fr/img/favicon-152.png" >
        <meta property="og:image:width" content="152" >
        <meta property="og:image:height" content="152" >

        <meta property="twitter:card" content="summary" >
        <meta property="twitter:site" content="@Nannyster" >
        <meta property="twitter:creator" content="@KevinBALINI" >

        <!-- default favicon -->
        <link rel="icon" type="image/png" href="/img/favicon.png" >
        <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="/img/favicon-57.png" sizes="57x57">
        <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="/img/favicon-72.png" sizes="72x72">
        <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="/img/favicon-76.png" sizes="76x76">
        <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="/img/favicon-114.png" sizes="114x114">
        <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" href="/img/favicon-120.png" sizes="120x120">
        <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="/img/favicon-144.png" sizes="144x144">
        <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="/img/favicon-152.png" sizes="152x152">
        <!-- Win8 tile -->
        <meta name="msapplication-TileImage" content="https://www.nannyster.fr/img/favicon-144.png">
        <meta name="msapplication-TileColor" content="#CCCCCC"/>
        <meta name="application-name" content="Nannyster" />

        <!-- IE11 tiles -->
        <meta name="msapplication-square70x70logo" content="https://www.nannyster.fr/img/favicon-70.png"/>
        <meta name="msapplication-square150x150logo" content="https://www.nannyster.fr/img/favicon-150.png"/>
        <meta name="msapplication-wide310x150logo" content="https://www.nannyster.fr/img/favicon-310-150.png"/>
        <meta name="msapplication-square310x310logo" content="https://www.nannyster.fr/img/favicon-310-310.png"/>

        <!-- Analytics -->
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-49205552-1', 'nannyster.fr');
            ga('send', 'pageview');
        </script>

        <!-- Recaptcha custom -->
        <script type="text/javascript">
            var RecaptchaOptions = {
                theme: 'custom',
                custom_theme_widget: 'recaptcha_widget'
            };
        </script>

        <!-- css -->
<?php echo $this->assets->outputCss(); ?>

        <!-- js -->
<?php echo $this->assets->outputJs(); ?>


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="background-image-overlay"></div>

        <div id="outer-background-container" data-default-background-img="/img/creche.jpeg" style="background-image:url(/img/creche.jpeg);"></div>
        <!-- end: #outer-background-container -->    

        <!-- Outer Container -->
        <div id="outer-container">

            <!-- Left Sidebar -->
            <section id="left-sidebar">

                <div class="logo">
                    <a href="#intro" class="link-scroll">
                        <?php
                        echo $this->tag->image(array(
                            'img/logo-home.png',
                            'alt' => 'logo',
                            'class' => 'logo-home'
                        ));
                        ?>
                        <h3>Nannyster</h3>
                    </a>
                </div><!-- .logo -->

                <!-- Menu Icon for smaller viewports -->
                <div id="mobile-menu-icon" class="visible-xs center" onClick="toggle_main_menu();"><i class="icon-reorder"></i></div>

                <ul id="main-menu">
                    <li id="menu-item-nourrices" class="menu-item scroll"><a href="#nourrices">Nourrices</a></li>
                    <li id="menu-item-parents" class="menu-item scroll"><a href="#parents">Parents</a></li>
                    <li id="menu-item-abonnements" class="menu-item scroll"><a href="#abonnements">Abonnements</a></li>
                    <li id="menu-item-reseau" class="menu-item scroll"><a href="#reseau">Suivez-nous</a></li>
                    <li id="menu-item-inscription" class="menu-connexion"><a href="#" onclick="populate_and_open_modal(event, 'modal-signup');">Inscription</a></li>
                    <li id="menu-item-connexion" class="menu-connexion"><a href="#" onclick="populate_and_open_modal(event, 'modal-login');">Connexion</a></li>
                </ul><!-- #main-menu -->

            </section><!-- #left-sidebar -->
            <!-- end: Left Sidebar -->

            <section id="main-content" class="clearfix">
                <div class="index-alert">
<?php echo $this->flash->output(); ?>
                </div>      
                <article id="intro" class="section-wrapper clearfix" data-custom-background-img="/img/creche.jpeg">
                    <div class="content-wrapper clearfix">
                        <div class="col-sm-10 col-md-9 pull-right special-well">

                            <section class="feature-text">
                                <h1>Qu'est ce que c'est Nannyster?</h1>
                                <p>Nannyster vous simplifie la gestion de vos relations entre assistante maternelle agréée et parents employeurs.<br/>Le but étant de mutualiser les documents communs aux deux parties. Tels que les contrats et les plannings. Et bientôt les fiches de paie, des photos, des récits de journée de garde, etc etc</p>
                                <p>
                                    <a href="#" onclick="populate_and_open_modal(event, 'modal-login');" class="link-scroll btn btn-info btn-lg linked">Je me connecte</a>
                                    <a href="#" onclick="populate_and_open_modal(event, 'modal-signup');" class="link-scroll btn btn-success btn-lg linked">Je m'inscris gratuitement</a>
                                </p>
                            </section>

                        </div><!-- .col-sm-10 -->
                    </div><!-- .content-wrapper -->

                    <div class="content-to-populate-in-modal" id="modal-login">
                        <h3>Connexion à Nannyster</h3>
                                <?php echo Phalcon\Tag::form(array('session/login', 'method' => 'post')); ?>
                        <fieldset>
                            <label class="block clearfix col-xs-12 col-md-6">
<?php echo $formLogin->render('email') ?>
                            </label>

                            <label class="block clearfix col-xs-12 col-md-6">
                                    <?php echo $formLogin->render('password') ?>
                            </label>

                            <div class="space"></div>

                            <div class="block clearfix col-xs-12">
                                <label class="inline">
<?php echo $formLogin->render('remember') ?>
                                    <span class="lbl">  <?php echo $formLogin->getLabel('remember'); ?></span>
                                </label>
                            </div>
                            <div class="block clearfix col-xs-11 col-md-6 no-padding">
                                <a class="btn btn-lg btn-danger link-scroll linked no-margin-side" href="#" onclick="populate_and_open_modal(event, 'modal-forgot');">
                                    <i class="icon-question"></i>
                                    J'ai oublié mon mot de passe
                                </a>
                            </div>
                            <div class="block clearfix col-xs-11 col-md-6 no-padding">
                                <button type="submit" class="btn btn-lg btn-primary no-margin-side">
                                    <i class="icon-ok"></i>
                                    Connectez moi!
                                </button>
                            </div>
                        </fieldset>
                                <?php echo Phalcon\Tag::endForm(); ?>
                    </div><!-- #modal-login -->

                    <div class="content-to-populate-in-modal" id="modal-forgot">
                        <h3>Réinitialisation du mot de passe</h3>
<?php echo Phalcon\Tag::form(array("session/forgotPassword", "method" => "post")); ?>
                        <fieldset>
                            <label class="block clearfix col-xs-12 col-md-8 col-md-offset-2">
<?php echo $formForgotPassword->render('email'); ?>
                            </label>

                            <div class="block clearfix col-xs-12 col-md-6">
                                <a class="btn btn-lg btn-info link-scroll linked pull-left" href="#" onclick="populate_and_open_modal(event, 'modal-login');">
                                    <i class="icon-arrow-left"></i>
                                    Retour à la connexion
                                </a>
                            </div>
                            <div class="block clearfix col-xs-12 col-md-6">
                                <button type="submit" class="pull-right btn btn-lg btn-danger">
                                    <i class="icon-lightbulb"></i>
                                    Réinitialisez moi!
                                </button>
                            </div>
                        </fieldset>
<?php echo Phalcon\Tag::endForm(); ?>
                    </div><!-- #modal-forgot -->

                    <div class="content-to-populate-in-modal" id="modal-signup">
                        <h3>Inscription sur Nannyster</h3>
<?php echo Phalcon\Tag::form(array("session/signup", "method" => "post")); ?>
                        <fieldset>
                            <div class="row">
                                <label class="block clearfix col-xs-12 col-md-6 col-md-offset-3">
                                    <span class="block">
                                        <div class="select-style index-form">
<?php echo $formSignUp->render('profile') ?>
                                        </div>
                                    </span>
                                </label>
                            </div>
                            <div class="space-4"></div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <label class="block clearfix col-xs-12">
                                        <span class="block">
                                            <div class="select-style index-form">
<?php echo $formSignUp->render('civility') ?>
                                            </div>
                                        </span>
                                    </label>
                                    <label class="block clearfix col-xs-12">
                                        <span class="block input-icon input-icon-right">
<?php echo $formSignUp->render('surname') ?>
                                            <i class="icon-user"></i>
                                        </span>
                                    </label>                                                                                                                  
                                    <label id="users_wedding_surname" class="block clearfix hidden no-margin col-xs-12">
                                        <span class="block input-icon input-icon-right">
<?php echo $formSignUp->render('wedding_surname') ?>
                                            <i class="icon-user"></i>
                                        </span>
                                    </label>                                                                                                             
                                    <label class="block clearfix col-xs-12">
                                        <span class="block input-icon input-icon-right">
                                            <?php echo $formSignUp->render('firstname') ?>
                                            <i class="icon-user"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label class="block clearfix col-xs-12">
                                        <span class="block input-icon input-icon-right">
                                            <?php echo $formSignUp->render('email') ?>
                                            <i class="icon-envelope"></i>
                                        </span>
                                    </label>

                                    <label class="block clearfix col-xs-12">
                                        <span class="block input-icon input-icon-right">
                                            <?php echo $formSignUp->render('password') ?>
                                            <i class="icon-lock"></i>
                                        </span>
                                    </label>

                                    <label class="block clearfix col-xs-12">
                                        <span class="block input-icon input-icon-right">
<?php echo $formSignUp->render('confirm_password') ?>
                                            <i class="icon-retweet"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="row">
                                <label class="block clearfix col-xs-12 col-md-6 col-md-offset-3">
                                    <span class="block input-icon input-icon-right">
                                    <?php echo Nannyster\Recaptcha\Recaptcha::get('6Ld3pfASAAAAACJQ2xa7P8Pk6fJxiqVCWXd_qCrD'); ?>
                                    </span>
                                </label>
                            </div>
                            <div class="space-4"></div>
                            <div class="row">
                                <label class="block col-xs-12 col-md-6">
<?php echo $formSignUp->render('terms') ?>
                                    <span class="lbl">
                                        J'accepte les
                                        <a href="#" class="no-margin">Conditions d'utilisation</a>
                                    </span>
                                </label>
<?php echo $formSignUp->render('csrfSignUp', array('value' => $this->security->getToken())) ?>
                                <div class="clearfix col-xs-12 col-md-6">
                                    <button type="submit" class="pull-right btn btn-lg btn-success">
                                        <i class="icon-edit"></i>
                                        Inscrivez moi!
                                    </button>
                                </div>
                            </div>
                        </fieldset>
<?php echo Phalcon\Tag::endForm(); ?>
                        <script>
                            $('#civility, #selectType').change(function() {
                                if ($('#civility').val() == 'Mme') {
                                    $('#users_wedding_surname').removeClass('hidden').removeClass('no-margin');
                                    $('#wedding_surname').removeClass('hidden');
                                }
                            });

                            $('#civility, #profile_id').change(function() {
                                if ($('#civility').val() != 'Mme') {
                                    $('#users_wedding_surname').addClass('hidden').addClass('no-margin');
                                    $('#wedding_surname').addClass('hidden');
                                }
                            });
                        </script>
                    </div><!-- #modal-signup -->
                </article><!-- .section-wrapper -->

                <article id="nourrices" class="section-wrapper clearfix" data-custom-background-img="/img/creche2.jpg">
                    <div class="content-wrapper clearfix">
                        <div class="col-sm-11 col-md-10 pull-right special-well">

                            <h1 class="section-title">Nannyster pour les assistantes maternelles</h1>

                            <!-- grid -->
                            <section class="grid row clearfix clearfix-for-2cols">

                                <!-- grid item -->
                                <div class="grid-item col-md-6">
                                    <div class="item-content clearfix">
                                        <i class="icon-file icon fonticon"></i>
                                        <div class="text-content">
                                            <h5>Contrats</h5>
                                            <p>Créez vos contrats en 5 minutes, et imprimez les directement depuis Nannyster.</p>
                                        </div>
                                    </div><!-- end: .item-content -->
                                </div><!-- end: .grid-item -->

                                <!-- grid item -->
                                <div class="grid-item col-md-6">
                                    <div class="item-content clearfix">
                                        <i class="icon fonticon icon-calendar"></i>
                                        <div class="text-content">
                                            <h5>Plannings</h5>
                                            <p>Retrouvez tous vos plannings de garde dans un seul planning. Ne perdez plus de temps Nannyster s'occupe de tout!</p>
                                        </div>
                                    </div><!-- end: .item-content -->
                                </div><!-- end: .grid-item -->

                                <!-- grid item -->
                                <div class="grid-item col-md-6">
                                    <div class="item-content clearfix">
                                        <i class="icon fonticon icon-eur"></i>
                                        <div class="text-content">
                                            <h5>Suivez votre salaire</h5>
                                            <p>Suivez l'évolution de votre salaire au fur et à mesure que votre planning se rempli.</p>
                                        </div>
                                    </div><!-- end: .item-content -->
                                </div><!-- end: .grid-item -->

                                <!-- grid item -->
                                <div class="grid-item col-md-6">
                                    <div class="item-content clearfix">
                                        <i class="icon fonticon icon-envelope"></i>
                                        <div class="text-content">
                                            <h5>Messagerie intégrée</h5>
                                            <p>Restez en contact grâce à la messagerie interne Nannyster.</p>
                                        </div>
                                    </div><!-- end: .item-content -->
                                </div><!-- end: .grid-item -->
                                <p>
                                    <a href="#" onclick="populate_and_open_modal(event, 'modal-login');" class="link-scroll btn btn-info btn-lg linked">Je me connecte</a>
                                    <a href="#" onclick="populate_and_open_modal(event, 'modal-signup');" class="link-scroll btn btn-success btn-lg linked">Je m'inscris gratuitement</a>
                                </p>
                            </section><!-- end: grid -->

                        </div><!-- .col-sm-11 -->
                    </div><!-- .content-wrapper -->
                </article><!-- .section-wrapper -->

                <article id="parents" class="section-wrapper clearfix" data-custom-background-img="/img/creche2.jpg">
                    <div class="content-wrapper clearfix">
                        <div class="col-sm-11 col-md-10 pull-right special-well">

                            <h1 class="section-title">Nannyster pour les parents employeurs</h1>

                            <!-- grid -->
                            <section class="grid row clearfix clearfix-for-2cols">

                                <!-- grid item -->
                                <div class="grid-item col-md-6">
                                    <div class="item-content clearfix">
                                        <i class="icon-file icon fonticon"></i>
                                        <div class="text-content">
                                            <h5>Contrats</h5>
                                            <p>Consultez tous les contrats créez par vos assistantes maternelles sur Nannyster.</p>
                                        </div>
                                    </div><!-- end: .item-content -->
                                </div><!-- end: .grid-item -->

                                <!-- grid item -->
                                <div class="grid-item col-md-6">
                                    <div class="item-content clearfix">
                                        <i class="icon fonticon icon-calendar"></i>
                                        <div class="text-content">
                                            <h5>Plannings</h5>
                                            <p>Créez vos plannings de garde sur Nannyster. Vos nourrices les reçoivent instantanément.</p>
                                        </div>
                                    </div><!-- end: .item-content -->
                                </div><!-- end: .grid-item -->

                                <!-- grid item -->
                                <div class="grid-item col-md-6">
                                    <div class="item-content clearfix">
                                        <i class="icon fonticon icon-eur"></i>
                                        <div class="text-content">
                                            <h5>Suivez vos dépenses</h5>
                                            <p>Suivez en temps réel combien vous coûte la garde de vos enfants.</p>
                                        </div>
                                    </div><!-- end: .item-content -->
                                </div><!-- end: .grid-item -->

                                <!-- grid item -->
                                <div class="grid-item col-md-6">
                                    <div class="item-content clearfix">
                                        <i class="icon fonticon icon-envelope"></i>
                                        <div class="text-content">
                                            <h5>Messagerie intégrée</h5>
                                            <p>Restez en contact grâce à la messagerie interne Nannyster.</p>
                                        </div>
                                    </div><!-- end: .item-content -->
                                </div><!-- end: .grid-item -->
                                <p>
                                    <a href="#" onclick="populate_and_open_modal(event, 'modal-login');" class="link-scroll btn btn-info btn-lg linked">Je me connecte</a>
                                    <a href="#" onclick="populate_and_open_modal(event, 'modal-signup');" class="link-scroll btn btn-success btn-lg linked">Je m'inscris gratuitement</a>
                                </p>
                            </section><!-- end: grid -->

                        </div><!-- .col-sm-11 -->
                    </div><!-- .content-wrapper -->
                </article><!-- .section-wrapper -->

                <article id="abonnements" class="section-wrapper clearfix" data-custom-background-img="/img/creche3.jpg">
                    <div class="content-wrapper clearfix">
                        <div class="col-sm-11 pull-right special-well">

                            <h1 class="section-title">Abonnements</h1>
                            <h4><strong>Assistantes maternelles :</strong> obtenez 5€ à valoir sur votre prochain abonnement, par couple de parent employeur parrainé.</h4>
                            <h4><strong>Parents :</strong> obtenez 5€ de réduction immédiate sur votre abonnement en vous faisant parrainer par une assistante maternelle.</h4>
                            <div class="spacer"></div>
                            <!-- feature columns -->

                            <section class="feature-columns row clearfix">
                                <div class="row">
                                    <div class="col-xs-6 col-md-4 pricing-box">
                                        <div class="widget-box">
                                            <div class="widget-header header-color-dark">
                                                <h5 class="bigger lighter">Pack Gratuit</h5>
                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <ul class="list-unstyled spaced2">
                                                        <li>
                                                            <i class="icon-ok orange"></i>
                                                            1 seul contrat actif
                                                        </li>

                                                        <li>
                                                            <i class="icon-ok orange"></i>
                                                            Planning de garde limité
                                                        </li>

                                                        <li>
                                                            <i class="icon-remove red"></i>
                                                            Pas de messagerie interne
                                                        </li>
                                                    </ul>

                                                    <hr>
                                                    <div class="price">
                                                        € 0
                                                        <small>/mois</small>
                                                    </div>
                                                </div>

                                                <!-- <div>
                                                      <span href="#" class="btn btn-block btn-inverse">
                                                            <i class="icon-shopping-cart bigger-110"></i>
                                                            <span>Buy</span>
                                                      </span>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-4 pricing-box">
                                        <div class="widget-box">
                                            <div class="widget-header header-color-orange">
                                                <h5 class="bigger lighter">Pack Annuel</h5>
                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <ul class="list-unstyled spaced2">
                                                        <li>
                                                            <i class="icon-ok green"></i>
                                                            Contrats Illimités
                                                        </li>

                                                        <li>
                                                            <i class="icon-ok green"></i>
                                                            Planning de garde illimité
                                                        </li>

                                                        <li>
                                                            <i class="icon-ok green"></i>
                                                            Messagerie interne illimitée
                                                        </li>
                                                    </ul>

                                                    <hr>
                                                    <div class="price">
                                                        € 20
                                                        <small>/an</small>
                                                    </div>
                                                </div>

                                                <div>
                                                    <div class="orange advantages">
                                                        <i class="icon-star bigger-110"></i>
                                                        <span>2 MOIS OFFERTS</span>
                                                        <i class="icon-star bigger-110"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-4 pricing-box">
                                        <div class="widget-box">
                                            <div class="widget-header header-color-blue">
                                                <h5 class="bigger lighter">Pack Mensuel</h5>
                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <ul class="list-unstyled spaced2">
                                                        <li>
                                                            <i class="icon-ok green"></i>
                                                            Contrats Illimités
                                                        </li>

                                                        <li>
                                                            <i class="icon-ok green"></i>
                                                            Planning de garde illimité
                                                        </li>

                                                        <li>
                                                            <i class="icon-ok green"></i>
                                                            Messagerie interne illimitée
                                                        </li>
                                                    </ul>

                                                    <hr>
                                                    <div class="price">
                                                        € 2
                                                        <small>/mois</small>
                                                    </div>
                                                </div>

                                                <!-- <div>
                                                      <a href="#" class="btn btn-block btn-inverse">
                                                            <i class="icon-shopping-cart bigger-110"></i>
                                                            <span>Buy</span>
                                                      </a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="spacer"></div>

                                <p>
                                    <a href="#" onclick="populate_and_open_modal(event, 'modal-login');" class="link-scroll btn btn-info btn-lg linked">Je me connecte</a>
                                    <a href="#" onclick="populate_and_open_modal(event, 'modal-signup');" class="link-scroll btn btn-success btn-lg linked">Je m'inscris gratuitement</a>
                                </p>
                            </section><!-- end: .feature-columns -->

                            <!-- End: Section content to edit -->

                        </div><!-- .col-sm-10 -->
                    </div><!-- .content-wrapper -->
                </article><!-- .section-wrapper -->

                <article id="reseau" class="section-wrapper clearfix" data-custom-background-img="/img/bg4.jpg">
                    <div class="content-wrapper clearfix">
                        <div class="col-sm-11 pull-right special-well">

                            <h1 class="section-title">Suivez-nous sur</h1>

                            <!-- feature columns -->
                            <section class="feature-columns row clearfix">

                                <article class="feature-col col-md-4">
                                    <a href="https://www.facebook.com/nannyster.fr" class="network linked center">
                                        <div class="image-container">
                                            <i class="icon-facebook"></i>
                                        </div>
                                        <div class="caption">
                                            <h5>Facebook</h5>
                                        </div><!-- .caption -->
                                    </a><!-- .thumbnail -->
                                </article>

                                <article class="feature-col col-md-4">
                                    <a href="https://twitter.com/Nannyster" class="network linked center">
                                        <div class="image-container">
                                            <i class="icon-twitter"></i>
                                        </div>
                                        <div class="caption">
                                            <h5>Twitter</h5>
                                        </div><!-- .caption -->
                                    </a><!-- .thumbnail -->
                                </article>

                                <article class="feature-col col-md-4">
                                    <a href="https://plus.google.com/107984750385564051698" rel="publisher" class="network linked center">
                                        <div class="image-container">
                                            <i class="icon-google-plus"></i>
                                        </div>
                                        <div class="caption">
                                            <h5>Google+</h5>
                                        </div><!-- .caption -->
                                    </a><!-- .thumbnail -->
                                </article>

                            </section><!-- end: .feature-columns -->

                            <!-- End: Section content to edit -->

                        </div><!-- .col-sm-10 -->
                    </div><!-- .content-wrapper -->
                </article><!-- .section-wrapper -->

            </section><!-- #main-content -->

            <!-- Footer -->
            <section id="footer">

                <!-- Go to Top -->
                <div id="go-to-top" onclick="scroll_to_top();"><span class="icon-chevron-up"></span></div>

                <!-- copyright text -->
                <div class="footer-text-line">&copy; 2013 - <?php echo date('Y'); ?> Nannyster</div>
            </section>
            <!-- end: Footer -->      

        </div><!-- #outer-container -->
        <!-- end: Outer Container -->

        <!-- Modal -->
        <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
        <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- .modal -->    

        <!-- background image fix for IE 9 or less
              - use same background as set above to <body> -->
        <!--[if lt IE 9]>
        <script type="text/javascript">
        $(document).ready(function(){
        jQuery("#outer-background-container").backstretch("/img/bg5.jpg");
        });
        </script> 
        <![endif]-->  

        <!-- IE9 form fields placeholder fix -->
        <!--[if lt IE 9]>
        <script>contact_form_IE9_placeholder_fix();</script>
        <![endif]-->    

    </body>
</html>
