<div class="page-header">
    <?php if($updateAllowed): ?>
    <h1>
        <?php echo ucwords($user->firstname).' '.(($user->wedding_surname != null) ? strtoupper($user->wedding_surname) : strtoupper($user->surname)) ?>
    </h1>
<?php endif; ?>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div>
            <div id="user-profile-1" class="user-profile row">
                <div class="col-xs-12 col-sm-3 center">
                    <div id="plupload">
                        <span class="profile-picture" id="droparea">
                            <?php 
                                echo $this->tag->image(array(
                                    'img/avatars/'.$user->avatar,
                                    'alt' => ucwords($user->firstname).' '.(($user->wedding_surname != null) ? strtoupper($user->wedding_surname) : strtoupper($user->surname)),
                                    'class' => 'img-responsive'
                                )); 
                            ?>
                        </span>
                        <div id="progressbar" class="progress hidden" data-percent="0%" width="100%"><div id="progressbar-inner" class="progress-bar" style="width: 0%"></div></div>
                        <div class="space-4"></div>
                        <?php if($updateAllowed): ?>
                        <a href="#" id="browse" class="btn btn-info"><i class="icon-picture"></i> Changer d'image...</a>
                        <?php else: ?>
                        <?php 
                            echo $this->tag->linkTo(array(
                                'quick-mail/'.$user->_id.'/'.ucwords($user->firstname).'-'.(($user->wedding_surname != null) ? strtoupper($user->wedding_surname) : strtoupper($user->surname)).'/'.$this->security->hash($user->_id.'-'.ucwords($user->firstname).'-'.(($user->wedding_surname != null) ? strtoupper($user->wedding_surname) : strtoupper($user->surname))),
                                '<i class="icon-envelope"></i> Lui envoyer un message ',
                                'class' => 'btn btn-danger'));
                        ?>
                        <?php endif; ?>
                        <div class="space-4"></div>
                        
                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                            <div class="inline position-relative">
                                <span class="white"><?php echo ucwords($user->firstname).' '.(($user->wedding_surname != null) ? strtoupper($user->wedding_surname) : strtoupper($user->surname)); ?></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-9">
                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-small">
                            <h4 class="blue smaller">
                                <i class="icon-user orange"></i>
                                Mes Informations
                            </h4>

                            <div class="widget-toolbar action-buttons">
                                <a href="#" data-action="collapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main padding-8">
                                <div class="profile-user-info profile-user-info-striped">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Adresse </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="address"><?php echo $user->address; ?></span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Ville </div>
                                        <div class="profile-info-value">
                                            <i class="icon-map-marker light-orange bigger-110"></i>
                                            <span class="editable" id="zip_code"><?php echo $user->zipcode; ?></span>
                                            <span class="editable" id="city"><?php echo $user->city; ?></span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Mes numéros </div>
                                        <div class="profile-info-value">
                                            <i class="icon-mobile-phone light-orange bigger-110"></i>
                                            <span class="editable" id="mobile"><?php echo $user->mobile; ?></span>&nbsp;
                                            <i class="icon-phone light-orange bigger-110"></i>
                                            <span class="editable" id="phone"><?php echo $user->phone; ?></span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Email </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="email"><?php echo $user->email; ?></span>
                                        </div>
                                    </div>  
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> N° Pajemploi </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="pajemploi"><?php echo $user->nopajemploi; ?></span>
                                        </div>
                                    </div>
                                    <?php if ($profile->name == 'Nourrice'): ?>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> N° S. Sociale </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="ssociale"><?php echo $user->nossociale; ?></span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Date de naissance </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="dateBirth"><?php echo ($user->date_birth != null) ? \Nannyster\Controllers\ControllerBase::returnDateTime(strtotime($user->date_birth), 'date') : ''; ?></span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Lieu de naissance </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="cityBirth"><?php echo $user->city_birth; ?></span>
                                        </div>
                                    </div>
                                    <?php endif ?>                                     
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Type de compte </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="type"><?php echo (string) $user->getProfile()->getId(); ?></span>
                                        </div>
                                    </div>                                     
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Actif ? </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="active"><?php echo $user->active; ?></span><span class="red"> (Permet de renvoyer une demande de confirmation d'email si on passe de oui à non)</span>
                                        </div>
                                    </div>                                     
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Suspendu ? </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="suspended"><?php echo $user->suspended; ?></span>
                                        </div>
                                    </div>                                     
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Banni ? </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="banned"><?php echo $user->banned; ?></span>
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Inscription </div>
                                        <div class="profile-info-value">
                                            <span class="editable" id="date">le <?php echo \Nannyster\Controllers\ControllerBase::returnDateTime($user->created); ?></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php if ($profile->name == 'Nourrice'): ?>
                        <div class="space-20"></div>

                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h4 class="blue smaller">
                                    <i class="icon-shield orange"></i>
                                    Ma responsabilité civile professionnelle
                                </h4>

                                <div class="widget-toolbar action-buttons">
                                    <a href="#" data-action="collapse">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Compagnie</div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="rc_compagny"><?php echo $user->rc_compagny; ?></span>
                                            </div>
                                        </div> 
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Adresse</div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="rc_address"><?php echo $user->rc_address; ?></span>
                                            </div>
                                        </div>  
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Ville </div>
                                            <div class="profile-info-value">
                                                <i class="icon-map-marker light-orange bigger-110"></i>
                                                <span class="editable" id="rc_zip_code"><?php echo $user->rc_zip; ?></span>
                                                <span class="editable" id="rc_city"><?php echo $user->rc_city; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> N° police </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="rc_no"><?php echo $user->rc_no; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                        <div class="profile-info-name">Date de validité </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="rc_validity"><?php echo ($user->rc_validity != null) ? \Nannyster\Controllers\ControllerBase::returnDateTime(strtotime($user->rc_validity)) : ''; ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="space-20"></div>

                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h4 class="blue smaller">
                                    <i class="icon-road orange"></i>
                                    Mon assurance automobile
                                </h4>

                                <div class="widget-toolbar action-buttons">
                                    <a href="#" data-action="collapse">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Compagnie</div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="auto_compagny"><?php echo $user->auto_compagny; ?></span>
                                            </div>
                                        </div> 
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Adresse</div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="auto_address"><?php echo $user->auto_address; ?></span>
                                            </div>
                                        </div>  
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Ville </div>
                                            <div class="profile-info-value">
                                                <i class="icon-map-marker light-orange bigger-110"></i>
                                                <span class="editable" id="auto_zip_code"><?php echo $user->auto_zip; ?></span>
                                                <span class="editable" id="auto_city"><?php echo $user->auto_city; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> N° police </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="auto_no"><?php echo $user->auto_no; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                        <div class="profile-info-name">Date de validité </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="auto_validity"><?php echo ($user->auto_validity != null) ? \Nannyster\Controllers\ControllerBase::returnDateTime(strtotime($user->auto_validity)) : ''; ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="space-20"></div>

                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h4 class="blue smaller">
                                    <i class="icon-euro orange"></i>
                                    Mon salaire
                                </h4>

                                <div class="widget-toolbar action-buttons">
                                    <a href="#" data-action="collapse">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Taux horaire (brut)</div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="tauxHoraire"><?php echo $user->taux_horaire; ?></span>
                                            </div>
                                        </div>  
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Indemnité d'entretien </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="indemniteEntretien"><?php echo $user->indemnite_entretien; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Frais de petit déjeuner </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="fraisPetitDejeuner"><?php echo $user->frais_petit_dejeuner; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Frais de déjeuner </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="fraisDejeuner"><?php echo $user->frais_dejeuner; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Frais de gouter </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="fraisGouter"><?php echo $user->frais_gouter; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Frais de diner </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="fraisDiner"><?php echo $user->frais_diner; ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-20"></div>

                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h4 class="blue smaller">
                                    <i class="icon-file-text orange"></i>
                                    Mon agrément
                                </h4>

                                <div class="widget-toolbar action-buttons">
                                    <a href="#" data-action="collapse">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> N° agrément </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="agreementNumber"><?php echo $user->agreement_id_number; ?></span>
                                            </div>
                                        </div>  
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Obtenu le </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="agreementFirst"><?php echo \Nannyster\Controllers\ControllerBase::returnDateTime(strtotime($user->agreement_start_date), 'date'); ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Renouvelé le </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="agreementRenew"><?php
                                                    if ($user->agreement_renew_date != null) {
                                                        echo \Nannyster\Controllers\ControllerBase::returnDateTime(strtotime($user->agreement_renew_date), 'date');
                                                    } else {
                                                        echo 'Pas encore renouvelé';
                                                    }
                                                    ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Nb enfants et tranches d'âge <i class="icon-question-sign orange" data-rel="tooltip" data-original-title="Par exemple : 3 enfants de 0 à 10 ans."></i></div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="agreementChildren"><?php echo $user->agreement_children_number; ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php endif ?>
                        <div class="space-20"></div>

                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h4 class="blue smaller">
                                    <i class="icon-cog orange"></i>
                                    Paramètres de mon compte
                                </h4>

                                <div class="widget-toolbar action-buttons">
                                    <a href="#" data-action="collapse">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Confidentialité </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="visibility"><?php echo $user->private_informations; ?></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Notifications par email </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="notifParam"><?php echo $user->email_notification; ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php if ($profile->name == 'Nourrice'): ?>
                        <div class="space-20"></div>
                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h4 class="blue smaller">
                                    <i class="icon-search orange"></i>
                                    Paramètres de l'annuaire <?php echo $this->config->application->siteTitle; ?>
                                </h4>

                                <div class="widget-toolbar action-buttons">
                                    <a href="#" data-action="collapse">
                                        <i class="icon-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Visibilité</div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="annuaireVisibility"><?php echo $user->directory_visible; ?></span>
                                            </div>
                                        </div>  
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Coordonnées </div>
                                            <div class="profile-info-value">
                                                <span class="editable" id="annuaireInfo"><?php echo $user->directory_private_informations; ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
var pkey = '<?php echo $user->getId(); ?>';

$(document).ready(function() {
    $('#type').editable({
    type: 'select',
    value: $('#type').html(),
    source: [
    <?php
        for ($i = 0; $i < sizeof($profiles); $i++) { 
            echo "{value:'".$profiles[$i]->getId()."',text:'".$profiles[$i]->getName()."'}";
            if($i != sizeof($profiles) - 1){
                echo ',';
            }
        }
    ?>
    ],
    url: '/users/ajaxAdminProfileEditor',
    name: 'profile',
    pk: pkey,
    display: function(value) {
        <?php
            for ($i = 0; $i < sizeof($profiles); $i++) { 
                echo "if(value == '".$profiles[$i]->getId()."'){\$(this).text('".$profiles[$i]->getName()."');}";
            }
        ?>
    },
    error: function(response, newValue) {
      $.gritter.add({
        title: 'Erreur',
        text: 'Une erreur s\'est produite lors de la mise à jour du type de compte. Veuillez recommencer.',
        class_name: 'gritter-error'
      });
    },
    success: function(response, newValue) {
      $.gritter.add({
        title: 'Confirmation',
        text: 'Le type de compte a bien été mis à jour.',
        class_name: 'gritter-success'
      });
    }
    });
});
</script>
