<div class="page-header">
    <h1>
        Gestion des utilisateurs
        <small>
            <i class="icon-double-angle-right"></i>

        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="user-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>Prénom NOM</th>
                                <th>Abonnement</th>
                                <th>Type</th>
                                <th class="hidden-480">
                                    <i class="icon-time bigger-110"></i>
                                    Inscrit le
                                </th>
                                <th>Status</th>

                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <?php foreach ($users as $user): ?>
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <?php
                                        echo $this->tag->linkTo(array(
                                            'profil/' . Nannyster\Utils\Slug::generate($user->getFormatedName()) . '/' . $user->_id,
                                            $user->getCivility()->getShortName() . ' ' . $user->getFormatedName() . ' <span class="hidden-480">(' . $user->email . ')</span>',
                                            'target' => '_blank'
                                        ));
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                        echo $user->getSubscription()->getSubscriptionBase()->getName();
                                        if($user->getSubscription()->getExpired()){
                                            echo ' <span class="label label-danger">Expiré</span>';
                                        }
                                        else{
                                            echo ' <span class="label label-success">Actif</span>';
                                        }
                                        ?>
                                    </td>
                                    <td><?php
                                        echo '<span class="label label-sm label-' . $user->getProfile()->getStyle() . '">' . $user->getProfile()->getName() . '</span>';
                                        ?></td>
                                    <td class="hidden-480"><?php echo Nannyster\Controllers\ControllerBase::returnDateTime($user->getCreated()) ?></td>

                                    <td>
                                        <?php
                                        if ($user->getBanned()) {
                                            echo '<span class="label label-sm label-danger">Banni</span>';
                                        }
                                        elseif ($user->getSuspended()) {
                                            echo '<span class="label label-sm label-warning">Suspendu</span>';
                                        }
                                        elseif ($user->getActive()) {
                                            echo '<span class="label label-sm label-success">Valide</span>';
                                        }
                                        else {
                                            echo '<span class="label label-sm label-info">Non Valide</span>';
                                        }
                                        ?>
                                    </td>

                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                            <?php
                                            if ($user->getId() != $this->auth->getId()) {
                                                echo $this->tag->linkTo(array(
                                                    'users/edit/' . (string) $user->getId(),
                                                    '<i class="icon-pencil bigger-130"></i>',
                                                    'class' => 'green',
                                                    'data-rel' => 'tooltip',
                                                    'title' => 'Editer'
                                                ));
                                                echo $this->tag->linkTo(array(
                                                    'users/delete/' . (string) $user->getId(),
                                                    '<i class="icon-trash bigger-130"></i>',
                                                    'class' => 'red',
                                                    'id' => 'delete',
                                                    'data-rel' => 'tooltip',
                                                    'title' => 'Supprimer'
                                                ));
                                                echo $this->tag->linkTo(array(
                                                    'quick-mail/' . (string) $user->getId() . '/' . \Nannyster\Utils\Slug::generate($user->getFormatedName()),
                                                    '<i class="icon-envelope-alt bigger-130"></i>',
                                                    'class' => 'orange',
                                                    'data-rel' => 'tooltip',
                                                    'title' => 'Envoyer message'
                                                ));
                                            }
                                            ?>
                                        </div>
                                        <?php
                                        if ($user->getId() != $this->auth->getId()):
                                            ?>
                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="inline position-relative">
                                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-caret-down icon-only bigger-120"></i>
                                                    </button>

                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                        <li>
                                                            <?php
                                                            echo $this->tag->linkTo(array(
                                                                'users/edit/' . (string) $user->getId(),
                                                                '<span class="green"><i class="icon-pencil bigger-120"></i></span>',
                                                                'class' => 'green',
                                                                'data-rel' => 'tooltip',
                                                                'title' => 'Editer'
                                                            ));
                                                            ?>
                                                        </li>

                                                        <li>
                                                            <?php
                                                            echo $this->tag->linkTo(array(
                                                                'users/delete/' . (string) $user->getId(),
                                                                '<span class="red"><i class="icon-trash bigger-120"></i></span>',
                                                                'class' => 'red',
                                                                'id' => 'delete',
                                                                'data-rel' => 'tooltip',
                                                                'title' => 'Supprimer'
                                                            ));
                                                            ?>
                                                        </li>
                                                        <li>
                                                            <?php
                                                            echo $this->tag->linkTo(array(
                                                                'quick-mail/' . (string) $user->getId() . '/' . \Nannyster\Utils\Slug::generate($user->getFormatedName()),
                                                                '<i class="icon-envelope-alt bigger-130"></i>',
                                                                'class' => 'orange',
                                                                'data-rel' => 'tooltip',
                                                                'title' => 'Envoyer message'
                                                            ));
                                                            ?>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->