<div class="page-header">
    <?php if ($updateAllowed): ?>
        <h1>
            Mon Profil
            <small>
                <i class="icon-double-angle-right"></i>
                Voir et modifier mes informations personnelles
            </small>
            <?php
            echo $this->tag->linkTo(array(
                $user->getProfileUrl(),
                '<i class="icon-eye-open"></i> Voir mon profil public',
                'class' => 'btn btn-warning btn-sm pull-right',
                'target' => '_blank'));
            ?>
        </h1>
    <?php else: ?>
        <h1>
            <?php echo $user->getFormatedName() ?>
            <small>
                <i class="icon-double-angle-right"></i>
                <?php echo $user->getProfile()->getName() ?>
            </small>
        </h1>
    <?php endif; ?>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <?php if ($updateAllowed): ?>
            <div class="alert alert-info general-alert" id="div-infos-informations-perso" style="display: none">
                Toutes les informations que vous renseignerez sur cette page ne seront utilisées que pour pré-remplir les divers documents générés via <?php echo $this->config->application->siteTitle; ?> (contrats, fiches de paie, ...). Ces informations sont traitées de façon sécurisée. Vous pouvez à tout moment les modifier ou les supprimer sur simple demande. <a href="#" class="btn btn-xs btn-info pull-right" id="infos-informations-perso">OK!</a>
                <br>
            </div>
        <?php endif; ?>
        <!-- PAGE CONTENT BEGINS -->
        <div id="user-profile-2" class="user-profile">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-18">
                    <li class="active">
                        <a data-toggle="tab" href="#profile">
                            <i class="green ace-icon icon-user bigger-120"></i>
                            <?php echo ($updateAllowed) ? 'Mes coordonnées' : 'Coordonnées' ?>
                        </a>
                    </li>
                    <?php if ($updateAllowed && $user->getProfile()->getName() === 'Nourrice'): ?>
                        <li>
                            <a data-toggle="tab" href="#agreement">
                                <i class="purple ace-icon icon-file-text bigger-120"></i>
                                <?php echo ($updateAllowed) ? 'Mon agrément' : 'Agrément' ?>
                            </a>
                        </li>
                    <?php endif; ?>
                    <?php if ($user->getProfile()->getName() === 'Nourrice'): ?>
                    <li>
                        <a data-toggle="tab" href="#money">
                            <i class="orange ace-icon icon-euro bigger-120"></i>
                            <?php echo ($updateAllowed) ? 'Mon salaire' : 'Salaire' ?>
                        </a>
                    </li>
                    <?php endif; ?>
                    <?php if ($updateAllowed && $user->getProfile()->getName() === 'Nourrice'): ?>
                        <li>
                            <a data-toggle="tab" href="#insurances">
                                <i class="blue ace-icon icon-shield  bigger-120"></i>
                                Mes assurances
                            </a>
                        </li>
                    <?php endif; ?>
                    <?php if ($updateAllowed): ?>
                        <li>
                            <a data-toggle="tab" href="#parameters">
                                <i class="red ace-icon icon-cogs bigger-120"></i>
                                Mes paramètres
                            </a>
                        </li>
                    <?php endif; ?>
                </ul>

                <div class="tab-content no-border padding-24">
                    <div id="profile" class="tab-pane in active">

                        <div id="user-profile-1" class="user-profile row">
                            <div class="col-xs-12 col-sm-3 center">
                                <div id="plupload">
                                    <span class="profile-picture" id="droparea">
                                        <?php
                                        echo $this->tag->image(array(
                                            'img/avatars/' . $user->getAvatarFile(),
                                            'alt' => $user->getFormatedName(),
                                            'class' => 'editable img-responsive',
                                            'id' => 'avatar'
                                        ));
                                        ?>
                                    </span>
                                    <div id="progressbar" class="progress" data-percent="0%" width="100%" style="display: none"><div id="progressbar-inner" class="progress-bar" style="width: 0%"></div></div>
                                    <div class="space-4"></div>
                                    <?php if ($updateAllowed): ?>
                                        <a href="#" id="browse" class="btn btn-info"><i class="icon-picture"></i> Changer d'image...</a>
                                    <?php endif; ?>
                                    <div class="space-4"></div>

                                    <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                        <div class="inline position-relative">
                                            <span class="white"><?php echo $user->getFormatedName(); ?></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-9">
                                <div class="widget-box transparent">
                                    <div class="widget-header widget-header-small">
                                        <h4 class="blue smaller">
                                            <i class="icon-user orange"></i>
                                            <?php if ($updateAllowed): ?>
                                                Mes informations
                                            <?php else: ?>
                                                Coordonnées
                                            <?php endif; ?>
                                        </h4>

                                        <div class="widget-toolbar action-buttons">
                                            <a href="#" data-action="collapse">
                                                <i class="icon-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main padding-8">
                                            <div class="profile-user-info profile-user-info-striped">
                                                <?php if ($updateAllowed || !$user->getPrivateInformations()): ?>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Adresse </div>
                                                        <div class="profile-info-value">
                                                            <?php if ($updateAllowed): ?>
                                                                <span class="editable" id="address">
                                                                    <?php
                                                                    if ($user->getAddress() !== null && $user->getAddress()->getAddress1() !== null) {
                                                                        echo $user->getAddress()->getAddress1();
                                                                    }
                                                                    ?>
                                                                </span>
                                                                <a href="#" id="add-address2" class="btn btn-minier btn-success add-address-button" data-rel="tooltip" data-original-title="Ajouter une ligne d'adresse"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress2() !== null && $user->getAddress()->getAddress2() !== '') ? ' style="display: none;"' : '' ?>><i class="icon-plus-sign"></i></a>
                                                                <br id="add-br-address2"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress2() !== null && $user->getAddress()->getAddress2() !== '') ? '' : ' style="display: none;"' ?> />
                                                                <span class="editable" id="address2"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress2() !== null && $user->getAddress()->getAddress2() !== '') ? '' : ' style="display: none;"' ?>>
                                                                    <?php
                                                                    echo $user->getAddress()->getAddress2();
                                                                    ?>
                                                                </span>
                                                                <a href="#" id="add-address3" class="btn btn-minier btn-success add-address-button" data-rel="tooltip" data-original-title="Ajouter une ligne d'adresse"<?php echo ($user->getAddress() !== null && ($user->getAddress()->getAddress2() === null || $user->getAddress()->getAddress2() === '')) ? ' style="display: none"' : ($user->getAddress() !== null && $user->getAddress()->getAddress3() !== null && $user->getAddress()->getAddress3() !== '') ? ' style="display: none;"' : ''  ?>><i class="icon-plus-sign"></i></a>
                                                                <br id="add-br-address3"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress3() !== null && $user->getAddress()->getAddress3() !== '') ? '' : ' style="display: none;"' ?> />
                                                                <span class="editable" id="address3"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress3() !== null && $user->getAddress()->getAddress3() !== '') ? '' : ' style="display: none;"' ?>>
                                                                    <?php
                                                                    echo $user->getAddress()->getAddress3();
                                                                    ?>
                                                                </span>
                                                            <?php else: ?>
                                                                <span class="editable" id="address">
                                                                    <?php
                                                                    if ($user->getAddress() !== null && $user->getAddress()->getAddress1() !== null) {
                                                                        echo $user->getAddress()->getAddress1();
                                                                    }
                                                                    ?>
                                                                </span>
                                                                <br id="add-br-address2"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress2() !== null && $user->getAddress()->getAddress2() !== '') ? '' : ' style="display: none;"' ?> />
                                                                <span class="editable" id="address2"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress2() !== null && $user->getAddress()->getAddress2() !== '') ? '' : ' style="display: none;"' ?>>
                                                                    <?php
                                                                    echo $user->getAddress()->getAddress2();
                                                                    ?>
                                                                </span>
                                                                <br id="add-br-address3"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress3() !== null && $user->getAddress()->getAddress3() !== '') ? '' : ' style="display: none;"' ?> />
                                                                <span class="editable" id="address3"<?php echo ($user->getAddress() !== null && $user->getAddress()->getAddress3() !== null && $user->getAddress()->getAddress3() !== '') ? '' : ' style="display: none;"' ?>>
                                                                    <?php
                                                                    echo $user->getAddress()->getAddress3();
                                                                    ?>
                                                                </span>
                                                            <?php endif; ?>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Ville </div>
                                                    <div class="profile-info-value">
                                                        <i class="icon-map-marker light-orange bigger-110"></i>
                                                        <span class="editable" id="city">
                                                            <?php
                                                            echo ($user->getAddress() !== null && $user->getAddress()->getCity() !== null) ?
                                                                    ucwords($user->getAddress()->getCity()->getRealName()) . ' (' . $user->getAddress()->getCity()->getZipCode() . ')' :
                                                                    '';
                                                            ?>
                                                        </span>
                                                    </div>
                                                </div>
                                                <?php if ($updateAllowed || !$user->getPrivateInformations()): ?>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Mon mobile </div>
                                                        <div class="profile-info-value">
                                                            <i class="icon-mobile-phone light-orange bigger-110"></i>
                                                            <span class="editable" id="mobile"><?php echo $user->getMobile(); ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Mon téléphone </div>
                                                        <div class="profile-info-value">
                                                            <i class="icon-phone light-orange bigger-110"></i>
                                                            <span class="editable" id="phone"><?php echo $user->getPhone(); ?></span>
                                                        </div>
                                                    </div>
                                                    <?php if ($updateAllowed): ?>
                                                        <div class="profile-info-row">
                                                            <div class="profile-info-name"> N° Pajemploi </div>
                                                            <div class="profile-info-value">
                                                                <span class="editable" id="pajemploi"><?php echo $user->getPajemploiNb(); ?></span>
                                                            </div>
                                                        </div>
                                                        <?php if ($user->getProfile()->getName() === 'Nourrice'): ?>
                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name"> N° S. Sociale </div>
                                                                <div class="profile-info-value">
                                                                    <span class="editable" id="ssociale"><?php echo $user->getSocialSecurityNb(); ?></span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name"> Date de naissance </div>
                                                                <div class="profile-info-value">
                                                                    <span class="editable" id="dateBirth"><?php echo ($user->getBirthDate() !== null) ? \Nannyster\Controllers\ControllerBase::returnDateTime($user->getBirthDate(), 'date') : '' ?></span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name"> Lieu de naissance </div>
                                                                <div class="profile-info-value">
                                                                    <span class="editable" id="cityBirth"><?php
                                                                        echo ($user->getBirthCity() !== null) ?
                                                                                ucwords($user->getBirthCity()->getRealName()) . ' (' . $user->getBirthCity()->getZipCode() . ')' :
                                                                                '';
                                                                        ?></span>
                                                                </div>
                                                            </div>
                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name"> Email </div>
                                                                <div class="profile-info-value">
                                                                    <span id="email"><?php echo $user->getEmail(); ?></span>
                                                                </div>
                                                            </div>  
                                                        <?php endif; ?> 
                                                    <?php endif; ?> 
                                                <?php endif; ?>                                    
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Type de compte </div>
                                                    <div class="profile-info-value">
                                                        <span id="type"><?php echo $user->getProfile()->getName(); ?></span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Inscription </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable" id="date"><?php echo \Nannyster\Controllers\ControllerBase::returnDateTime($user->getCreated(), 'timeago') ?></span>
                                                    </div>
                                                </div>
                                                <?php if ($updateAllowed): ?>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Mot de passe </div>
                                                        <div class="profile-info-value">
                                                            <?php
                                                            echo $this->tag->linkTo(array(
                                                                'users/changePassword',
                                                                '<i class="icon-key"></i> Modifier mon mot de passe ',
                                                                'class' => 'btn btn-danger btn-xs'));
                                                            ?>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php if ($updateAllowed && $user->getProfile()->getName() === 'Nourrice'): ?>
                        <div id="agreement" class="tab-pane">
                            <div id="user-profile-1" class="user-profile row">
                                <div class="col-xs-12 col-sm-3 center">
                                    <div id="plupload">
                                        <span class="profile-picture" id="droparea">
                                            <?php
                                            echo $this->tag->image(array(
                                                'img/avatars/' . $user->getAvatarFile(),
                                                'alt' => $user->getFormatedName(),
                                                'class' => 'editable img-responsive',
                                                'id' => 'avatar'
                                            ));
                                            ?>
                                        </span>
                                        <div id="progressbar" class="progress" data-percent="0%" width="100%" style="display: none"><div id="progressbar-inner" class="progress-bar" style="width: 0%"></div></div>
                                        <div class="space-4"></div>
                                        <?php if ($updateAllowed): ?>
                                                                                                                <!--                        <a href="#" id="browse" class="btn btn-info"><i class="icon-picture"></i> Changer d'image...</a>-->
                                        <?php endif; ?>
                                        <div class="space-4"></div>

                                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <span class="white"><?php echo $user->getFormatedName(); ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-9">
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-small">
                                            <h4 class="blue smaller">
                                                <i class="icon-file-text orange"></i>
                                                <?php if ($updateAllowed): ?>
                                                    Mon agrément
                                                <?php else: ?>
                                                    Agrément
                                                <?php endif; ?>
                                            </h4>

                                            <div class="widget-toolbar action-buttons">
                                                <a href="#" data-action="collapse">
                                                    <i class="icon-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main padding-8">
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> N° agrément </div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="agreementNumber"><?php echo ($user->getAgreement() !== null) ? $user->getAgreement()->getIdNumber() : ''; ?></span>
                                                        </div>
                                                    </div>  
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Obtenu le </div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="agreementFirst"><?php echo ($user->getAgreement() !== null) ? \Nannyster\Controllers\ControllerBase::returnDateTime($user->getAgreement()->getStartDate(), 'date') : ''; ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Renouvelé le </div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="agreementRenew"><?php
                                                                if ($user->getAgreement() !== null && $user->getAgreement()->getRenewDate() !== null) {
                                                                    echo \Nannyster\Controllers\ControllerBase::returnDateTime($user->getAgreement()->getRenewDate(), 'date');
                                                                }
                                                                else {
                                                                    echo 'Pas encore renouvelé';
                                                                }
                                                                ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Nb enfants et tranches d'âge <i class="icon-question-sign orange" data-rel="tooltip" data-original-title="Par exemple : 3 enfants de 0 à 10 ans."></i></div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="agreementChildren"><?php echo ($user->getAgreement() !== null) ? $user->getAgreement()->getChildrenPermissions() : ''; ?></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if ($updateAllowed): ?>
                        <div id="parameters" class="tab-pane">
                            <div id="user-profile-1" class="user-profile row">
                                <div class="col-xs-12 col-sm-3 center">
                                    <div id="plupload">
                                        <span class="profile-picture" id="droparea">
                                            <?php
                                            echo $this->tag->image(array(
                                                'img/avatars/' . $user->getAvatarFile(),
                                                'alt' => $user->getFormatedName(),
                                                'class' => 'editable img-responsive',
                                                'id' => 'avatar'
                                            ));
                                            ?>
                                        </span>
                                        <div id="progressbar" class="progress" data-percent="0%" width="100%" style="display: none"><div id="progressbar-inner" class="progress-bar" style="width: 0%"></div></div>
                                        <div class="space-4"></div>
                                        <?php if ($updateAllowed): ?>
                                                                                                                <!--                        <a href="#" id="browse" class="btn btn-info"><i class="icon-picture"></i> Changer d'image...</a>-->
                                        <?php endif; ?>
                                        <div class="space-4"></div>

                                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <span class="white"><?php echo $user->getFormatedName(); ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <?php if ($updateAllowed): ?>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="widget-box transparent">
                                            <div class="widget-header widget-header-small">
                                                <h4 class="blue smaller">
                                                    <i class="icon-cog orange"></i>
                                                    Paramètres de mon compte
                                                </h4>

                                                <div class="widget-toolbar action-buttons">
                                                    <a href="#" data-action="collapse">
                                                        <i class="icon-chevron-up"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main padding-8">
                                                    <div class="profile-user-info profile-user-info-striped">
                                                        <div class="profile-info-row">
                                                            <div class="profile-info-name"> Confidentialité </div>
                                                            <div class="profile-info-value">
                                                                <span class="editable" id="visibility"><?php echo ($user->getPrivateInformations()) ? 'true' : 'false'; ?></span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-info-row">
                                                            <div class="profile-info-name"> Notifications par email </div>
                                                            <div class="profile-info-value">
                                                                <span class="editable" id="notifParam"><?php echo ($user->getEmailNotifications()) ? 'true' : 'false'; ?></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($updateAllowed && ($user->getProfile()->getName() == 'Administrateur' || $user->getProfile()->getName() == 'Super Administrateur')): ?>
                                        <div class="space-20"></div>
                                        <div class="widget-box transparent">
                                            <div class="widget-header widget-header-small">
                                                <h4 class="blue smaller">
                                                    <i class="icon-search orange"></i>
                                                    Paramètres de l'annuaire <?php echo $this->config->application->siteTitle; ?>
                                                </h4>

                                                <div class="widget-toolbar action-buttons">
                                                    <a href="#" data-action="collapse">
                                                        <i class="icon-chevron-up"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="widget-body">
                                                <div class="widget-main padding-8">
                                                    <div class="profile-user-info profile-user-info-striped">
                                                        <div class="profile-info-row">
                                                            <div class="profile-info-name"> Visibilité</div>
                                                            <div class="profile-info-value">
                                                                <span class="editable" id="annuaireVisibility"><?php echo $user->getdirectoryVisible(); ?></span>
                                                            </div>
                                                        </div>  
                                                        <div class="profile-info-row">
                                                            <div class="profile-info-name"> Coordonnées </div>
                                                            <div class="profile-info-value">
                                                                <span class="editable" id="annuaireInfo"><?php echo $user->getDirectoryPrivateInformations(); ?></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if ($user->getProfile()->getName() === 'Nourrice'): ?>
                    <div id="money" class="tab-pane">
                        <div id="user-profile-1" class="user-profile row">
                            <div class="col-xs-12 col-sm-3 center">
                                <div id="plupload">
                                    <span class="profile-picture" id="droparea">
                                        <?php
                                        echo $this->tag->image(array(
                                            'img/avatars/' . $user->getAvatarFile(),
                                            'alt' => $user->getFormatedName(),
                                            'class' => 'editable img-responsive',
                                            'id' => 'avatar'
                                        ));
                                        ?>
                                    </span>
                                    <div id="progressbar" class="progress" data-percent="0%" width="100%" style="display: none"><div id="progressbar-inner" class="progress-bar" style="width: 0%"></div></div>
                                    <div class="space-4"></div>
                                    <?php if ($updateAllowed): ?>
                                                                                                            <!--                        <a href="#" id="browse" class="btn btn-info"><i class="icon-picture"></i> Changer d'image...</a>-->
                                    <?php endif; ?>
                                    <div class="space-4"></div>

                                    <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                        <div class="inline position-relative">
                                            <span class="white"><?php echo $user->getFormatedName(); ?></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-9">
                                <div class="widget-box transparent">
                                    <div class="widget-header widget-header-small">
                                        <h4 class="blue smaller">
                                            <i class="icon-euro orange"></i>
                                            <?php if ($updateAllowed): ?>
                                                Mon salaire
                                            <?php else: ?>
                                                Salaire
                                            <?php endif; ?>
                                        </h4>

                                        <div class="widget-toolbar action-buttons">
                                            <a href="#" data-action="collapse">
                                                <i class="icon-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main padding-8">
                                            <div class="profile-user-info profile-user-info-striped">
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name">Taux horaire (brut)</div>
                                                    <div class="profile-info-value">
                                                        <span class="editable" id="tauxHoraire"><?php echo ($user->getMoneyRate() !== null) ? $user->getMoneyRate()->getHourlyRate() : '' ?><?php echo (!$updateAllowed && $user->getMoneyRate() !== null) ? '€' : ''; ?></span>
                                                    </div>
                                                </div>  
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Indemnité d'entretien </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable" id="indemniteEntretien"><?php echo ($user->getMoneyRate() !== null) ? $user->getMoneyRate()->getMaintenanceAllowance() : '' ?><?php echo (!$updateAllowed && $user->getMoneyRate() !== null) ? '€' : ''; ?></span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Frais de petit déjeuner </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable" id="fraisPetitDejeuner"><?php echo ($user->getMoneyRate() !== null) ? $user->getMoneyRate()->getBreakfastCosts() : '' ?><?php echo (!$updateAllowed && $user->getMoneyRate() !== null) ? '€' : ''; ?></span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Frais de déjeuner </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable" id="fraisDejeuner"><?php echo ($user->getMoneyRate() !== null) ? $user->getMoneyRate()->getLunchCosts() : '' ?><?php echo (!$updateAllowed && $user->getMoneyRate() !== null) ? '€' : ''; ?></span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Frais de goûter </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable" id="fraisGouter"><?php echo ($user->getMoneyRate() !== null) ? $user->getMoneyRate()->getSnackCosts() : '' ?><?php echo (!$updateAllowed && $user->getMoneyRate() !== null) ? '€' : ''; ?></span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Frais de dîner </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable" id="fraisDiner"><?php echo ($user->getMoneyRate() !== null) ? $user->getMoneyRate()->getDinerCosts() : '' ?><?php echo (!$updateAllowed && $user->getMoneyRate() !== null) ? '€' : ''; ?></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php endif; ?>
                    <?php if ($updateAllowed): ?>
                        <div id="insurances" class="tab-pane">
                            <div id="user-profile-1" class="user-profile row">
                                <div class="col-xs-12 col-sm-3 center">
                                    <div id="plupload">
                                        <span class="profile-picture" id="droparea">
                                            <?php
                                            echo $this->tag->image(array(
                                                'img/avatars/' . $user->getAvatarFile(),
                                                'alt' => $user->getFormatedName(),
                                                'class' => 'editable img-responsive',
                                                'id' => 'avatar'
                                            ));
                                            ?>
                                        </span>
                                        <div id="progressbar" class="progress" data-percent="0%" width="100%" style="display: none"><div id="progressbar-inner" class="progress-bar" style="width: 0%"></div></div>
                                        <div class="space-4"></div>
                                        <?php if ($updateAllowed): ?>
                                                                                                                <!--                        <a href="#" id="browse" class="btn btn-info"><i class="icon-picture"></i> Changer d'image...</a>-->
                                        <?php endif; ?>
                                        <div class="space-4"></div>

                                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <span class="white"><?php echo $user->getFormatedName(); ?></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-9">
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-small">
                                            <h4 class="blue smaller">
                                                <i class="icon-shield orange"></i>
                                                Ma responsabilité civile professionnelle
                                            </h4>

                                            <div class="widget-toolbar action-buttons">
                                                <a href="#" data-action="collapse">
                                                    <i class="icon-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main padding-8">
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Compagnie</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="rc_compagny"><?php echo ($user->getCivilResponsability() !== null) ? ucwords($user->getCivilResponsability()->getCompagnyName()) : '' ?></span>
                                                        </div>
                                                    </div> 
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Adresse</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="rc_address"><?php echo ($user->getCivilResponsability() !== null) ? ucwords($user->getCivilResponsability()->getAddress()) : '' ?></span>
                                                        </div>
                                                    </div>  
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Ville </div>
                                                        <div class="profile-info-value">
                                                            <i class="icon-map-marker light-orange bigger-110"></i>
                                                            <span class="editable" id="rc_city"><?php echo ($user->getCivilResponsability() !== null && $user->getCivilResponsability()->getCity() !== null) ? ucwords($user->getCivilResponsability()->getCity()->getRealName() . '(' . $user->getCivilResponsability()->getCity()->getZipCode() . ')') : '' ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> N° police </div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="rc_no"><?php echo ($user->getCivilResponsability() !== null) ? $user->getCivilResponsability()->getPolicyNb() : '' ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name">Date de validité </div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="rc_validity"><?php echo ($user->getCivilResponsability() !== null && $user->getCivilResponsability()->getValidityDate() !== null) ? \Nannyster\Controllers\ControllerBase::returnDateTime($user->getCivilResponsability()->getValidityDate(), 'date') : '' ?></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="space-20"></div>

                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-small">
                                            <h4 class="blue smaller">
                                                <i class="icon-road orange"></i>
                                                Mon assurance automobile
                                            </h4>

                                            <div class="widget-toolbar action-buttons">
                                                <a href="#" data-action="collapse">
                                                    <i class="icon-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main padding-8">
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Compagnie</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="auto_compagny"><?php echo ($user->getAutoInsurance() !== null) ? ucwords($user->getAutoInsurance()->getCompagnyName()) : '' ?></span>
                                                        </div>
                                                    </div> 
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Adresse</div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="auto_address"><?php echo ($user->getAutoInsurance() !== null) ? ucwords($user->getAutoInsurance()->getAddress()) : '' ?></span>
                                                        </div>
                                                    </div>  
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Ville </div>
                                                        <div class="profile-info-value">
                                                            <i class="icon-map-marker light-orange bigger-110"></i>
                                                            <span class="editable" id="auto_city"><?php echo ($user->getAutoInsurance() !== null && $user->getAutoInsurance()->getCity() !== null) ? ucwords($user->getAutoInsurance()->getCity()->getRealName() . '(' . $user->getAutoInsurance()->getCity()->getZipCode() . ')') : '' ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> N° police </div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="auto_no"><?php echo ($user->getAutoInsurance() !== null) ? $user->getAutoInsurance()->getPolicyNb() : '' ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name">Date de validité </div>
                                                        <div class="profile-info-value">
                                                            <span class="editable" id="auto_validity"><?php echo ($user->getAutoInsurance() !== null && $user->getAutoInsurance()->getValidityDate() !== null) ? \Nannyster\Controllers\ControllerBase::returnDateTime($user->getAutoInsurance()->getValidityDate(), 'date') : '' ?></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->
</div><!-- /.row -->
<script type="text/javascript">
    var pkey = '<?php echo $user->getId(); ?>';
</script>
