<div class="message-header clearfix">
    <div class="pull-left">
        <span class="blue bigger-150"> <?php echo $conversation->getSubject(); ?> </span>

        <div class="space-4"></div>
        <?php
        foreach ($mailboxes as $mailbox) {
            if ($mailbox->getConversationDeleted()) {
                $link = array(
                    'profil/' . Nannyster\Utils\Slug::generate($mailbox->getUser()->getFormatedName()) . '/' . $mailbox->getUser()->getId(),
                    $this->tag->image(array(
                        'img/avatars/thumbs/' . $mailbox->getUser()->getAvatarFile(),
                        'alt' => $mailbox->getUser()->getFormatedName(),
                        'class' => 'conversation-contributor img-bordered'
                    )) .
                    $mailbox->getUser()->getFormatedName(),
                    'class' => 'contributors red',
                    'data-rel' => 'tooltipAjax',
                    'data-original-title' => $mailbox->getUser()->getFormatedName() . ' a quitté la conversation'
                );
            }
            else {
                $link = array(
                    'profil/' . Nannyster\Utils\Slug::generate($mailbox->getUser()->getFormatedName()) . '/' . $mailbox->getUser()->getId(),
                    $this->tag->image(array(
                        'img/avatars/thumbs/' . $mailbox->getUser()->getAvatarFile(),
                        'alt' => $mailbox->getUser()->getFormatedName(),
                        'class' => 'conversation-contributor img-bordered'
                    )) .
                    $mailbox->getUser()->getFormatedName(),
                    'class' => 'contributors'
                );
            }
            echo $this->tag->linkTo($link);
        }
        ?>
    </div>

    <div class="pull-right">
        <a href="#" class="btn btn-minier btn-primary" id="message-responder" data-id="<?php echo (string) $conversation->getId() ?>">
            <i class="icon-reply bigger-130"></i> Répondre
        </a>
        <a href="#" class="btn btn-minier btn-warning" id="message-deleter" data-id="<?php echo (string) $conversation->getId() ?>">
            <i class="icon-trash bigger-130"></i> Supprimer
        </a>
    </div>
</div>

<div class="hr hr-18" style="border: none;"></div>

<div class="message-body">

    <div class="widget-box no-border">
        <div class="widget-body">
            <div class="widget-main no-padding">
                <div class="dialogs">
                    <?php foreach (array_reverse($conversation->getConversationMessages()) as $message): ?>
                        <?php
                        //Check contributor name for the current message
                        //If it's me
//                        if ($message->getUser()->getId() == $this->auth->getId()) {
//                            $sender = $message->getUser()->getFormatedName();
//                            $senderId = $this->auth->getId();
//                            $avatarSender = $this->auth->getIdentity()->getAvatarFile();
//                        }
//                        //Or another
//                        else {
//                            foreach ($mailboxes as $mailbox) {
//                                if ($message->getUser()->getId() == $mailbox) {
//                                    $sender = ucwords($conversation['users'][$i]->firstname) . ' ' . (($conversation['users'][$i]->wedding_surname != null) ? strtoupper($conversation['users'][$i]->wedding_surname) : strtoupper($conversation['users'][$i]->surname));
//                                    $senderId = $conversation['users'][$i]->_id;
//                                    $avatarSender = $conversation['users'][$i]->avatar;
//                                }
//                            }
//                        }
                        ?>
                        <div class="itemdiv dialogdiv">
                            <div class="user">
                                <?php
                                echo $this->tag->image(array(
                                    'img/avatars/thumbs/' . $message->getUser()->getAvatarFile(),
                                    'alt' => $message->getUser()->getFormatedName()
                                ));
                                ?>
                            </div>

                            <div class="body">
                                <div class="time">
                                    <i class="icon-time orange"></i>
                                    <?php echo Nannyster\Controllers\ControllerBase::returnDateTime($message->getDate(), 'timeagowithouttooltip'); ?>
                                </div>

                                <div class="name">
                                    <?php
                                    echo $this->tag->linkTo(array(
                                        'profil/' . Nannyster\Utils\Slug::generate($message->getUser()->getFormatedName()) . '/' . $message->getUser()->getId(),
                                        $sender
                                    ));
                                    ?>
                                </div>
                                <div class="text"><?php echo $message->getMessage(); ?></div>
<!--                                <div class="tools">
                                    <a href="#" class="btn btn-minier btn-info">
                                        <i class="icon-only icon-share-alt"></i>
                                    </a>
                                </div>-->
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="hr hr-double"></div>

<div class="message-attachment clearfix">
  <div class="attachment-title">
    <span class="blue bolder bigger-110">Attachments</span>
    &nbsp;
    <span class="grey">(2 files, 4.5 MB)</span>

    <div class="inline position-relative">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        &nbsp;
        <i class="icon-caret-down bigger-125 middle"></i>
      </a>

      <ul class="dropdown-menu dropdown-lighter">
        <li>
          <a href="#">Download all as zip</a>
        </li>

        <li>
          <a href="#">Display in slideshow</a>
        </li>
      </ul>
    </div>
  </div>

  &nbsp;
  <ul class="attachment-list pull-left list-unstyled">
    <li>
      <a href="#" class="attached-file inline">
        <i class="icon-file-alt bigger-110 middle"></i>
        <span class="attached-name middle">Document1.pdf</span>
      </a>

      <div class="action-buttons inline">
        <a href="#">
          <i class="icon-download-alt bigger-125 blue"></i>
        </a>

        <a href="#">
          <i class="icon-trash bigger-125 red"></i>
        </a>
      </div>
    </li>

    <li>
      <a href="#" class="attached-file inline">
        <i class="icon-film bigger-110 middle"></i>
        <span class="attached-name middle">Sample.mp4</span>
      </a>

      <div class="action-buttons inline">
        <a href="#">
          <i class="icon-download-alt bigger-125 blue"></i>
        </a>

        <a href="#">
          <i class="icon-trash bigger-125 red"></i>
        </a>
      </div>
    </li>
  </ul>

  <div class="attachment-images pull-right">
    <div class="vspace-sm-4"></div>

    <div>
      <img width="36" alt="image 4" src="assets/images/gallery/thumb-4.jpg" />
      <img width="36" alt="image 3" src="assets/images/gallery/thumb-3.jpg" />
      <img width="36" alt="image 2" src="assets/images/gallery/thumb-2.jpg" />
      <img width="36" alt="image 1" src="assets/images/gallery/thumb-1.jpg" />
    </div>
  </div>
</div> -->
<script type="text/javascript">
    $('[data-rel="tooltip"]').tooltip({html: true});
    // French shortened
    jQuery.timeago.settings.strings = {
        prefixAgo: "il y a",
        prefixFromNow: "d'ici",
        seconds: "moins d'une minute",
        minute: "une minute",
        minutes: "%d minutes",
        hour: "une heure",
        hours: "%d heures",
        day: "un jour",
        days: "%d jours",
        month: "un mois",
        months: "%d mois",
        year: "un an",
        years: "%d ans"
    };
    $('.timeago').timeago();
    $("#message-responder").on('click', function(event) {
        event.preventDefault();
        var sender = "<?php echo $this->auth->getIdentity()->getFormatedName(); ?>";
        var idSender = "<?php echo $this->auth->getId() ?>";
        var avatarSender = "<?php echo $this->auth->getIdentity()->getAvatarFile(); ?>";
        var reponseContainer = '<div id="itemdiv-response" class="itemdiv dialogdiv">' +
                '<div class="user">' +
                '<img alt="' + sender + '" src="/img/avatars/thumbs/' + avatarSender + '" />' +
                '</div>' +
                '<div class="body">' +
                '<div class="name"><a href="/users/view">' + sender + "</a>" +
                '</div>' +
                '<label class="col-sm-3 control-label">' +
                '<span class="inline space-24 hidden-480"></span>' +
                'Votre réponse:' +
                '</label>' +
                '<div class="col-sm-9">' +
                '<div id="wysiwyg-response-editor" class="wysiwyg-editor" style="border: 1px solid rgb(187, 192, 202);"></div>' +
                '</div>' +
                '<div class="hr hr-18" style="clear: both; border: none;"></div>' +
                '<div class="text pull-right"><a href="#" class="btn" id="cancel-response">Annuler</a> <a href="#" class="btn btn-primary" id="valide-response">Envoyer</a></div>' +
                '<div class="hr" style="clear: both; border: none;"></div>' +
                '</div>' +
                '</div>';
        $('.dialogs').prepend(reponseContainer);
        //intialize wysiwyg editor
        $('#wysiwyg-response-editor').ace_wysiwyg({
            toolbar:
                    [
                        'bold',
                        'italic',
                        'strikethrough',
                        'underline',
                        null,
                        'justifyleft',
                        'justifycenter',
                        'justifyright',
                        null,
                        'createLink',
                        'unlink',
                        null,
                        'undo',
                        'redo'
                    ]
        });

        $('.wysiwyg-editor').slimScroll({
            height: '260px',
            railVisible: true
        });

        $('.wysiwyg-speech-input').each(function() {
            $(this).removeAttr('style');
        });

        $('#cancel-response').on('click', function(event) {
            event.preventDefault();
            $('#itemdiv-response').remove();
        });
        $('#valide-response').on('click', function(event) {
            event.preventDefault();
            $('.message-container').append('<div class="message-loading-overlay"><i class="icon-spin icon-spinner orange2 bigger-160"></i></div>');
            $.ajax({
                url: '/mailbox/ajaxMailboxResponseSender',
                type: 'POST',
                data: {
                    id: '<?php echo $conversation->getId() ?>',
                    message: $('#wysiwyg-response-editor').html()
                }
            })
                    .done(function(data) {
                        $('.message-loading-overlay').remove();
                        $('#itemdiv-response').remove();
                        $('.dialogs').prepend(data);
                        $.gritter.add({
                            title: 'Message envoyé',
                            text: 'Votre message a bien été envoyé.',
                            class_name: 'gritter-success'
                        });
                    })
                    .fail(function() {
                        $('.message-loading-overlay').remove();
                        $.gritter.add({
                            title: 'Erreur',
                            text: 'Une erreur est survenue lors de l\'envoi du message. Merci de recommencer ultérieurement.',
                            class_name: 'gritter-error'
                        });
                    })
        });
    });
</script>
<?php
if ($addJS) {
    echo '<script type="text/javascript">
  var nbMail = ($(\'#badge-nb-mail\').html() - 1);
  if(nbMail > 0){
    $(\'#badge-nb-mail\').html(nbMail);
  }
  else{
    $(\'#badge-nb-mail\').html(nbMail);
    $(\'#badge-nb-mail\').addClass(\'hidden\');
  }
  $(\'#nb-ur-mail-title\').html(nbMail);
  if(nbMail > 1){
    $(\'#nb-ur-mail-title-s-first\').html(\'s\');
    $(\'#nb-ur-mail-title-s-second\').html(\'s\');
  }
  else{
    $(\'#nb-ur-mail-title-s-first\').html(\'\');
    $(\'#nb-ur-mail-title-s-second\').html(\'\');
  }
  $(\'.message-unread[data-id="' . $conversation->getId() . '"]\').removeClass(\'message-unread\');
</script>';
}
?>