<div class="page-header">
    <h1>
        Messagerie
        <small>
            <i class="icon-double-angle-right"></i>
            Tous vos messages sont ici!
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable">
                    <ul id="inbox-tabs" class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
                        <li class="li-new-mail pull-right">
                            <a data-toggle="tab" href="#write" data-target="write" class="btn-new-mail">
                                <span class="btn btn-danger no-border">
                                    <i class=" icon-envelope bigger-130"></i>
                                    <span class="bigger-110">Nouveau Message</span>
                                </span>
                            </a>
                        </li><!-- ./li-new-mail -->

                        <li id="conversations-tab" class="active">
                            <a data-toggle="tab" href="#inbox" data-target="inbox">
                                <i class="blue icon-inbox bigger-130"></i>
                                <span class="bigger-110">Conversations</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content no-border no-padding">
                        <div class="tab-pane in active">
                            <div class="message-container">
                                <div id="id-message-list-navbar" class="message-navbar align-center clearfix">
                                    <div class="message-bar">
                                        <div class="message-infobar" id="id-message-infobar">
                                            <span class="blue bigger-150">Boite de réception</span>
                                            <span class="grey bigger-110">(<span id="nb-ur-mail-title"><?php echo $newMail; ?></span> message<span id="nb-ur-mail-title-s-first"><?php echo ($newMail > 1) ? 's' : '' ?></span> non lu<span id="nb-ur-mail-title-s-second"><?php echo ($newMail > 1) ? 's' : '' ?></span>)</span>
                                        </div>

                                        <div class="message-toolbar hide">
                                            <a href="#" id="multiple-remove" class="btn btn-xs btn-message">
                                                <i class="icon-trash bigger-125"></i>
                                                <span class="bigger-110">Supprimer</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="messagebar-item-left">
                                            <label class="inline middle">
                                                <input type="checkbox" id="id-toggle-all" class="ace" />
                                                <span class="lbl"></span>
                                            </label>

                                            &nbsp;
                                            <div class="inline position-relative">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                    <i class="icon-caret-down bigger-125 middle"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-lighter dropdown-100">
                                                    <li>
                                                        <a id="id-select-message-all" href="#">Tous</a>
                                                    </li>

                                                    <li>
                                                        <a id="id-select-message-none" href="#">Aucun</a>
                                                    </li>

                                                    <li class="divider"></li>

                                                    <li>
                                                        <a id="id-select-message-unread" href="#">Non lus</a>
                                                    </li>

                                                    <li>
                                                        <a id="id-select-message-read" href="#">Lus</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="messagebar-item-right">
                                            <!--<div class="inline position-relative">
                                              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                Sort &nbsp;
                                                <i class="icon-caret-down bigger-125"></i>
                                              </a>
                      
                                              <ul class="dropdown-menu dropdown-lighter pull-right dropdown-100">
                                                <li>
                                                  <a href="#">
                                                    <i class="icon-ok green"></i>
                                                    Date
                                                  </a>
                                                </li>
                      
                                                <li>
                                                  <a href="#">
                                                    <i class="icon-ok invisible"></i>
                                                    From
                                                  </a>
                                                </li>
                      
                                                <li>
                                                  <a href="#">
                                                    <i class="icon-ok invisible"></i>
                                                    Subject
                                                  </a>
                                                </li>
                                              </ul>
                                            </div>-->
                                        </div>

                                        <div class="nav-search minimized">
                                            <!--<form class="form-search">
                                              <span class="input-icon">
                                                <input type="text" autocomplete="off" class="input-small nav-search-input" placeholder="Search inbox ..." />
                                                <i class="icon-search nav-search-icon"></i>
                                              </span>
                                            </form>-->
                                        </div>
                                    </div>
                                </div>

                                <div id="id-message-item-navbar" class="hide message-navbar align-center clearfix">
                                    <div class="message-bar">

                                    </div>

                                    <div>
                                        <div class="messagebar-item-left">
                                            <a href="#" class="btn-back-message-list">
                                                <i class="icon-arrow-left blue bigger-110 middle"></i>
                                                <b class="bigger-110 middle"> Retour</b>
                                            </a>
                                        </div>

                                        <div class="messagebar-item-right">

                                        </div>
                                    </div>
                                </div>

                                <div id="id-message-new-navbar" class="hide message-navbar align-center clearfix">
                                    <div class="message-bar">
                                        <div class="message-toolbar hidden">
                                        </div>
                                    </div>

                                    <div class="message-item-bar">
                                        <div class="messagebar-item-left">
                                            <a href="#" class="btn-back-message-list no-hover-underline">
                                                <i class="icon-arrow-left blue bigger-110 middle"></i>
                                                <b class="middle bigger-110">Retour</b>
                                            </a>
                                        </div>

                                        <div class="messagebar-item-right">
                                            <span class="inline btn-send-message">
                                                <button type="button" id="send-new-mail" class="btn btn-sm btn-primary no-border">
                                                    <span class="bigger-110">Envoyer</span>

                                                    <i class="icon-arrow-right icon-on-right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-list-container">
                                    <div class="message-list" id="message-list">
                                        <?php if ($allMail == 0): ?>
                                            <div class="no-message">
                                                Aucun message
                                            </div>
                                        <?php else: ?>
                                            <?php foreach ($mailboxes as $mailbox): ?>
                                                <div class="message-item<?php echo ($mailbox->getUnreadMessages()) ? ' message-unread' : ''; ?>" data-id="<?php echo $mailbox->getConversation()->getId() ?>">
                                                    <label class="inline" id="label-emails">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                    <span class="sender">
                                                        <?php
                                                        if (count($users[(string) $mailbox->getConversation()->getId()]) == 1) {
                                                            echo ucfirst($users[(string) $mailbox->getConversation()->getId()][0]->getUser()->getFirstname()) . ' ' . (($users[(string) $mailbox->getConversation()->getId()][0]->getUser()->getWeddingSurname() != null) ? strtoupper($users[(string) $mailbox->getConversation()->getId()][0]->getUser()->getWeddingSurname()) : strtoupper($users[(string) $mailbox->getConversation()->getId()][0]->getUser()->getSurname()));
                                                        }
                                                        else {
                                                            $tooltip = '';
                                                            for ($i = 1; $i < count($users[(string) $mailbox->getConversation()->getId()]); $i++) {
                                                                $tooltip .= ucfirst($users[(string) $mailbox->getConversation()->getId()][$i]->getUser()->getFirstname()) . ' ' . (($users[(string) $mailbox->getConversation()->getId()][$i]->getUser()->getWeddingSurname() != null) ? strtoupper($users[(string) $mailbox->getConversation()->getId()][$i]->getUser()->getWeddingSurname()) : strtoupper($users[(string) $mailbox->getConversation()->getId()][$i]->getUser()->getSurname())) . '<br/>';
                                                            }
                                                            echo ucfirst($users[(string) $mailbox->getConversation()->getId()][0]->getUser()->getFirstname()) . ' ' . (($users[(string) $mailbox->getConversation()->getId()][0]->getUser()->getWeddingSurname() != null) ? strtoupper($users[(string) $mailbox->getConversation()->getId()][0]->getUser()->getWeddingSurname()) : strtoupper($users[(string) $mailbox->getConversation()->getId()][0]->getUser()->getSurname())) . ' et <a title data-rel="tooltip" data-original-title="' . $tooltip . '">' . (count($users[(string) $mailbox->getConversation()->getId()]) - 1) . ' autre' . ((count($users[(string) $mailbox->getConversation()->getId()]) - 1) > 1 ? 's' : '') . '</a>';
                                                        }
                                                        ?>
                                                    </span>
                                                    <div class="time">
                                                        <i class="icon-time orange"></i>
                                                        <?php echo Nannyster\Controllers\ControllerBase::returnDateTime($mailbox->getConversation()->getLastMessageDate(), 'timeago'); ?>
                                                    </div>
                                                    <span class="summary">
                                                        <span class="text">
                                                            <?php echo $mailbox->getConversation()->getSubject(); ?>
                                                        </span>
                                                    </span>
                                                </div>
                                            <?php endforeach; ?>
                                        <?php endif; ?>

                                    </div>
                                </div><!-- /.message-list-container -->

                                <div class="message-footer clearfix">
                                    <div class="pull-left"> <?php echo '<span id="nb-message-all">' . $allMail . '</span> message' . (($allMail > 1) ? '<span id="nb-message-all-s">s</span>' : '<span id="nb-message-all-s"></span>'); ?> </div>
                                    <div class="pull-right">
                                        <div class="inline middle">
                                          <!--<span class="btn btn-xs">Début</span>
                                          <span class="btn btn-xs">1</span>
                                          <span class="btn btn-info btn-xs disabled">2</span> 
                                          <span class="btn btn-xs">3</span>
                                          <span class="btn-xs">...</span>
                                          <span class="btn btn-xs">7</span>
                                          <span class="btn btn-xs">8</span>
                                          <span class="btn btn-xs">9</span>
                                          <span class="btn btn-xs">Fin</span>-->
                                        </div>
                                    </div>

                                </div>

                            </div><!-- /.message-container -->
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div><!-- /.tabbable -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <form id="new-message-form" class="hide form-horizontal message-form  col-xs-12">
            <div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-recipient">Destinataires:</label>

                    <div class="col-sm-6 col-xs-12">
                        <div class="input-icon block col-xs-12 no-padding">
                            <input maxlength="100" type="text" class="col-xs-12" name="to" id="form-field-user" placeholder="Saisissez le nom ou le prénom de vos destinataires" />
                            <i class="icon-user"></i>
                            <div id="user-find-results" class="hidden user-find-results">
                            </div>
                        </div>
                        <div class="hidden image-loading-mail" id="loading-users-results">
                            <i class="icon-spin icon-spinner orange2 bigger-160"></i>
                        </div>
                        <div>
                            <ul id="chosen-choices" class="chosen-choices">
                            </ul>
                        </div>
                        <div id="hidden-users" class="hidden">
                        </div>
                    </div>
                </div>

                <div class="hr hr-18 dotted"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-subject">Sujet:</label>

                    <div class="col-sm-6 col-xs-12">
                        <div class="input-icon block col-xs-12 no-padding">
                            <input maxlength="100" type="text" class="col-xs-12" name="data[subject]" id="form-field-subject" placeholder="Sujet" />
                            <i class="icon-comment-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="hr hr-18 dotted"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">
                        <span class="inline space-24 hidden-480"></span>
                        Message:
                    </label>

                    <div class="col-sm-9">
                        <div class="wysiwyg-editor"></div>
                    </div>
                </div>
            </div>
        </form>

        <div class="hide message-content" id="id-message-content">
        </div><!-- /.message-content -->

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
