<div class="page-header">
    <h1>
        Conditions d'utilisation
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        Le présent site est la propriété de <?= $this->config->company->name ?>, auto-entreprise située <?= $this->config->company->address ?>, <?= $this->config->company->zip_code ?> <?= $this->config->company->city ?>.<br>
        <br>
        Conformément à la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés et à l’article 47 de délibération 87-25 du 10 février 1987, vous disposez d’un droit d’accès et de rectification relativement à toutes les informations vous concernant sur simple demande par envoi d’un mail à <a href="mailto:<?= $this->config->company->contact ?>" target="_blank"><?= $this->config->company->contact ?></a>. Ainsi, vous pouvez, à titre irrévocable, demander que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations vous concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte ou l’utilisation, la communication ou la conservation est interdite. La structure générale, ainsi que les textes, graphiques, et sons composant ceux-ci sont la propriété de <?= $this->config->company->name ?>.<br>
        Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ce site par quelques procédés que se soient sans l’autorisation expresse et préalable de <?= $this->config->company->name ?> est interdite et constituerait une contrefaçon au sens des articles L 335-2 et suivants du code de la propriété intellectuelle.<br>
        Les liens hypertextes mis en œuvre au sein du site en direction d’autres sites et/ou de pages personnelles et d’une manière générale vers toutes ressources existantes sur Internet ne sauraient engager la responsabilité de <?= $this->config->company->name ?>.<br>
        L’hébergeur du site est <a href="https://www.digitalocean.com/?refcode=821fdda01cfa" target="_blank">DigitalOcean</a><br>
        Le présent site transforme les données que vous saisissez. La génération de documents inexacte ou faux ne peut engager la responsabilité de <?= $this->config->company->name ?>. Il convient donc que vous vérifiez les données que vous enregistrez dans le présent site.<br>
        Ce site utilise Google Analytics, un service d’analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l’utilisation du site par ses utilisateurs. Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d’évaluer votre utilisation du site, de compiler des rapports sur l’activité du site à destination de son éditeur et de fournir d’autres services relatifs à l’activité du site et à l’utilisation d’Internet. Google est susceptible de communiquer ces données à des tiers en cas d’obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l’éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google.
    </div>
</div>