<form method="post" action="/permissions">
    <div class="page-header">
        <h1>
            Définition des permissions
            <small>
                <i class="icon-double-angle-right"></i>
                Gérer les accès de tous les utilisateurs
            </small>
            <?php echo $this->tag->submitButton(array('Mettre à jour', 'class' => 'btn btn-primary pull-right')); ?>
        </h1>
    </div><!-- /.page-header -->
    <table class="table table-striped table-bordered table-hover">
        <thead class="center">
            <tr>
                <td width="30%">Ressources</td>
                <?php foreach ($profiles as $profile): ?>
                    <td width="<?= 70 / (count($profiles)); ?>%"><?= $profile->getName(); ?></td>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->acl->getResources() as $resource => $actions): ?>
                <tr>
                    <td colspan="<?= (count($profiles) + 1) ?>">
                        <h5><strong><?= ucwords($resource); ?></strong></h5>
                    </td>
                </tr>
                <?php foreach ($actions as $action => $free_from_subscription): ?>
                    <tr>
                        <td>
                            <?= ucfirst($this->acl->getActionDescription($action)); ?>
                            <?php 
                            if($free_from_subscription){
                                echo ' <span class="label label-success pull-right">Free</span>';
                            }
                            else{
                                echo ' <span class="label label-danger pull-right">Limited</span>';
                            }
                            ?>
                        </td>
                        <?php foreach ($profiles as $profile): ?>
                            <td class="center">
                                <label>
                                    <input name="<?= 'permissions[' . (string) $profile->getId() . '][' . $resource . '.' . $action . ']' ?>" class="ace ace-switch ace-switch-6" type="checkbox"<?= (array_key_exists($resource . '.' . $action, $permissions) && array_key_exists((string) $profile->getId(), $permissions[$resource . '.' . $action]) && $permissions[$resource . '.' . $action][(string) $profile->getId()]) ? ' checked' : '' ?>>
                                    <span class="lbl"></span>
                                </label>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?php echo $this->tag->submitButton(array('Mettre à jour', 'class' => 'btn btn-primary')); ?>
</form>
