<div class="page-header">
    <h1>
        Ajouter une cotisation sociale
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" role="form" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="short_code"> Code court </label>

                <div class="col-sm-9">
                    <input type="text" id="short_code" name="short_code" class="col-xs-10 col-sm-3">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="name"> Nom </label>

                <div class="col-sm-9">
                    <input type="text" id="name" name="name" class="col-xs-10 col-sm-5">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="base"> Base </label>

                <div class="col-sm-9">
                    <input type="text" id="base" name="base" class="col-xs-10 col-sm-5">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="employee_rate"> Taux salarial </label>

                <div class="col-sm-9">
                    <input type="text" id="employee_rate" name="employee_rate" class="col-xs-10 col-sm-3">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="boss_rate"> Taux patronal </label>

                <div class="col-sm-9">
                    <input type="text" id="boss_rate" name="boss_rate" class="col-xs-10 col-sm-3">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="type"> Type </label>

                <div class="col-sm-9">
                    <select name="type" id="type">
                        <option>Selectionner le type</option>
                        <option value="general">Régime général</option>
                        <option value="alsace">Régime Alsace Lorraine</option>
                        <option value="both">Les deux régimes</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
