<div class="page-header">
    <h1>
        Les cotisations sociales
        <a href="/social_cotis/add" class="btn btn-danger btn-sm pull-right"><i class="icon-plus-sign"></i> Ajouter une cotisation</a>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <table id="user-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Base</th>
                    <th>Taux salarial</th>
                    <th>Taux patronal</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($cotisations as $cotisation): ?>
                <tr>
                    <td><?= $cotisation->getShortCode(); ?></td>
                    <td><?= $cotisation->getName(); ?></td>
                    <td><?= $cotisation->getBase(); ?></td>
                    <td><?= $cotisation->getEmployeeRate(); ?></td>
                    <td><?= $cotisation->getBossRate(); ?></td>
                    <td><?= $cotisation->getType(); ?></td>
                    <td><a href="/social_cotis/delete/<?= $cotisation->getId() ?>" class="btn btn-minier">Supprimer</a></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
