<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <?php echo $this->tag->getTitle(); ?>
        <meta name="description" content="Simplifiez la gestion de vos contrats, vos plannings entre parents et assistantes maternelles agréés. Et bien d'autres choses encore...">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="nannyster, nounou, nounous, nourrices, nourrice, assistantes maternelles, assistante maternelle, assistante maternelle agréée, assistantes maternelles agréées, parent, parents, planning, contrat, plannings, contrats, gestion de nourrice, gestions de nourrices, gestion d'assistante maternelle, gestion d'assistantes maternelles, gestion d'assistante maternelle agréée, gestion d'assistantes maternelles agréées, gestion de planning nourrice, gestion de planning assitante maternelle agréée, planning nounou, trouver assistante maternelle agréée, trouver nourrice, trouver nounou">
        <meta name="author" content="Kevin BALINI">
        <meta name="copyright" content="&copy; <?= $this->config->application->siteTitle ?>">

        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <!-- Analytics -->
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-49205552-1', 'nannyster.fr');
            ga('send', 'pageview');
        </script>

        <!-- extras styles -->
        <?php echo $this->assets->outputCss(); ?>

        <!-- basic styles -->
        <?php echo $this->assets->outputCss('basicCss'); ?>

        <!-- theme styles -->
        <?php echo $this->assets->outputCss('themeCss'); ?>

        <!-- angular -->
        <?php //echo $this->assets->outputJs('angular');  ?>

        <!-- jQuery -->
        <?php echo $this->assets->outputJs('jQuery'); ?>

        <!--[if IE]>
        <?php echo $this->assets->outputJs('jQueryIE'); ?>
        <![endif]-->

        <!-- theme scripts -->
        <?php echo $this->assets->outputJs('themeJs'); ?>

    </head>

    <body class="login-layout blur-layout">
        <div class="main-container login-layout blur-login">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1>
                                    <?=
                                    $this->tag->image(array(
                                        'img/logo.png',
                                        'alt' => 'logo',
                                        'class' => 'logo-navbar'
                                    ))
                                    ?>
                                    <span class="white"><?= $this->config->application->siteTitle ?></span>
                                </h1>
                                <h4 class="blue" id="id-company-text">Site en maintenance</h4>
                            </div>

                            <div class="space-6"></div>

                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main center">
                                            Nous déployons actuellement de nouveaux services qui necéssitent l'arrêt de nos infrastructures.
                                            <br>
                                            Rendez-vous dans 2 heures maximum pour les découvrir.
                                        </div><!-- /.widget-main -->
                                    </div><!-- /.widget-body -->
                                </div><!-- /.login-box -->

                            </div><!-- /.position-relative -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container -->
    </body>
</html>
