<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="icon-sitemap"></i>
                        404
                    </span>
                    Page non trouvée
                </h1>

                <hr />
                <h3 class="lighter smaller">Nous avons cherché partout sans succès!</h3>

                <div>
                    <form class="form-search">
                        <span class="input-icon align-middle">
                            <i class="icon-search"></i>

                            <input type="text" class="search-query" placeholder="Tentez une recherche ..." />
                        </span>
                        <button class="btn btn-sm" onclick="return false;">Go!</button>
                    </form>

                    <div class="space"></div>
                    <h4 class="smaller">Pendant ce temps, essayez l'une des options suivantes:</h4>

                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li>
                            <i class="icon-hand-right blue"></i>
                            Vérifiez l'adresse si vous l'avez saisie manuellement
                        </li>

                        <li>
                            <i class="icon-hand-right blue"></i>
                            Lisez la FAQ
                        </li>

                        <li>
                            <i class="icon-hand-right blue"></i>
                            Envoyez nous un message
                        </li>
                    </ul>
                </div>

                <hr />
                <div class="space"></div>

                <div class="center">
                    <?php 
                        echo $this->tag->linkTo(array(
                            'index',
                            '<i class="icon-home"></i> Retour à l\'accueil',
                            'class' => 'btn btn-primary'
                        ));
                    ?>
                </div>
            </div>
        </div><!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->