<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="icon-random"></i>
                        500
                    </span>
                    Quelque chose s'est mal passé
                </h1>

                <hr />
                <h3 class="lighter smaller">
                    Mais nous travaillons déjà dessus
                    <i class="ace-icon icon-wrench icon-animated-wrench bigger-125"></i>
                </h3>

                <div class="space"></div>

                <div>
                    <h4 class="lighter smaller">Pendant ce temps, essayez l'une des options suivantes:</h4>

                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li>
                            <i class="icon-hand-right blue"></i>
                            Lisez la FAQ
                        </li>

                        <li>
                            <i class="icon-hand-right blue"></i>
                            Donnez nous plus d'info sur le contexte de cette erreur
                        </li>
                    </ul>
                </div>

                <hr />
                <div class="space"></div>

                <div class="center">
                    <?php 
                        echo $this->tag->linkTo(array(
                            'index',
                            '<i class="icon-home"></i> Retour à l\'accueil',
                            'class' => 'btn btn-primary'
                        ));
                    ?>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
