<div class="page-header">
    <h1>
        Achat d'abonnement
        <small>
            <i class="icon-double-angle-right"></i>
            <?= $subscription->getName(); ?>
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <h5 class="center">Vous souhaitez acheter <strong>"<?= $subscription->getDescription() ?>"</strong> pour un montant de <strong><?= $subscription->getPrice() ?>€</strong>. Veuillez renseigner vos informations de paiement ci-dessous.</h5>
            <form class="form-horizontal" id="credit-card-payment" role="form" action="/transactions/payment" method="post" autocomplete="off">
                <input type="hidden" name="subscription" value="<?= $subscription->getId() ?>" />
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="type"> Type de carte </label>

                    <div class="col-sm-4">
                        <div class="radio">
                            <label class="margin-right-20">
                                <input type="radio" class="ace" name="type" value="visa">
                                <span class="lbl profile-picture"> 
                                    <?=
                                    $this->tag->image(array(
                                        'img/visa.jpg',
                                        'alt' => 'logo',
                                        'width' => '80',
                                        'height' => '50'
                                    ))
                                    ?></span>
                            </label>
                            <label class="margin-right-20">
                                <input type="radio" class="ace" name="type" value="mastercard">
                                <span class="lbl profile-picture"> 
                                    <?=
                                    $this->tag->image(array(
                                        'img/mastercard.jpg',
                                        'alt' => 'logo',
                                        'width' => '80',
                                        'height' => '50'
                                    ))
                                    ?></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="number"> Numéro de carte </label>

                    <div class="col-sm-4">
                        <input type="number" id="number" name="number" class="col-xs-12">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="expire_month"> Expire le </label>

                    <div class="col-sm-4">
                        <select id="expire_month" name="expire_month" class="expire-group">
                            <option value=""></option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        /
                        <select name="expire_year" class="expire-group">
                            <option value=""></option>
                            <?php for ($i = 0; $i <= 10; $i++): ?>
                                <option value="<?= date('Y') + $i ?>"><?= date('Y') + $i ?></option>
                            <?php endfor; ?>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="cvv2"> Cryptogramme visuel </label>

                    <div class="col-sm-4">
                        <input type="number" id="cvv2" name="cvv2" class="col-xs-3">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="firstname"> Prénom </label>

                    <div class="col-sm-4">
                        <input type="text" id="firstname" name="firstname" class="col-xs-12">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="surname"> Nom </label>

                    <div class="col-sm-4">
                        <input type="text" id="surname" name="surname" class="col-xs-12">
                    </div>
                </div>

                <div class="form-group center col-sm-8 pull-right">
                    <a href="/subscriptions" class="margin-right-20">Annuler</a>
                    <button type="submit" id="process-payment" class="btn btn-primary">
                        <i class='icon-ok'></i> Procéder au paiement
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>