<div class="page-header">
    <h1>
        Abonnements
        <small>
            <i class="icon-double-angle-right"></i>
            Mensuel &amp; Annuel
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <h3>Votre abonnement actuel : "<?= $identity->getSubscription()->getSubscriptionBase()->getName() ?>"</h3>
                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="contract-profile-info-name">
                            Description
                        </div>
                        <div class="contract-profile-info-value">
                            <?= $identity->getSubscription()->getSubscriptionBase()->getDescription() ?>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="contract-profile-info-name">
                            Durée
                        </div>
                        <div class="contract-profile-info-value">
                            <?= ($identity->getSubscription()->getSubscriptionBase()->getDuration() > 0) ? $identity->getSubscription()->getSubscriptionBase()->getDuration() . ' mois' : 'Illimitée' ?>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="contract-profile-info-name">
                            Souscrit le
                        </div>
                        <div class="contract-profile-info-value">
                            <?= \Nannyster\Controllers\ControllerBase::returnDateTime($identity->getSubscription()->getStartDate(), 'date') ?>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="contract-profile-info-name">
                            Expire le
                        </div>
                        <div class="contract-profile-info-value">
                            <?php
                            if ($identity->getSubscription()->getExpired()) {
                                echo '<span class="label label-danger"><i class="icon-warning-sign"></i> Abonnement expiré!</span>';
                            }
                            if ($identity->getSubscription()->getEndDate()) {
                                echo \Nannyster\Controllers\ControllerBase::returnDateTime($identity->getSubscription()->getEndDate(), 'date');
                                if ((strtotime(date('Y-m-d')) + 2678400) >= ($identity->getSubscription()->getEndDate()->sec)) {
                                    echo ' <span class="label label-warning"><i class="icon-warning-sign"></i> Expire dans moins d\'un mois!</span>';
                                }
                            }
                            else {
                                echo ' <span class="label label-success">Illimité</span>';
                            }
                            ?>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="contract-profile-info-name">
                            Prix
                        </div>
                        <div class="contract-profile-info-value">
                            <?= ($identity->getSubscription()->getSubscriptionBase()->getPrice() > 0) ? $identity->getSubscription()->getSubscriptionBase()->getPrice() . '€' : 'Gratuit' ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 pricing-box">
                <div class="widget-box">
                    <div class="widget-header header-color-red3">
                        <h5 class="bigger lighter">Abonnement Annuel</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <ul class="list-unstyled spaced2">
                                <li>
                                    <i class="icon-ok green"></i>
                                    Contrats illimités
                                </li>

                                <li>
                                    <i class="icon-ok green"></i>
                                    Planning de garde illimité
                                </li>

                                <li>
                                    <i class="icon-ok green"></i>
                                    Messagerie interne illimitée
                                </li>
                            </ul>

                            <hr />
                            <div class="price">
                                20 €
                                <small>/an</small>
                            </div>
                            <div class="orange advantages center">
                                <i class="icon-star bigger-110"></i>
                                <span>2 MOIS OFFERTS</span>
                                <i class="icon-star bigger-110"></i>
                            </div>
                        </div>

                        <div>
                            <a href="/subscriptions/buy/53f30d0afa4634ad178b4569" class="btn btn-block btn-danger">
                                <i class="icon-shopping-cart bigger-110"></i>
                                <span>Acheter</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 pricing-box">
                <div class="widget-box">
                    <div class="widget-header header-color-orange">
                        <h5 class="bigger lighter">Abonnement Mensuel</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <ul class="list-unstyled spaced2">
                                <li>
                                    <i class="icon-ok green"></i>
                                    Contrats illimités
                                </li>

                                <li>
                                    <i class="icon-ok green"></i>
                                    Planning de garde illimité
                                </li>

                                <li>
                                    <i class="icon-ok green"></i>
                                    Messagerie interne illimitée
                                </li>
                            </ul>

                            <hr />
                            <div class="price">
                                2 €
                                <small>/mois</small>
                            </div>
                        </div>

                        <div>
                            <a href="/subscriptions/buy/53f30d0afa4634ad178b4568" class="btn btn-block btn-warning">
                                <i class="icon-shopping-cart bigger-110"></i>
                                <span>Acheter</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->