<div class="page-header">
    <h1>
        Gestion des abonnements
        <small>
            <i class="icon-double-angle-right"></i>

        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="subscriptions-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>Nom</th>
                                <th>Durée</th>
                                <th>Type</th>
                                <th>Prix</th>
                                <th>Active?</th>
                                <th>Visible?</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <?php foreach ($subscriptions as $subscription): ?>
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <?php
                                        echo $subscription->getName();
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                        echo $subscription->getDuration();
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                        echo $subscription->getAccessType();
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                        echo $subscription->getPrice();
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                        if (!$subscription->getActive()) {
                                            echo '<span class="label label-sm label-danger">Non</span>';
                                        }
                                        else {
                                            echo '<span class="label label-sm label-success">Oui</span>';
                                        }
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                        if (!$subscription->getVisible()) {
                                            echo '<span class="label label-sm label-danger">Non</span>';
                                        }
                                        else {
                                            echo '<span class="label label-sm label-success">Oui</span>';
                                        }
                                        ?>
                                    </td>

                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                            <?php
                                            echo $this->tag->linkTo(array(
                                                'subscriptions/edit/' . (string) $subscription->getId(),
                                                '<i class="icon-pencil bigger-130"></i>',
                                                'class' => 'green',
                                                'data-rel' => 'tooltip',
                                                'title' => 'Editer'
                                            ));
                                            echo $this->tag->linkTo(array(
                                                'subscriptions/delete/' . (string) $subscription->getId(),
                                                '<i class="icon-trash bigger-130"></i>',
                                                'class' => 'red',
                                                'id' => 'delete',
                                                'data-rel' => 'tooltip',
                                                'title' => 'Supprimer'
                                            ));
                                            ?>
                                        </div>
                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                            <div class="inline position-relative">
                                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-caret-down icon-only bigger-120"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <?php
                                                        echo $this->tag->linkTo(array(
                                                            'subscriptions/edit/' . (string) $subscription->getId(),
                                                            '<i class="icon-pencil bigger-130"></i>',
                                                            'class' => 'green',
                                                            'data-rel' => 'tooltip',
                                                            'title' => 'Editer'
                                                        ));
                                                        ?>
                                                    </li>

                                                    <li>
                                                        <?php
                                                        echo $this->tag->linkTo(array(
                                                            'subscriptions/delete/' . (string) $subscription->getId(),
                                                            '<i class="icon-trash bigger-130"></i>',
                                                            'class' => 'red',
                                                            'id' => 'delete',
                                                            'data-rel' => 'tooltip',
                                                            'title' => 'Supprimer'
                                                        ));
                                                        ?>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->