<div class="page-header">
    <h1>
        FAQ
        <small>
            <i class="icon-double-angle-right"></i>
            Foire aux questions
        </small>

    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="tabbable">
            <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                <!--										<li>
                                                            <a data-toggle="tab" href="#faq-tab-1">
                                                                <i class="blue icon-question-sign bigger-120"></i>
                                                                Général
                                                            </a>
                                                        </li>-->

                <li class="active">
                    <a data-toggle="tab" href="#faq-tab-2">
                        <i class="green icon-user bigger-120"></i>
                        Mon compte
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#faq-tab-3">
                        <i class="orange icon-credit-card bigger-120"></i>
                        Abonnements
                    </a>
                </li>

                <!--										<li class="dropdown">
                                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                                <i class="purple icon-magic bigger-120"></i>
                                                                Divers
                                                                <i class="icon-caret-down"></i>
                                                            </a>
                
                                                            <ul class="dropdown-menu dropdown-lighter dropdown-125">
                                                                <li>
                                                                    <a data-toggle="tab" href="#faq-tab-4"> Affiliates </a>
                                                                </li>
                
                                                                <li>
                                                                    <a data-toggle="tab" href="#faq-tab-4"> Merchants </a>
                                                                </li>
                                                            </ul>
                                                        </li> /.dropdown -->
            </ul>

            <div class="tab-content no-border padding-24">
                <!-- <div id="faq-tab-1" class="tab-pane fade in active">
                    <h4 class="blue">
                        <i class="icon-ok bigger-110"></i>
                        Questions Générales
                    </h4>

                    <div class="space-8"></div>

                    <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                    <i class="icon-user bigger-130"></i>
                                    &nbsp; High life accusamus terry richardson ad squid?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-1-1">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-1-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                    <i class="icon-sort-by-attributes-alt"></i>
                                    &nbsp; Can I have nested questions?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-1-2">
                                <div class="panel-body">
                                    <div id="faq-list-nested-1" class="panel-group accordion-style1 accordion-style2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#faq-list-1-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                                    &nbsp;
               Enim eiusmod high life accusamus terry?
                                                </a>
                                            </div>

                                            <div class="panel-collapse collapse" id="faq-list-1-sub-1">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#faq-list-1-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                                    &nbsp;
              Food truck quinoa nesciunt laborum eiusmod?
                                                </a>
                                            </div>

                                            <div class="panel-collapse collapse" id="faq-list-1-sub-2">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#faq-list-1-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                                    &nbsp;
              Cupidatat skateboard dolor brunch?
                                                </a>
                                            </div>

                                            <div class="panel-collapse collapse" id="faq-list-1-sub-3">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-1-3" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                    <i class="icon-credit-card bigger-130"></i>
                                    &nbsp; Single-origin coffee nulla assumenda shoreditch et?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-1-3">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-1-4" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                    <i class="icon-copy bigger-130"></i>
                                    &nbsp; Sunt aliqua put a bird on it squid?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-1-4">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-1-5" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                    <i class="icon-cog bigger-130"></i>
                                    &nbsp; Brunch 3 wolf moon tempor sunt aliqua put?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-1-5">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div id="faq-tab-2" class="tab-pane fade in active">
                    <h4 class="blue">
                        <i class="green icon-user bigger-110"></i>
                        Questions sur mon compte
                    </h4>

                    <div class="space-8"></div>

                    <div id="faq-list-2" class="panel-group accordion-style1 accordion-style2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-2-1" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    Mes données sont-elles en sécurité ?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-2-1">
                                <div class="panel-body">
                                    Oui. <?= $this->config->application->siteTitle ?> est entièrement sécurisé. Nous utilisons le protocole https pour les transferts de vos données entre nos infrastructures et vous. Ainsi, vos données sont cryptées et ne peuvent être interceptées. Vous pouvez vérifier le bon fonctionnement de ce protocole sécurisé, en vous assurant que l'adresse du site commence bien par <span class="green"><i class="icon-lock"></i> https://</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-2-2" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    A quoi vont servir toutes les informations que vous me demandez ?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-2-2">
                                <div class="panel-body">
                                    Toutes les informations que vous nous confiez ne nous servent qu'à remplir, pour vous, les différents documents que vous pouvez générer sur <?= $this->config->application->siteTitle ?>.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-2-3" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    Où sont stockées les informations de mon compte ?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-2-3">
                                <div class="panel-body">
                                    <?= $this->config->application->siteTitle ?> est hébergé chez <a href="https://www.digitalocean.com/?refcode=821fdda01cfa" target="_blank">DigitalOcean</a>. Toutes vos données sont stockées dans notre data center basé à Amsterdam.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-2-4" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    Je ne parviens pas à accéder à mon compte. Que faire ?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-2-4">
                                <div class="panel-body">
                                    Avez-vous validé votre adresse email lors de votre inscription? Si oui, vous pouvez utiliser notre utilitaire de réinitialisation de mot de passe <a href="/session/password">ici</a>.Si non, veuillez consulter vos emails pour valider votre compte. Si vous ne réussisez toujours pas à vous connecter, vous pouvez nous écrire à <a href="mailto:contact@<?= $this->config->application->domain ?>" target="_blank">contact@<?= $this->config->application->domain ?></a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="faq-tab-3" class="tab-pane fade">
                    <h4 class="blue">
                        <i class="orange icon-credit-card bigger-110"></i>
                        Questions sur les abonnements
                    </h4>

                    <div class="space-8"></div>

                    <div id="faq-list-3" class="panel-group accordion-style1 accordion-style2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-3-1" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    Les abonnements sont-ils cumulables ?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-3-1">
                                <div class="panel-body">
                                    Oui. Si votre abonnement actuel n'est pas expiré, la durée du nouvel abonnement que vous acheterez sera cumulée.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-3-2" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    Nous sommes parents employeurs. Devons-nous prendre deux abonnements ?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-3-2">
                                <div class="panel-body">
                                    Non. Lorsque vous êtes parent employeur, vous pouvez partager votre abonnement avec la personne de votre choix.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-3-3" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    Quels moyens de paiement acceptez-vous ?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-3-3">
                                <div class="panel-body">
                                    Pour l'instant nous n'acceptons que les paiement par carte bancaire. Il n'est pas impossible que dans un futur proche nous acceptions les paiements par chèque, mandat, etc. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div id="faq-tab-4" class="tab-pane fade">
                    <h4 class="blue">
                        <i class="purple icon-magic bigger-110"></i>
                        Miscellaneous Questions
                    </h4>

                    <div class="space-8"></div>

                    <div id="faq-list-4" class="panel-group accordion-style1 accordion-style2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-4-1" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-hand-right" data-icon-hide="icon-hand-down" data-icon-show="icon-hand-right"></i>
                                    &nbsp;
                                    Enim eiusmod high life accusamus terry richardson?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-4-1">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-4-2" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-frown bigger-120" data-icon-hide="icon-smile" data-icon-show="icon-frown"></i>
                                    &nbsp;
                                    Single-origin coffee nulla assumenda shoreditch et?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-4-2">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-4-3" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    Sunt aliqua put a bird on it squid?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-4-3">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-4-4" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    Brunch 3 wolf moon tempor sunt aliqua put?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-4-4">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="center">
            Votre question reste sans réponse? Ecrivez-nous à <a href="mailto:contact@<?= $this->config->application->domain ?>" target="_blank">contact@<?= $this->config->application->domain ?></a>
            <?php if($this->auth->hasIdentity()): ?>
            ou depuis <a href="/mailbox">la messagerie interne <?= $this->config->application->siteTitle ?></a>, écrivez à "<?= $this->config->application->siteTitle ?> CONTACT".
            <?php endif; ?>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->