<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<?php echo $this->tag->getTitle(); ?>
	<meta name="description" content="Simplifiez la gestion de vos contrats, vos plannings entre parents et assistantes maternelles agréés. Et bien d'autres choses encore...">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="nannyster, nounou, nounous, nourrices, nourrice, assistantes maternelles, assistante maternelle, assistante maternelle agréée, assistantes maternelles agréées, parent, parents, planning, contrat, plannings, contrats, gestion de nourrice, gestions de nourrices, gestion d'assistante maternelle, gestion d'assistantes maternelles, gestion d'assistante maternelle agréée, gestion d'assistantes maternelles agréées, gestion de planning nourrice, gestion de planning assitante maternelle agréée, planning nounou, trouver assistante maternelle agréée, trouver nourrice, trouver nounou">
	<meta name="author" content="Kevin BALINI">
	<meta name="copyright" content="&copy; <?= $this->config->application->siteTitle ?>">
	
	<link rel="icon" type="image/png" href="/img/favicon.png" />
	<!-- Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-49205552-1', 'nannyster.fr');
	ga('send', 'pageview');
	</script>

	<!-- extras styles -->
	<?php echo $this->assets->outputCss(); ?>
    
	<!-- basic styles -->
	<?php echo $this->assets->outputCss('basicCss'); ?>

	<!-- theme styles -->
	<?php echo $this->assets->outputCss('themeCss'); ?>
    
    <!-- angular -->
    <?php //echo $this->assets->outputJs('angular'); ?>

	<!-- jQuery -->
	<?php echo $this->assets->outputJs('jQuery'); ?>

	<!--[if IE]>
	<?php echo $this->assets->outputJs('jQueryIE'); ?>
	<![endif]-->

	<!-- theme scripts -->
	<?php echo $this->assets->outputJs('themeJs'); ?>

</head>

<body class="navbar-fixed breadcrumbs-fixed">
	
	<?php echo $this->getContent(); ?>

	<!--[if lte IE 8]>
	{{ javascript_include('js/excanvas.js') }}
	<![endif]-->

	<!-- extras js -->
	<?php echo $this->assets->outputJs(); ?>

	<!-- Menu active class designer -->
	<?php if(isset($activeClass)): ?>
		<script type="text/javascript">
		$('.<?php echo $activeClass; ?>').addClass('active');
		</script>
	<?php endif; ?>
	<?php if (isset($openTab)): ?>
		<script type="text/javascript">
		$('.<?php echo $openTab; ?>').addClass('open').addClass('active');
		$('.<?php echo $openTab; ?> > ul.submenu').attr('style', 'display: block;');
		</script>
	<?php endif; ?>
</body>
</html>
