# HTTP Server
#
server {
	listen   	80;
	server_name 	<%= node['nginx']['hostname'] %>;
    <% if node['nginx']['ssl'] == true -%>
	return		301 https://<%= node['nginx']['ssl_hostname_redirect'] %>$request_uri;
    <% else -%>
    set $root_path <%= node['nginx']['default_root'] %>;
 	root $root_path;
	index index.php index.html index.htm;

	try_files $uri $uri/ @rewrite;

	location @rewrite {
		rewrite ^/(.*) /index.php?_url=/$1;
	}

	location ~ \.php {
		fastcgi_pass 127.0.0.1:9000;
		fastcgi_index /index.php;
		
		include /etc/nginx/fastcgi_params;

		fastcgi_split_path_info		^(.+\.php)(/.+)$;
		fastcgi_param PATH_INFO		$fastcgi_path_info;
		fastcgi_param PATH_TRANSLATED	$document_root$fastcgi_path_info;
		fastcgi_param SCRIPT_FILENAME	$document_root$fastcgi_script_name;
        fastcgi_param APP_ENV           <%= node['nginx']['environment'] %>;


        proxy_buffer_size   128k;
        proxy_buffers   4 256k;
        proxy_busy_buffers_size   256k;
	}

	location ~* ^/(css|img|js|flv|swf|download)/(.+)$ {
		root $root_path;
	}

	location ~ /\.ht {
		deny all;
	}
    <% end -%>
}

<% if node['nginx']['ssl'] == true -%>
# HTTPS server
#
server {
	listen 443;
	server_name <%= node['nginx']['ssl_hostname'] %>;

	set $root_path <%= node['nginx']['default_root'] %>;
	root $root_path;
	index index.php index.html index.htm;

	try_files $uri $uri/ @rewrite;

	location @rewrite {
		rewrite ^/(.*) /index.php?_url=/$1;
	}

	location ~ \.php {
		fastcgi_pass 127.0.0.1:9000;
		fastcgi_index /index.php;
		
		include /etc/nginx/fastcgi_params;

		fastcgi_split_path_info		^(.+\.php)(/.+)$;
		fastcgi_param PATH_INFO		$fastcgi_path_info;
		fastcgi_param PATH_TRANSLATED	$document_root$fastcgi_path_info;
		fastcgi_param SCRIPT_FILENAME	$document_root$fastcgi_script_name;
        fastcgi_param APP_ENV           <%= node['nginx']['environment'] %>;
	}

	location ~* ^/(css|img|js|flv|swf|download)/(.+)$ {
		root $root_path;
	}

	location ~ /\.ht {
		deny all;
	}


	ssl on;
	ssl_certificate <%= node['nginx']['ssl_unified_key'] %>/ssl-unified.crt;
	ssl_certificate_key <%= node['nginx']['ssl_key_path'] %>/ssl.key;

#	ssl_session_timeout 5m;
#
#	ssl_protocols SSLv3 TLSv1;
#	ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP;
#	ssl_prefer_server_ciphers on;
#
#	location / {
#		try_files $uri $uri/ /index.html;
#	}
}
<% end -%>