<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <?php
            if ($this->auth->hasIdentity()) {
                echo $this->tag->linkTo(array(
                    'dashboard',
                    $this->tag->image(array(
                        'img/logo.png',
                        'alt' => 'logo',
                        'class' => 'logo-navbar'
                    )) . ' ' . $this->config->application->siteTitle,
                    'class' => 'navbar-brand'));
            }
            else {
                echo $this->tag->linkTo(array(
                    'index',
                    $this->tag->image(array(
                        'img/logo.png',
                        'alt' => 'logo',
                        'class' => 'logo-navbar'
                    )) . ' ' . $this->config->application->siteTitle,
                    'class' => 'navbar-brand'));
            }
            ?><!-- /.brand -->
            <?php
            if ($this->config->application->isInMaintenance) {
                echo '<span class="btn-danger navbar-brand"><i class="icon-warning-sign"></i> Mode Maintenance Actif <i class="icon-warning-sign"></i></span>';
            }
            ?>
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <!--                <li class="light-blue">-->
                <!-- fullscreen button -->
<!--                    <a href="javascript:void(0);" onclick="launchFullscreen(document.documentElement);"><i class="icon-fullscreen"></i> Plein écran</a>
            </li>-->
                <?php if ($this->auth->hasIdentity()): ?>
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="/users/view" class="dropdown-toggle">
                            <?php
                            echo $this->tag->image(array(
                                'img/avatars/thumbs/' . $identity->getAvatarFile(),
                                'alt' => $identity->getFormatedName(),
                                'class' => 'nav-user-photo'
                            ));
                            ?>
                            <span class="user-info">
                                <small>Bienvenue,</small>
                                <?php echo $identity->getFormatedName(); ?>
                            </span>

                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <?php
                                echo $this->tag->linkTo(array(
                                    'session/lock',
                                    '<i class="icon-lock"></i> Vérrouiller ma session'
                                ));
                                ?>
                            </li>
                            <li>
                                <?php
                                echo $this->tag->linkTo(array(
                                    'session/logout',
                                    '<i class="icon-signout"></i> Déconnexion'
                                ));
                                ?>
                            </li>
                        </ul>
                    </li>
                <?php else: ?>
                    <!--                    <li class="grey">
                                            <a  href="/session/signup">
                                                <i class="icon-star"></i> S'inscrire
                                            </a>
                                        </li>
                                        <li class="light-blue">
                                            <a  href="/session/login">
                                                <i class="icon-signin"></i> Se connecter
                                            </a>
                                        </li>-->
                <?php endif; ?>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar sidebar-fixed" id="sidebar">

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <?php
                    if ($this->acl->isAllowed($profile, 'dashboard', 'index')) {
                        echo $this->tag->linkTo(array(
                            'dashboard',
                            '<i class="icon-dashboard"></i>',
                            'class' => 'btn btn-success',
                            'data-rel' => 'tooltip',
                            'data-placement' => 'bottom',
                            'data-original-title' => 'Tableau de bord'
                        ));
                    }
                    else {
                        echo $this->tag->linkTo(array(
                            'index',
                            '<i class="icon-home"></i>',
                            'class' => 'btn btn-success',
                            'data-rel' => 'tooltip',
                            'data-placement' => 'bottom',
                            'data-original-title' => 'Accueil'
                        ));
                    }
                    ?>
                    <?php
                    if ($this->acl->isAllowed($profile, 'index', 'index')) {
                        echo $this->tag->linkTo(array(
                            'session/login',
                            '<i class="icon-user"></i>',
                            'class' => 'btn btn-info',
                            'data-rel' => 'tooltip',
                            'data-placement' => 'bottom',
                            'data-original-title' => 'Se connecter'
                        ));
                    }
                    else {
                        echo $this->tag->linkTo(array(
                            'users/view',
                            '<i class="icon-user"></i>',
                            'class' => 'btn btn-info',
                            'data-rel' => 'tooltip',
                            'data-placement' => 'bottom',
                            'data-original-title' => 'Mon Profil'
                        ));
                    }
                    ?>
                    <?php
                    if ($this->acl->isAllowed($profile, 'calendar', 'index')) {
                        echo $this->tag->linkTo(array(
                            'calendar',
                            '<i class="icon-calendar"></i>',
                            'class' => 'btn btn-warning',
                            'data-rel' => 'tooltip',
                            'data-placement' => 'bottom',
                            'data-original-title' => 'Mon Agenda'
                        ));
                    }
                    else {
                        echo $this->tag->linkTo(array(
                            '#',
                            '<i class="icon-calendar"></i>',
                            'class' => 'btn btn-warning',
                            'data-rel' => 'tooltip',
                            'data-placement' => 'bottom',
                            'data-original-title' => 'Non autorisé'
                        ));
                    }
                    ?>
                    <?php
                    if ($this->acl->isAllowed($profile, 'contracts', 'index')) {
                        echo $this->tag->linkTo(array(
                            'contracts',
                            '<i class="icon-file-text"></i>',
                            'class' => 'btn btn-danger',
                            'data-rel' => 'tooltip',
                            'data-placement' => 'bottom',
                            'data-original-title' => 'Mes Contrats'
                        ));
                    }
                    else {
                        echo $this->tag->linkTo(array(
                            '#',
                            '<i class="icon-file-text"></i>',
                            'class' => 'btn btn-danger',
                            'data-rel' => 'tooltip',
                            'data-placement' => 'bottom',
                            'data-original-title' => 'Non autorisé'
                        ));
                    }
                    ?>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- #sidebar-shortcuts -->

            <ul class="nav nav-list">
                <?php if ($this->acl->isAllowed($profile, 'administration', 'index')): ?>
                    <li class="administration">
                        <?php
                        echo $this->tag->linkTo(array(
                            'administration',
                            '<i class="icon-desktop"></i><span class="menu-text"> Administration </span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'dashboard', 'index')): ?>
                    <li class="dashboard">
                        <?php
                        echo $this->tag->linkTo(array(
                            'dashboard',
                            '<i class="icon-dashboard"></i><span class="menu-text"> Tableau de bord </span>'
                        ));
                        ?>
                    </li>
                <?php else: ?>
                    <li class="index">
                        <?php
                        echo $this->tag->linkTo(array(
                            'index',
                            '<i class="icon-home"></i><span class="menu-text"> Accueil </span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'session', 'login')): ?>
                    <li class="login">
                        <?php
                        echo $this->tag->linkTo(array(
                            'session/login',
                            '<i class="icon-signin"></i><span class="menu-text"> Connexion<br>Inscription </span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'calendar', 'index')): ?>
                    <li class="calendar">
                        <?php
                        echo $this->tag->linkTo(array(
                            'calendar',
                            '<i class="icon-calendar"></i><span class="menu-text"> Planning </span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'contracts', 'index')): ?>
                    <li class="contracts">
                        <?php
                        echo $this->tag->linkTo(array(
                            'contracts',
                            '<i class="icon-file-text"></i><span class="menu-text"> Contrats </span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'mailbox', 'index')): ?>
                    <li class="mailbox">
                        <?php
                        echo $this->tag->linkTo(array(
                            'mailbox',
                            '<i class="icon-envelope' . (($newMail > 0) ? ' icon-animated-vertical' : '') . '"></i><span class="menu-text"> Messagerie </span>' . (($newMail > 0) ? '<span id="badge-nb-mail" class="badge badge-important">' . $newMail . '</span>' : '')
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'payrolls', 'index')): ?>
                    <li class="payrolls">
                        <?php
                        echo $this->tag->linkTo(array(
                            'payrolls',
                            '<i class="icon-eur"></i><span class="menu-text"> Fiches de paie <span class="label label-danger arrowed-in-right arrowed-in">Later</span></span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'notifications', 'index')): ?>
                    <li class="notifications">
                        <?php
                        echo $this->tag->linkTo(array(
                            'notifications',
                            '<i class="icon-bell-alt icon-animated-bell"></i><span class="menu-text"> Notifications <span class="label label-danger arrowed-in-right arrowed-in">Later</span></span>',
                            'class' => 'dropdown-toggle',
                            'data-toggle' => 'dropdown'
                        ));
                        ?>
                        <ul class="pull-left dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-warning-sign"></i>
                                8 Notifications
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-pink icon-comment"></i>
                                            New Comments
                                        </span>
                                        <span class="pull-right badge badge-info">+12</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="btn btn-xs btn-primary icon-user"></i>
                                    Bob just signed up as an editor ...
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
                                            New Orders
                                        </span>
                                        <span class="pull-right badge badge-success">+8</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-info icon-twitter"></i>
                                            Followers
                                        </span>
                                        <span class="pull-right badge badge-info">+11</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    See all notifications
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'gallery', 'index')): ?>
                    <li class="gallery">
                        <?php
                        echo $this->tag->linkTo(array(
                            'gallery',
                            '<i class="icon-picture"></i><span class="menu-text"> Galerie Photo <span class="label label-danger arrowed-in-right arrowed-in">Later</span></span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'timeline', 'index')): ?>
                    <li class="timeline">
                        <?php
                        echo $this->tag->linkTo(array(
                            'timeline',
                            '<i class="icon-time"></i><span class="menu-text"> Timeline <span class="label label-warning arrowed-in-right arrowed-in">New</span></span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'blog', 'index')): ?>
                    <li class="blog">
                        <?php
                        echo $this->tag->linkTo(array(
                            'blog',
                            '<i class="icon-comment"></i><span class="menu-text"> Blog <span class="label label-danger arrowed-in-right arrowed-in">Later</span></span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'directory', 'index')): ?>
                    <li class="directory">
                        <?php
                        echo $this->tag->linkTo(array(
                            'directory',
                            '<i class="icon-book"></i><span class="menu-text"> Annuaire <span class="label label-danger arrowed-in-right arrowed-in">Later</span></span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'faq', 'index')): ?>
                    <li class="faq">
                        <?php
                        echo $this->tag->linkTo(array(
                            'faq',
                            '<i class="icon-question-sign"></i><span class="menu-text"> FAQ </span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed($profile, 'taxes', 'index')): ?>
                    <li class="taxes">
                        <?php
                        echo $this->tag->linkTo(array(
                            'taxes',
                            '<i class="icon-money"></i><span class="menu-text"> Impôts <span class="label label-danger arrowed-in-right arrowed-in">Later</span></span>'
                        ));
                        ?>
                    </li>
                <?php endif; ?>
                <?php if ($this->auth->hasIdentity()): ?>
                    <li class="account">
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-cog"></i>
                            <span class="menu-text"> Mon compte </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <?php if ($this->acl->isAllowed($profile, 'users', 'view')): ?>
                                <li class="profil">
                                    <?php
                                    echo $this->tag->linkTo(array(
                                        'users/view',
                                        '<i class="icon-double-angle-right"></i> Profil'
                                    ));
                                    ?>
                                </li>
                            <?php endif; ?>
                            <?php if ($this->acl->isAllowed($profile, 'subscriptions', 'index')): ?>
                                <li class="subscriptions">
                                    <?php
                                    echo $this->tag->linkTo(array(
                                        'subscriptions',
                                        '<i class="icon-double-angle-right"></i> Abonnements'
                                    ));
                                    ?>
                                </li>
                            <?php endif; ?>
                            <?php if ($this->acl->isAllowed($profile, 'invoices', 'index')): ?>
                                <li class="invoices">
                                    <?php
                                    echo $this->tag->linkTo(array(
                                        'invoices',
                                        '<i class="icon-double-angle-right"></i> Factures'
                                    ));
                                    ?>
                                </li>
                            <?php endif; ?>
                        </ul>
                    </li>
                <?php endif; ?>
            </ul><!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse" data-rel="tooltip" data-placement="right" data-original-title="Agrandir où réduire le menu">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed')
                } catch (e) {
                }
            </script>
        </div>

        <div class="main-content">
            <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <?=
                        $this->auth->hasIdentity() ? '<i class="icon-dashboard home-icon"></i>' : '<i class="icon-home home-icon"></i>';
                        ?>

                        <?php
                        echo $this->tag->linkTo(array(
                            $this->auth->hasIdentity() ? 'dashboard' : 'index',
                            $this->auth->hasIdentity() ? 'Tableau de bord' : 'Accueil'));
                        ?>
                    </li>
                    <?php
                    if (isset($breadcrumbs)):
                        foreach ($breadcrumbs as $k => $v):
                            ?>
                            <?php if (array_key_exists('last', $v)): ?>
                                <li class="active"><?php echo $k; ?></li>
                            <?php else: ?>
                                <li>
                                    <?php
                                    echo $this->tag->linkTo(array(
                                        $v['controller'] . '/' . $v['action'],
                                        $k));
                                    ?>
                                </li>
                            <?php endif; ?>
                            <?php
                        endforeach;
                    endif;
                    ?>
                </ul><!-- .breadcrumb -->

                <!--                <div class="nav-search" id="nav-search">
                                    <form class="form-search">
                                        <span class="input-icon">
                                            <input type="text" placeholder="Rechercher ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                            <i class="icon-search nav-search-icon"></i>
                                        </span>
                                    </form>
                                </div> #nav-search -->
            </div>


            <div class="page-content">
                <noscript>
                <div class="alert alert-danger"><i class="icon-warning-sign bigger-300" style="float: left; margin-right: 5px;"></i> Il semble que vous avez désactivé l'execution de javacript. Afin de vous procurer une expérience de navigation optimale, le site <?php echo $this->config->application->siteTitle; ?> utilise le javascript. Une majorité de fonctionnalités ne seront donc pas accessibles. Nous vous recommendons donc fortement d'activer l'execution de javascript sur votre machine. Pour cela, rendez-vous dans la section paramètres de votre navigateur.</div>
                </noscript>
                <?php echo $this->flash->output(); ?>
                <?php echo $this->flashSession->output(); ?>
                <?php echo (isset($showAlert) ? $showAlert : ''); ?>
                <?php echo $this->getContent(); ?>
            </div>
            <div class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
                        <span class="bigger-110">
                            <span class="blue bolder"><?php echo $this->config->application->siteTitle; ?></span>
                            © 2013 - <?php echo date('Y'); ?>
                        </span>

                        &nbsp; &nbsp;
                        <span class="action-buttons">
                            <a href="https://twitter.com/Nannyster">
                                <i class="ace-icon icon-twitter-sign light-blue bigger-150"></i>
                            </a>

                            <a href="https://www.facebook.com/nannyster.fr">
                                <i class="ace-icon icon-facebook-sign text-primary bigger-150"></i>
                            </a>

                            <a href="https://plus.google.com/+NannysterFr">
                                <i class="ace-icon icon-google-plus-sign red bigger-150"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <!--            <div class="footer">
                            2014 &copy; <?php echo $this->config->application->siteTitle; ?>
                        </div>-->
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->